/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'MuseoSans';
  font-weight: 100;
  src: url("../fonts/MuseoSans-100.eot");
  src: url("../fonts/MuseoSans-100.eot") format("embedded-opentype"), url("../fonts/MuseoSans-100.woff2") format("woff2"), url("../fonts/MuseoSans-100.woff") format("woff"), url("../fonts/MuseoSans-100.ttf") format("truetype"), url("../fonts/MuseoSans-100.otf") format("truetype"), url("../fonts/MuseoSans-100.svg#font") format("svg");
}
@font-face {
  font-family: 'MuseoSans';
  font-weight: 300;
  src: url("../fonts/MuseoSans-300.eot");
  src: url("../fonts/MuseoSans-300.eot") format("embedded-opentype"), url("../fonts/MuseoSans-300.woff2") format("woff2"), url("../fonts/MuseoSans-300.woff") format("woff"), url("../fonts/MuseoSans-300.ttf") format("truetype"), url("../fonts/MuseoSans-300.otf") format("truetype"), url("../fonts/MuseoSans-300.svg#font") format("svg");
}
@font-face {
  font-family: 'MuseoSans';
  font-weight: 500;
  src: url("../fonts/MuseoSans-500.eot");
  src: url("../fonts/MuseoSans-500.eot") format("embedded-opentype"), url("../fonts/MuseoSans-500.woff2") format("woff2"), url("../fonts/MuseoSans-500.woff") format("woff"), url("../fonts/MuseoSans-500.ttf") format("truetype"), url("../fonts/MuseoSans-500.otf") format("truetype"), url("../fonts/MuseoSans-500.svg#font") format("svg");
}
@font-face {
  font-family: 'MuseoSans';
  font-weight: 700;
  src: url("../fonts/MuseoSans-700.eot");
  src: url("../fonts/MuseoSans-700.eot") format("embedded-opentype"), url("../fonts/MuseoSans-700.woff2") format("woff2"), url("../fonts/MuseoSans-700.woff") format("woff"), url("../fonts/MuseoSans-700.ttf") format("truetype"), url("../fonts/MuseoSans-700.otf") format("truetype"), url("../fonts/MuseoSans-700.svg#font") format("svg");
}
@font-face {
  font-family: 'MuseoSans';
  font-weight: 900;
  src: url("../fonts/MuseoSans-900.eot");
  src: url("../fonts/MuseoSans-900.eot") format("embedded-opentype"), url("../fonts/MuseoSans-900.woff2") format("woff2"), url("../fonts/MuseoSans-900.woff") format("woff"), url("../fonts/MuseoSans-900.ttf") format("truetype"), url("../fonts/MuseoSans-900.otf") format("truetype"), url("../fonts/MuseoSans-900.svg#font") format("svg");
}
body {
  font-family: "MuseoSans", sans-serif;
}

picture img {
  width: 100%;
}

a {
  position: relative;
  padding-bottom: .4rem;
}
a:after {
  content: '';
  background-color: #f3c828;
  position: absolute;
  height: .4rem;
  bottom: 0;
  left: 0;
  width: 0;
}
a:hover, a:focus {
  text-decoration: none;
}
a:hover:after, a:focus:after {
  width: 100%;
}

.container-fluid.bg-blue {
  background-image: url(../img/blue-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tablet */
/* Mobile */
header .brand-bar {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: end;
}
header .logo {
  width: 24rem;
  padding-bottom: 0;
}
header .logo:after {
  display: none;
}
header .logo img {
  width: 100%;
}
header form {
  flex-basis: 40%;
  margin: 0 5%;
}
header form .search-box {
  position: relative;
  margin-top: 1.2rem;
}
header form .search-box label {
  position: absolute;
  left: 999.9rem;
}
header form .search-box input[type='text'] {
  width: 100%;
  height: 4.2rem;
  font-size: 1.4rem;
  color: #1d4789;
  padding-left: 2rem;
  padding-right: 4rem;
  font-weight: 500;
}
header form .search-box ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1d4789;
  text-transform: uppercase;
}
header form .search-box ::-moz-placeholder {
  /* Firefox 19+ */
  color: #1d4789;
  text-transform: uppercase;
}
header form .search-box :-ms-input-placeholder {
  /* IE 10+ */
  color: #1d4789;
  text-transform: uppercase;
}
header form .search-box :-moz-placeholder {
  /* Firefox 18- */
  color: #1d4789;
  text-transform: uppercase;
}
header form .search-box .search-button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 4.2rem;
  width: 3rem;
  border: none;
  background: none;
}
header form .search-box .search-button img {
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0.4rem;
}
header .call-us {
  text-align: right;
  color: #6d6e71;
  font-size: 1.4rem;
  margin-top: 0.9rem;
  min-width: 24rem;
}
header .call-us strong {
  display: block;
  font-size: 3rem;
  color: #1d4789;
  font-weight: 900;
}
header .navbar {
  margin-bottom: 0;
}
header .navbar-default {
  background-color: #1d4789;
  border: 0;
  border-radius: 0;
}
header .navbar-default .navbar-collapse {
  padding: 0;
}
header .navbar-default .navbar-nav li.active a {
  color: #f3c828;
  background-color: transparent;
}
header .navbar-default .navbar-nav li.active a:hover, header .navbar-default .navbar-nav li.active a:focus, header .navbar-default .navbar-nav li.active a:active {
  color: #f3c828;
  background-color: transparent;
}
header .navbar-default .navbar-nav li.active a:after {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #f3c828;
}
header .navbar-default .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
  padding: 1.5rem 0;
  margin-right: 1.6rem;
}
header .navbar-default .navbar-nav li a:hover, header .navbar-default .navbar-nav li a:focus, header .navbar-default .navbar-nav li a:active {
  color: #f3c828;
}
header .navbar-default .navbar-toggle {
  overflow: hidden;
  border: none;
}
header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
header .navbar-default .navbar-toggle .icon-bar {
  transition: opacity, transform;
  transition-duration: 2ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  background-color: #fff;
}
header .navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
header .navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}
header .navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
header .call-btn, header .search-btn {
  display: none;
}

/* Tablet */
/* Mobile */
@media (max-width: 767px) {
  header .brand-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header .logo {
    text-align: center;
    width: 100%;
  }
  header .logo img {
    width: 14rem;
  }
  header form {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 11rem;
  }
  header form.show {
    display: block;
  }
  header .call-us {
    display: none;
  }
  header .nav {
    margin-left: 0;
  }
  header .navbar {
    min-height: 4rem;
  }
  header .navbar-default {
    background-color: #1d4789;
    border: 0;
    border-radius: 0;
  }
  header .navbar-default .navbar-collapse {
    padding: 0;
  }
  header .navbar-default .navbar-nav li a {
    padding-left: 1.5rem;
  }
  header .navbar-header {
    display: flex;
    justify-content: flex-end;
  }
  header .navbar-header a {
    padding: 0;
  }
  header .navbar-header a:after {
    display: none;
  }
  header .navbar-header a.search-btn {
    display: block;
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 4rem;
    height: 4rem;
  }
  header .navbar-header a.search-btn img {
    position: absolute;
    transform: translate(50%, 50%);
  }
  header .navbar-header a.call-btn {
    display: block;
    text-align: center;
    flex-basis: calc(100% - 100px);
    color: white;
    display: block;
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: 900;
  }
  header .navbar-toggle {
    margin: 0 1rem 0 0;
  }
}
footer {
  padding: 3rem  0;
}
footer .container {
  display: flex;
}
footer .logo-container {
  max-width: 14rem;
  flex-basis: 28rem;
}
footer .logo-container .logo {
  max-width: 100%;
}
footer .nav-links {
  margin: 0 1%;
  flex: 1;
}
footer .nav-links .footer-links {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.3rem;
}
footer .nav-links .footer-links li {
  display: inline-block;
}
footer .nav-links .footer-links li a {
  color: #1d4789;
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: .5rem;
  line-height: 1.8;
  letter-spacing: 0.15rem;
}
footer .nav-links .footer-links li a:hover, footer .nav-links .footer-links li a:active, footer .nav-links .footer-links li a:focus {
  text-decoration: none;
  color: #f3c828;
}
footer .nav-links .footer-links li a:hover:after, footer .nav-links .footer-links li a:active:after, footer .nav-links .footer-links li a:focus:after {
  bottom: 0.3rem;
  height: 0.3rem;
}
footer .copyright {
  text-align: center;
  color: #707070;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
footer .social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.3rem;
}
footer .social-links li {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: .1rem;
}
footer .social-links li:last-of-type {
  margin-right: 0;
}
footer .social-links li a {
  display: block;
  padding-bottom: 0;
  width: 3.5rem;
  height: 3.5rem;
}
footer .social-links li a:after {
  display: none;
}
footer .social-links li.linkedin a {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%202%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M0%2034h34V0H0zm12.23-9.9H8.92V13.51h3.32zm2-10.61H18v1.67a3.4%203.4%200%200%201%203.31-1.77c2.36%200%204.21%201.53%204.21%204.81v5.9h-3.78v-5.47c0-1.44-.59-2.42-1.88-2.42a1.9%201.9%200%200%200-1.79%201.3%202.44%202.44%200%200%200-.08.87v5.74h-3.73s.05-9.73%200-10.61zm-3.74-5a1.85%201.85%200%201%201%200%203.68%201.84%201.84%200%200%201-2-1.84%201.86%201.86%200%200%201%202.02-1.83z%22%20fill%3D%22%232b508c%22%20data-name%3D%22Isolation%20Mode%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
footer .social-links li.linkedin a:hover, footer .social-links li.linkedin a:active, footer .social-links li.linkedin a:focus {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%202%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M0%2034h34V0H0zm12.23-9.9H8.92V13.51h3.32zm2-10.61H18v1.67a3.4%203.4%200%200%201%203.31-1.77c2.36%200%204.21%201.53%204.21%204.81v5.9h-3.78v-5.47c0-1.44-.59-2.42-1.88-2.42a1.9%201.9%200%200%200-1.79%201.3%202.44%202.44%200%200%200-.08.87v5.74h-3.73s.05-9.73%200-10.61zm-3.74-5a1.85%201.85%200%201%201%200%203.68%201.84%201.84%200%200%201-2-1.84%201.86%201.86%200%200%201%202.02-1.83z%22%20fill%3D%22%23f3c828%22%20data-name%3D%22Isolation%20Mode%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
footer .social-links li.facebook a {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%203%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M0%2034h34V0H0zm12.91-19.87h1.76v-1.71a4.57%204.57%200%200%201%20.57-2.64A3.13%203.13%200%200%201%2018%208.5a11.05%2011.05%200%200%201%203.15.32l-.44%202.61a5.94%205.94%200%200%200-1.42-.21c-.68%200-1.3.25-1.3.93v2h2.8l-.2%202.54H18v8.84h-3.3v-8.85h-1.79z%22%20fill%3D%22%232b508c%22%20data-name%3D%22Isolation%20Mode%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
footer .social-links li.facebook a:hover, footer .social-links li.facebook a:active, footer .social-links li.facebook a:focus {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%203%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M0%2034h34V0H0zm12.91-19.87h1.76v-1.71a4.57%204.57%200%200%201%20.57-2.64A3.13%203.13%200%200%201%2018%208.5a11.05%2011.05%200%200%201%203.15.32l-.44%202.61a5.94%205.94%200%200%200-1.42-.21c-.68%200-1.3.25-1.3.93v2h2.8l-.2%202.54H18v8.84h-3.3v-8.85h-1.79z%22%20fill%3D%22%23f3c828%22%20data-name%3D%22Isolation%20Mode%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
footer .social-links li.youtube a {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%204%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cg%20data-name%3D%22Isolation%20Mode%22%20fill%3D%22%232b508c%22%3E%3Cpath%20d%3D%22M14.75%2013.75v6.54l5.57-3.27-5.57-3.27z%22%2F%3E%3Cpath%20d%3D%22M0%2034h34V0H0zm8.51-20a2.87%202.87%200%200%201%202.93-3h11.15a2.87%202.87%200%200%201%202.93%203v6.08A2.87%202.87%200%200%201%2022.59%2023H11.44a2.87%202.87%200%200%201-2.93-2.93z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
footer .social-links li.youtube a:hover, footer .social-links li.youtube a:active, footer .social-links li.youtube a:focus {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%204%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cg%20data-name%3D%22Isolation%20Mode%22%20fill%3D%22%23f3c828%22%3E%3Cpath%20d%3D%22M14.75%2013.75v6.54l5.57-3.27-5.57-3.27z%22%2F%3E%3Cpath%20d%3D%22M0%2034h34V0H0zm8.51-20a2.87%202.87%200%200%201%202.93-3h11.15a2.87%202.87%200%200%201%202.93%203v6.08A2.87%202.87%200%200%201%2022.59%2023H11.44a2.87%202.87%200%200%201-2.93-2.93z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
footer .social-links li.twitter a {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%205%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M0%2034h34V0H0zm10.41-14.7a3.46%203.46%200%200%200%20.66.06%203.41%203.41%200%200%200%20.92-.12%203.5%203.5%200%200%201-2.8-3.43%203.49%203.49%200%200%200%201.58.44%203.5%203.5%200%200%201-1.08-4.67%209.92%209.92%200%200%200%207.2%203.65%203.5%203.5%200%200%201%206-3.19%207%207%200%200%200%202.22-.85%203.5%203.5%200%200%201-1.54%201.93%207%207%200%200%200%202-.55%207.08%207.08%200%200%201-1.74%201.81v.45A9.94%209.94%200%200%201%208.5%2023.19a7.12%207.12%200%200%200%20.83%200%207%207%200%200%200%204.34-1.5%203.5%203.5%200%200%201-3.26-2.37z%22%20fill%3D%22%232b508c%22%20data-name%3D%22Isolation%20Mode%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
footer .social-links li.twitter a:hover, footer .social-links li.twitter a:active, footer .social-links li.twitter a:focus {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%205%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cpath%20d%3D%22M0%2034h34V0H0zm10.41-14.7a3.46%203.46%200%200%200%20.66.06%203.41%203.41%200%200%200%20.92-.12%203.5%203.5%200%200%201-2.8-3.43%203.49%203.49%200%200%200%201.58.44%203.5%203.5%200%200%201-1.08-4.67%209.92%209.92%200%200%200%207.2%203.65%203.5%203.5%200%200%201%206-3.19%207%207%200%200%200%202.22-.85%203.5%203.5%200%200%201-1.54%201.93%207%207%200%200%200%202-.55%207.08%207.08%200%200%201-1.74%201.81v.45A9.94%209.94%200%200%201%208.5%2023.19a7.12%207.12%200%200%200%20.83%200%207%207%200%200%200%204.34-1.5%203.5%203.5%200%200%201-3.26-2.37z%22%20fill%3D%22%23f3c828%22%20data-name%3D%22Isolation%20Mode%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
footer .social-links li.instagram a {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%206%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cg%20data-name%3D%22Isolation%20Mode%22%20fill%3D%22%232b508c%22%3E%3Cpath%20d%3D%22M23.53%2013.34v-2.88h-.37l-2.51.01.01%202.88%202.87-.01z%22%2F%3E%3Cpath%20d%3D%22M0%200v34h34V0zm25.5%2015.26v7a3.29%203.29%200%200%201-3.29%203.29H11.78a3.29%203.29%200%200%201-3.29-3.29V11.79a3.29%203.29%200%200%201%203.29-3.29h10.43a3.29%203.29%200%200%201%203.29%203.29z%22%2F%3E%3Cpath%20d%3D%22M17%2021.5a4%204%200%201%200-4-4%204%204%200%200%200%204%204z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}
footer .social-links li.instagram a:hover, footer .social-links li.instagram a:active, footer .social-links li.instagram a:focus {
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2034.02%2034.02%22%3E%3Ctitle%3EAsset%206%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%202%22%3E%3Cg%20data-name%3D%22Isolation%20Mode%22%20fill%3D%22%23f3c828%22%3E%3Cpath%20d%3D%22M23.53%2013.34v-2.88h-.37l-2.51.01.01%202.88%202.87-.01z%22%2F%3E%3Cpath%20d%3D%22M0%200v34h34V0zm25.5%2015.26v7a3.29%203.29%200%200%201-3.29%203.29H11.78a3.29%203.29%200%200%201-3.29-3.29V11.79a3.29%203.29%200%200%201%203.29-3.29h10.43a3.29%203.29%200%200%201%203.29%203.29z%22%2F%3E%3Cpath%20d%3D%22M17%2021.5a4%204%200%201%200-4-4%204%204%200%200%200%204%204z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

/* Mobile */
@media (max-width: 767px) {
  footer {
    padding: 4.5rem 0;
  }
  footer .container {
    display: flex;
    flex-flow: row wrap;
  }
  footer .logo-container {
    text-align: center;
    flex: 1;
    max-width: 100%;
  }
  footer .logo-container img {
    width: 14rem;
  }
  footer .nav-links {
    padding: 2.5rem 0 3.3rem;
    flex: 1 100%;
  }
  footer .nav-links .footer-links {
    margin-bottom: 0.3rem;
  }
  footer .nav-links .footer-links li a {
    line-height: 1.4;
  }
  footer .nav-links .footer-links li a:after {
    height: 0.2rem;
    bottom: .4rem;
  }
  footer .social-links {
    margin-top: 0;
    justify-content: center;
    flex: 1;
  }
}
.carousel .carousel-control {
  opacity: 1;
  background-image: none;
  width: 0;
  bottom: auto;
  top: 19%;
}
.carousel .carousel-control:focus .glyphicon-chevron-left, .carousel .carousel-control:focus .icon-prev, .carousel .carousel-control:focus .glyphicon-chevron-right, .carousel .carousel-control:focus .icon-next, .carousel .carousel-control:hover .glyphicon-chevron-left, .carousel .carousel-control:hover .icon-prev, .carousel .carousel-control:hover .glyphicon-chevron-right, .carousel .carousel-control:hover .icon-next {
  background-color: #f3c828;
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208.64%2013.44%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%231d4789%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Eprev-blue%3C%2Ftitle%3E%3Cpath%20id%3D%22Arrow_copy_6%22%20data-name%3D%22Arrow%20copy%206%22%20class%3D%22cls-1%22%20d%3D%22M145.86%20286.13l1.8-1.77-5-5%205-5-1.8-1.77-6.86%206.82z%22%20transform%3D%22translate%28-139.02%20-272.68%29%22%2F%3E%3C%2Fsvg%3E");
}
.carousel .carousel-control .glyphicon-chevron-left, .carousel .carousel-control .icon-prev, .carousel .carousel-control .glyphicon-chevron-right, .carousel .carousel-control .icon-next {
  background-color: #1d4789;
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208.64%2013.44%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%3Cpath%20id%3D%22Arrow_copy_6%22%20data-name%3D%22Arrow%20copy%206%22%20class%3D%22cls-1%22%20d%3D%22M6.84%2013.44l1.8-1.77-5-5%205-5L6.84%200%200%206.72z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center center;
  width: 4.7rem;
  height: 4.7rem;
}
.carousel .carousel-control .glyphicon-chevron-left:before, .carousel .carousel-control .icon-prev:before, .carousel .carousel-control .glyphicon-chevron-right:before, .carousel .carousel-control .icon-next:before {
  content: '';
}
.carousel .carousel-control .glyphicon-chevron-left, .carousel .carousel-control .icon-prev {
  margin-left: 0;
}
.carousel .carousel-control .glyphicon-chevron-right, .carousel .carousel-control .icon-next {
  transform: rotate(180deg);
  margin-right: 0;
}
.carousel .carousel-indicators {
  bottom: auto;
  top: 50%;
  text-align: right;
}
.carousel .carousel-indicators.container {
  left: 50%;
  padding: 0;
}
.carousel .carousel-indicators li {
  border-color: #fff;
  background-color: #fff;
  border-width: .2rem;
  margin: 0;
}
.carousel .carousel-indicators li.active {
  height: 1rem;
  width: 1rem;
  border-color: #f3c828;
  background-color: transparent;
}
.carousel .container {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 26.8%;
}
.carousel h1, .carousel h2 {
  color: #1d4789;
  font-family: "MuseoSans", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  position: absolute;
  text-transform: uppercase;
  top: 26.8%;
  left: 0;
}
.carousel h2 {
  color: #1d4789;
  font-size: 7.5rem;
  margin-top: 2.5rem;
}

@media (max-width: 991px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 5.8rem;
    margin-top: 2.6rem;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .carousel .carousel-indicators.container {
    left: 0;
    margin: 0 -1.5rem;
    width: 100%;
    bottom: 1.5rem;
    top: auto;
    height: 1.5rem;
  }
  .carousel .container {
    margin: auto 1.5rem;
    height: 100%;
  }
  .carousel .carousel-control {
    display: none;
  }
  .carousel h1 {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .carousel h2 {
    font-size: 2.8rem;
    margin-top: 1.6rem;
  }
}
.solution {
  padding-top: 8rem;
}
.solution .title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3rem;
  justify-content: space-between;
}
.solution h4 {
  font-family: "MuseoSans", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #1d4789;
  text-transform: uppercase;
}
.solution .link {
  font-family: "MuseoSans", sans-serif;
  font-weight: 900;
  color: #1d4789;
  font-size: 1.6rem;
  text-transform: uppercase;
  float: right;
  text-align: right;
}
.solution .link.non-desktop {
  display: none;
}
.solution .carousel {
  margin-bottom: 5rem;
  font-family: "MuseoSans", sans-serif;
}
.solution .carousel .carousel-control {
  top: calc(50% - 2.1rem);
}
.solution .carousel .carousel-control .glyphicon-chevron-left,
.solution .carousel .carousel-control .icon-prev,
.solution .carousel .carousel-control .glyphicon-chevron-right,
.solution .carousel .carousel-control .icon-next {
  width: 4.2rem;
  height: 4.2rem;
}
.solution .carousel .carousel-control .glyphicon-chevron-left,
.solution .carousel .carousel-control .icon-prev {
  margin-left: -1.5rem;
}
.solution .carousel .carousel-control .glyphicon-chevron-right,
.solution .carousel .carousel-control .icon-next {
  margin-right: -1.5rem;
}
.solution .carousel .carousel-indicators {
  top: auto;
  bottom: -5rem;
  text-align: center;
}
.solution .carousel .carousel-indicators li {
  border-color: #1d4789;
}
.solution .carousel .carousel-indicators li.active {
  border-color: #1d4789;
  background-color: #1d4789;
}
.solution .carousel ul {
  display: flex;
  flex-direction: row wrap;
  font-family: "MuseoSans", sans-serif;
}
.solution .carousel ul li {
  width: 20%;
  position: relative;
}
.solution .carousel ul li a img {
  width: 100%;
}
.solution .carousel ul li a p {
  text-transform: uppercase;
  position: absolute;
  bottom: 3rem;
  left: 0;
  background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%208.6%2013.4%22%20style%3D%22enable-background%3Anew%200%200%208.6%2013.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%3E%20%3Cg%20id%3D%22Layer_1-2%22%3E%20%20%3Cpath%20id%3D%22Arrow_copy_6%22%20class%3D%22st0%22%20d%3D%22M1.8%2C0L0%2C1.8l5%2C5l-5%2C5l1.8%2C1.7l6.8-6.7L1.8%2C0z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 90% bottom;
  background-size: 1rem;
  color: #fff;
  padding: 0 10% 0;
  font-size: 1.6rem;
  font-family: "MuseoSans", sans-serif;
  width: 100%;
  font-weight: 900;
}

/* Tablet */
@media (max-width: 991px) {
  .solution .carousel ul li a p {
    font-size: 1.4rem;
    word-break: break-word;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .solution {
    padding-top: 4rem;
  }
  .solution .title {
    margin-bottom: 1.5rem;
  }
  .solution .link {
    font-size: 1.1rem;
  }
  .solution .link:after {
    height: .2rem;
  }
  .solution .link.desktop {
    display: none;
  }
  .solution .link.non-desktop {
    display: block;
    white-space: nowrap;
  }
  .solution .carousel {
    margin-bottom: 0;
    font-family: "MuseoSans", sans-serif;
  }
  .solution .carousel .carousel-indicators {
    display: none;
  }
  .solution .carousel .carousel-inner > .item {
    display: block !important;
  }
  .solution .carousel .carousel-inner > .item:first-of-type ul li:first-child a {
    border-top: 0.1rem solid #373e74;
  }
  .solution .carousel .carousel-inner > .item ul {
    display: block;
  }
  .solution .carousel .carousel-inner > .item ul li {
    width: 100%;
  }
  .solution .carousel .carousel-inner > .item ul li a {
    display: block;
    padding: 1.6rem 0;
    border-bottom: 0.1rem solid #373e74;
  }
  .solution .carousel .carousel-inner > .item ul li a:after {
    bottom: -.1rem;
  }
  .solution .carousel .carousel-inner > .item ul li a img {
    display: none;
  }
  .solution .carousel .carousel-inner > .item ul li a p {
    position: relative;
    background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%208.6%2013.4%22%20style%3D%22enable-background%3Anew%200%200%208.6%2013.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%3E%20%3Cg%20id%3D%22Layer_1-2%22%3E%20%20%3Cpath%20id%3D%22Arrow_copy_6%22%20class%3D%22st0%22%20d%3D%22M1.8%2C0L0%2C1.8l5%2C5l-5%2C5l1.8%2C1.7l6.8-6.7L1.8%2C0z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 100% bottom;
    background-size: 1rem;
    color: #1d4789;
    padding: 0;
    padding-right: 1.5rem;
    font-size: 1.6rem;
    font-family: "MuseoSans", sans-serif;
    width: 100%;
    bottom: auto;
    left: auto;
  }
  .solution .carousel .carousel-inner > .item ul li a:hover p, .solution .carousel .carousel-inner > .item ul li a:focus p {
    color: #f3c828;
    background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208.6%2013.4%22%3E%3Cstyle%3E.st0%7Bfill%3A%23f3c828%7D%3C%2Fstyle%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%3E%3Cg%20id%3D%22Layer_1-2%22%3E%3Cpath%20id%3D%22Arrow_copy_6%22%20class%3D%22st0%22%20d%3D%22M1.8%200L0%201.8l5%205-5%205%201.8%201.7%206.8-6.7L1.8%200z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
}
.category-grid ul {
  font-size: 0;
}
.category-grid ul li {
  display: inline-block;
  width: calc(25% - 1.7rem);
  margin-right: 1.7rem;
  margin-bottom: 1.7rem;
}
.category-grid ul li:nth-child(4n) {
  margin-right: 0;
}
.category-grid ul li .thumbnail {
  padding: .8rem 1rem 0;
  border: 0;
  box-shadow: 0px 0px 5px rgba(109, 110, 113, 0.4);
  margin-bottom: 0;
  border-radius: 0;
}
.category-grid ul li .thumbnail.download a:before {
  content: '';
  position: absolute;
  padding-top: 75.83%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 71, 137, 0.5);
  background-image: url(../img/download-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.category-grid ul li .thumbnail a {
  display: block;
  position: relative;
}
.category-grid ul li .thumbnail a > img {
  width: 100%;
}
.category-grid ul li .thumbnail a .caption {
  padding: 2rem 0;
  position: relative;
}
.category-grid ul li .thumbnail a .caption p {
  font-size: 2.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #1d4789;
  line-height: 1;
}
.category-grid ul li .thumbnail a .caption p.date {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}
.category-grid ul li .thumbnail a .caption:after {
  content: '';
  position: absolute;
  height: 0;
  width: calc(100% + 2rem);
  bottom: 0;
  left: -1rem;
  background-color: transparent;
  transition: cubic-bezier(0.7, 0, 0, 0.7) 2ms;
}
.category-grid ul li .thumbnail a:hover, .category-grid ul li .thumbnail a:active, .category-grid ul li .thumbnail a:focus {
  text-decoration: none;
}
.category-grid ul li .thumbnail a:hover .caption:after, .category-grid ul li .thumbnail a:active .caption:after, .category-grid ul li .thumbnail a:focus .caption:after {
  height: .4rem;
  background-color: #f3c828;
}

/* Mobile */
@media (max-width: 767px) {
  .category-grid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .category-grid ul li {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .category-grid ul li .thumbnail {
    padding: 0.8rem 0;
    box-shadow: none;
  }
  .category-grid ul li .thumbnail.download a:before {
    width: 45%;
    padding-top: 34.12%;
    background-size: 3.8rem;
  }
  .category-grid ul li .thumbnail a > img {
    width: 45%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
  }
  .category-grid ul li .thumbnail a .caption {
    display: inline-block;
    padding-top: 0;
    width: 50%;
  }
  .category-grid ul li .thumbnail a .caption p {
    font-size: 1.8rem;
  }
  .category-grid ul li .thumbnail a .caption p.date {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
  .category-grid ul li .thumbnail a .caption:after {
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
.latest-news {
  padding-top: 8rem;
  padding-bottom: 6rem;
}
.latest-news .title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3rem;
  justify-content: space-between;
}
.latest-news h4 {
  font-family: "MuseoSans", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}
.latest-news .link {
  font-family: "MuseoSans", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  float: right;
  text-align: right;
}
.latest-news .link:hover, .latest-news .link:focus {
  color: #f3c828;
}
.latest-news .link.non-desktop {
  display: none;
}
.latest-news .news-item {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.latest-news .news-item li {
  max-width: 19.7rem;
  margin-right: 4rem;
}
.latest-news .news-item li:last-child {
  margin-right: 0;
}
.latest-news .news-item li a {
  color: #fff;
  font-family: "MuseoSans", sans-serif;
  font-weight: 900;
  display: block;
}
.latest-news .news-item li a:after {
  bottom: -.6rem;
}
.latest-news .news-item li a img {
  width: 100%;
  margin-bottom: 1.6rem;
}
.latest-news .news-item li a .date {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 0.2rem;
}
.latest-news .news-item li a .copy-text {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.latest-news .news-item li a:hover, .latest-news .news-item li a:focus {
  color: #f3c828;
}

/* Tablet */
@media (max-width: 991px) {
  .latest-news .news-item li {
    margin-right: 2rem;
  }
  .latest-news .news-item li:last-child {
    margin-right: 0;
  }
  .latest-news .news-item li a .date {
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
  }
  .latest-news .news-item li a .copy-text {
    font-size: 1.6rem;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .latest-news {
    padding-top: 4rem;
  }
  .latest-news .title {
    margin-bottom: 1.5rem;
  }
  .latest-news .link {
    font-size: 1.1rem;
  }
  .latest-news .link:after {
    height: .2rem;
  }
  .latest-news .link.desktop {
    display: none;
  }
  .latest-news .link.non-desktop {
    display: block;
    white-space: nowrap;
  }
  .latest-news .news-item li {
    margin-right: 0;
    display: none;
    max-width: 100%;
  }
  .latest-news .news-item li:first-child {
    display: block;
  }
  .latest-news .news-item li:last-child {
    margin-right: 0;
  }
  .latest-news .news-item li a .date {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
  }
  .latest-news .news-item li a .copy-text {
    font-size: 2.4rem;
  }
}

/*# sourceMappingURL=app.css.map */
