.accordion {
    .panel-body {
        padding: 0;

        h6 {
            font-size: 1.4rem;
            margin-bottom: 0;

            a {
                color: $blue;
                display: block;
                padding: 3rem 4rem 3rem 0;
                position: relative;
                outline: 0;
                border-bottom: 1px solid $listingBg;
                display: flex;
                align-items: center;

                .badge {
                    @include border-radius(50rem);

                    margin-right: 1.8rem;
                    font-weight: 300;
                    font-size: 1.4rem;
                    height: 2.5rem;
                    min-width: 2.5rem;
                    align-items: center;
                    padding: 0.6rem .5rem .4rem;
                    background-color: $projectBrown;

                    @include transition(0.25s);
                }

                &::after {
                    color: $projectGrey;
                    content: "\f055";
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    font-family: 'FontAwesome';
                    font-size: 2.8rem;
                    top: 50%;

                    @include transform(translateY(-50%));
                    @include transition(0.25s);
                }

                &[aria-expanded="true"] {
                    &::after {
                        content: "\f056";
                    }

                    border-bottom: 1px solid transparent;
                    color: $projectBrown;
                }

                &[aria-expanded="false"] {
                    .badge {
                        background-color: $blue;
                    }
                }

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $projectBrown;

                    .badge {
                        background-color: $projectBrown;
                    }
                }
            }
        }

        .panel-collapse {
            .media {
                padding-left: 4.4rem;

                p {
                    font-size: 1.4rem;
                    color: $projectGrey;
                    margin-bottom: 1rem;
                    line-height: 1.5;
                    font-weight: 300;

                    strong {
                        font-weight: 600;
                        color: $projectGrey;
                        margin-bottom: 1rem;
                    }
                }

                .media-left {
                    min-width: 7rem;
                }

                .media-body {
                    p {
                        &:last-child {
                            padding-bottom: 3rem;
                            margin-bottom: 0;
                            border-bottom: 1px solid $listingBg;
                        }
                    }
                }

                &:last-of-type {
                    border-bottom: 1px solid $listingBg;
                    margin-top: 3rem;

                    .media-body {
                        p {
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */
@media (max-width: $tablet) {}

/* Mobile */
@media (max-width: $mobile) {
    .accordion {
        .panel-body {
            h6 {
                font-size: 1.4rem;
                margin-bottom: 0;

                a {
                    padding: 2rem 3.7rem 2rem 0;
                }
            }

            .panel-collapse {
                max-height: 35rem;
                overflow-y: auto;

                .media {
                    padding-left: 0;

                    .media-left {
                        min-width: 4rem;
                    }

                    .media-body {
                        p {
                            &:last-child {
                                padding-bottom: 2rem;
                            }
                        }

                        display: block;
                        width: 100%;
                        clear: both;
                    }

                    &:last-of-type {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}