html {
    font-size: 62.5%;
}

body {
    background-color: $ultraGrey;
    font-family: $fontFamily;
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 600;
    font-size: 6.2rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 5.4rem;
    text-transform: uppercase;
    margin-bottom: 2.7rem;
    color: $projectNavyBlue;

    strong {
        color: $projectSkyBlue;
        font-weight: 600;
    }
}

h3 {
    font-family: $fontFamily;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h6 {
    font-family: $fontFamily;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
}

p {
    font-family: $fontFamily;
    font-size: 1.6rem;
    color: $black;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 3rem;

    // fix to work for right panel in T9
    + h5 {
        margin-top: 4.5rem;
    }
}

picture {
    img {
        width: 100%;
    }
}

a {
    font-family: $fontFamily;

    // &.cta {
    //     position: relative;
    //     padding-bottom: .4rem;

    //     &:after {
    //         content: '';
    //         background-color: $projectYellow;
    //         position: absolute;
    //         height: .4rem;
    //         bottom: 0;
    //         left: 0;
    //         width: 0;
    //     }

    //     &:hover, &:focus {
    //         text-decoration: none;

    //         &:after {
    //             width: 100%;
    //         }
    //     }
    // }
}

.container-fluid {
    // &.bg-blue {
    //     background-image: url(../img/blue-background.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
}

.btn {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.2rem 2.3rem;
    font-family: $fontFamily;
    font-weight: 600;
    border-radius: 0;
    margin-bottom: 3rem;
    min-width: 20rem;
    transition: all .2s ease-in;

    &.btn-primary {
        color: $white;
        background-color: $lightbrown;
        border-color: $lightbrown;
        border-width: 2px;

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            border-color: $lightbrown;
            color: $lightbrown;
            box-shadow: none;
        }
    }

    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        border-color: $lightbrown;
        color: $lightbrown;
        box-shadow: none;
    }
}

label {
    position: absolute;
    left: -999rem;
    top: auto;
}

/* Tablet */
@media (max-width: $tablet) {
    h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .btn {
        display: block;
        width: 100%;
    }

    h6 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2.6rem;
    }
}