body {
    font-family: $fontFamily;
}

picture {
    img {
        width: 100%;
    }
}

a {
    &.cta {
        position: relative;
        padding-bottom: .4rem;

        &:after {
            content: '';
            background-color: $projectYellow;
            position: absolute;
            height: .4rem;
            bottom: 0;
            left: 0;
            width: 0;
        }

        &:hover, &:focus {
            text-decoration: none;

            &:after {
                width: 100%;
            }
        }
    }
}

.container-fluid {
    &.bg-blue {
        background-image: url(../img/blue-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Tablet */
@media (max-width: $tablet) {}

/* Mobile */
@media (max-width: $mobile) {}