html {
    font-size: 62.5%;
}

body {
    font-family: $fontFamily;
    font-size: 1.4rem;
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h4 {
    font-family: $fontFamily;
    font-size: 3rem;
    font-weight: 900;
    color: $projectBlue;
    text-transform: uppercase;
}

h5 {
    font-family: $fontFamily;
    font-size: 2.4rem;
    font-weight: 900;
    color: $projectBlue;
    text-transform: uppercase;
    line-height: 1.2;
}

p {
    font-family: $fontFamily;
    font-size: 1.6rem;
    color: $black;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 3rem;

    // fix to work for right panel in T9
    + h5 {
        margin-top: 4.5rem;
    }
}

picture {
    img {
        width: 100%;
    }
}

a {
    font-family: $fontFamily;

    &.cta {
        position: relative;
        padding-bottom: .4rem;

        &:after {
            content: '';
            background-color: $projectYellow;
            position: absolute;
            height: .4rem;
            bottom: 0;
            left: 0;
            width: 0;
        }

        &:hover, &:focus {
            text-decoration: none;

            &:after {
                width: 100%;
            }
        }
    }
}

.container-fluid {
    &.bg-blue {
        background-image: url(../img/blue-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.btn-default {
    border-radius: 0;
    text-transform: uppercase;
    background-color: $projectBlue;
    color: $white;
    font-family: $fontFamily;
    font-weight: 900;
    border: none;
    font-size: 1.6rem;
    padding: 1.5rem;
    min-width: 24rem;

    &:hover, &:focus {
        background-color: $projectYellow;
        color: $projectBlue;
    }
}

label {
    position: absolute;
    left: -999rem;
    top: auto;
}

/* Tablet */
@media (max-width: $tablet) {}

/* Mobile */
@media (max-width: $mobile) {
    .btn-default {
        width: 100%;
    }
}