.breadcrum {
    position: relative;
    margin-bottom: 4rem;

    &::after {
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: 0.3;
        overflow: hidden;
        position: absolute;
    }

    .caption-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-flow: column;
        width: 117rem;
        padding: 0 1.5rem;

        .page-title {
            font-family: $fontFamily;
            font-size: 4.2rem;
            font-weight: 200;
            margin-bottom: 1rem;
            color: $white;
            text-transform: uppercase;
            z-index: 1;
            position: relative;
            text-shadow: 1px 2px 4px #444;
            -webkit-text-shadow: 1px 2px 4px #444;
            -moz-text-shadow: 1px 2px 4px #444;

            a {
                color: $white;

                @include transition(0.25s);

                &:hover,
                &:focus,
                &:active {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }

        h1 {
            font-family: $fontFamily;
            color: $white;
            text-transform: uppercase;
            font-size: 5rem;
            font-weight: 700;
            z-index: 1;
            position: relative;
            text-shadow: 1px 2px 4px #444;
            -webkit-text-shadow: 1px 2px 4px #444;
            -moz-text-shadow: 1px 2px 4px #444;
        }
    }

    picture {
        position: relative;
        z-index: 0;
        right: 0;

        img {
            max-width: 100%;
            width: 100%;
        }
    }
}

/* MediumDesktop */
@media (max-width: $mediumDesktop) {
    .breadcrum {
        .caption-text {
            width: 97rem;
        }
    }
}

/* Tablet */
@media (max-width: $tablet) {
    .breadcrum {
        .caption-text {
            width: 75rem;

            .page-title {
                font-size: 2.4rem;
                margin-bottom: 0.2rem;
            }

            h1 {
                font-size: 2.6rem;
            }
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .breadcrum {
        margin-bottom: 2rem;

        .caption-text {
            width: 100%;

            h1, h2 {
                font-size: 2rem;
                white-space: inherit;
            }

            .page-title {
                font-size: 1.8rem;
            }
        }
    }
}