.carousel {
    a {
        &:hover,
        &:focus,
        &:active {
            h2 {
                text-decoration: underline;
                color: $white;
            }
        }
    }

    .carousel-control {
        opacity: 1;
        background-image: none;
        width: 0;
        bottom: auto;
        top: 19%;

        &:focus,
        &:hover {
            .glyphicon-chevron-left,
            .icon-prev,
            .glyphicon-chevron-right,
            .icon-next {
                background-color: $projectYellow;
            }
        }
    }

    .carousel-indicators {
        width: auto;
        bottom: auto;
        text-align: right;
        right: 2rem;
        padding: 0;
        left: auto;
        top: 50%;

        @include transform(translateY(-50%));

        li {
            border-color: $white;
            background-color: $silver;
            border-width: 0.6rem;
            margin: 0;
            display: block;
            float: right;
            clear: both;
            height: 2rem;
            width: 2rem;
            margin-bottom: 0.7rem;

            &.active {
                border-color: $white;
                background-color: $projectBrown;
            }
        }
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        text-align: right;
        padding-top: 8.8%;
    }

    h1, h2 {
        color: $white;
    }

    h2 {
        font-size: 4.4rem;
        margin-top: 0.2rem;
        font-weight: 300;
    }

    .video-icon {
        position: absolute;
        bottom: 17.6rem;
        right: 0;
    }

    > .item {
        &.active {
            a {
                display: block;

                picture {
                    display: block;
                }

                &.video-icon {
                    display: none;
                }
            }
        }

        > a {
            > img {
                width: 100%;
            }
        }
    }

    .carousel-inner {
        > .item {
            > a {
                > img {
                    width: 100% !important;
                }
            }
        }
    }
}

@media (max-width: $Desktop) {
    .carousel {
        .carousel-indicators {
            right: 1rem;

            li {
                border-width: 0.4rem;
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }
}

@media (max-width: $tablet) {
    .carousel {
        h1 {
            font-size: 2.6rem;
        }

        h2 {
            font-size: 2.6rem;
            margin-top: 1rem;
        }

        .carousel-indicators {
            right: 0.6rem;

            li {
                border-width: 0.2rem;
                height: 1.2rem;
                width: 1.2rem;
            }
        }
    }
}

@media (max-width: $mobile) {
    .carousel {
        .carousel-indicators {
            right: 1.5rem;
            bottom: 0.9rem;
            top: auto;
            left: auto;
            margin-bottom: 0;

            li {
                display: inline-block;
                clear: none;
                margin-left: .4rem;
                margin-bottom: 0;
                float: left;
            }
        }

        .container {
            margin: auto 1.5rem;
            height: 100%;
            text-align: left;
        }

        .carousel-control {
            display: none;
        }

        h1 {
            font-size: 2.4rem;
        }

        h2 {
            font-size: 1.5rem;
            margin-top: 0.2rem;
        }
    }
}