.career-benefits {
    padding: 4rem 0;

    a {
        color: $blue;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            outline: 0;

            .caption {
                h4 {
                    color: $projectBrown;
                }
            }
        }
    }

    .thumbnail {
        background-color: transparent;
        padding: 0;
        border: 0;

        img {
            // border: 1px solid $lightGrey;
       
        }

        .caption {
            padding: 29px 9px 9px;

            h4 {
                text-transform: none;
                font-size: 2.1rem;
                color: $lightseagreen;
                font-weight: 400;
                margin-bottom: 1.4rem;
            }

            p {
                color: $projectSemiGrey;
                font-size: 1.5rem;
                line-height: 2;
            }
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .career-benefits {
        padding: 2rem 0;

        .thumbnail {
            .caption {
                padding: 18px 3px 0;

                h4 {
                    margin-bottom: 1rem;
                }

                p {
                    line-height: 1.6;
                }
            }

            img {
                width: 100%;
            }
        }
    }
}