.category-grid {
    ul {
        font-size: 0;

        li {
            display: inline-block;
            width: calc(25% - 1.7rem);
            margin-right: 1.7rem;
            margin-bottom: 1.7rem;
            vertical-align: top;

            &:nth-child(4n) {
                margin-right: 0;
            }

            a {
                display: block;
                position: relative;

                .thumbnail {
                    padding: .8rem 1rem 0;
                    border: 0;
                    box-shadow: 0px 0px 5px rgba($projectGrey, 0.4);
                    margin-bottom: 0;
                    border-radius: 0;

                    figure, img {
                        width: 100%;
                    }

                    .caption {
                        padding: 2rem 0;
                        position: relative;

                        p {
                            font-size: 2.4rem;
                            font-weight: 900;
                            text-transform: uppercase;
                            color: $projectBlue;
                            line-height: 1;
                            margin-bottom: 0;

                            &.date {
                                font-size: 1.4rem;
                                margin-bottom: 0.2rem;
                            }
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            height: 0;
                            width: calc(100% + 2rem);
                            bottom: 0;
                            left: -1rem;
                            background-color: transparent;
                            transition: $easing $speed;
                        }
                    }

                    &.download {
                        figure {
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                padding-top: 75.83%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                background-color: rgba($projectBlue, 0.5);
                                background-image: url(../img/download-icon.png);
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }

                &:hover, &:active, &:focus {
                    text-decoration: none;

                    .thumbnail {
                        box-shadow: 0 5px 10px 0px rgba($projectGrey, 0.4);
                    }

                    .caption {
                        &:after {
                            height: .4rem;
                            background-color: $projectYellow;
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .category-grid {
        padding-left: $gutter-width;
        padding-right: $gutter-width;

        ul {
            li {
                display: block;
                width: 100%;
                margin-right: 0;

                a {
                    .thumbnail {
                        padding: 0.8rem 0;
                        box-shadow: none;

                        &.download {
                            figure {
                                &:before {
                                    // width: 45%;
                                    // padding-top: 34.12%;
                                    background-size: 3.8rem;
                                }
                            }
                        }

                        figure {
                            width: 45%;
                            margin-right: 5%;
                            display: inline-block;
                            vertical-align: top;
                        }

                        .caption {
                            display: inline-block;
                            padding-top: 0;
                            width: 50%;

                            p {
                                font-size: 1.8rem;

                                &.date {
                                    font-size: 1rem;
                                    margin-bottom: 0.4rem;
                                }
                            }

                            &:after {
                                width: 100%;
                                bottom: 1rem;
                                left: 0;
                            }
                        }
                    }

                    &:hover, &:active, &:focus {
                        text-decoration: none;

                        .thumbnail {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}