.contact-map {
    margin: 10rem 0;

    #map_container {
        position: relative;
    }

    #map {
        height: 0;
        overflow: hidden;
        padding-bottom: 66.42%;
        position: relative;
    }
}

/* Mobile */
@media (max-width: $tablet) {
    .contact-map {
        margin: 4rem 0 0;
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .contact-map {
        margin: 4rem 0 2rem;
    }
}