.download-brochure {
    padding: 2rem 1.9rem 3.5rem;
    min-height: 12.4rem;
    position: relative;
    background-color: $white;

    a {
        position: static;
    }

    p {
        font-size: 1.4rem;
        font-weight: 900;
        line-height: 1.1;
        padding-right: 9.5rem;
        color: $projectBlue;

        strong {
            font-size: 2rem;
            display: block;
            font-weight: 900;
        }
    }

    .download-icon {
        background-color: $projectBlue;
        position: absolute;
        padding: 2rem 1.5rem 2rem 2rem;
        top: 2rem;
        right: 2rem;

        &:after {
            content: '';
            background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2038%2041%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bopacity%3A.5%3Bisolation%3Aisolate%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Edownload%3C%2Ftitle%3E%3Cimage%20width%3D%2238%22%20height%3D%2241%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAACYAAAApCAYAAABZa1t7AAAACXBIWXMAAAsSAAALEgHS3X78AAABmUlEQVRYR%2B3Xu0sDQRAG8PWFgiAWhy8sJFqplWAVwU7SiSCKhYiNBBERAypR0f98nAmXY93bvfnuEc9ii1%2BK3Ow3H3K5RENEpoQOG7DvkuTMFpCfUQcc90qBIndAfkYdcLwBBUKegPyMOuCIxdQBRyymDjhiMXXAEYupA45YLHRhliVszTEECoQMPHlJugsqtkP1%2FjJlvbJtAordAmFNuyag2AUQ1LRzAoqts3cgrCly364SUEzIffYJhNYlOzqe%2FYWPi332BYRXJdm7nr0j3jcth8CCqg6KdgcvWI6BJWUdaXsLL1p6wDLUCbAPLjbFzoClmtM0S9sHFxPT7ApYHnKZZmh7RtQBxxxV%2B2a4YTNAfkYd8Fhgfc%2FyEPlHdx7I%2FUUdCFhkj6SXekhntbwcdaDAMnumcCm5tgTkeMlLz9HVDllW2AvlS8l7CXB%2BrEtOD%2BMJ7QNBtk32YZ2XHwAbwDlb7p5topiQ79Vhag%2BY%2F7NiQn4il3okWCZarI5YrCyomHzU3UfIpOUeOb5i%2F4LRBtpitIG2GG2gLT%2B3obdU7BSdyAAAAABJRU5ErkJggg%3D%3D%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            height: 4rem;
            width: 4.5rem;
            display: inline-block;
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .download-brochure {}
}