.form-default {
    span, label {
        font-family: $fontFamily;
        font-size: 1.4rem;
        color: $formElementText;
        letter-spacing: .1rem;
        margin-bottom: 1rem;
        display: inline-block;
        position: static;
        font-weight: 500;
    }

    // also written at base.scss
    .btn-default {
        border-radius: 0;
        text-transform: uppercase;
        background-color: $projectBlue;
        color: $white;
        font-family: $fontFamily;
        font-weight: 900;
        border: none;
        font-size: 1.6rem;
        padding: 1.5rem;
        min-width: 24rem;

        &:hover, &:focus, &:active {
            background-color: $projectYellow;
            color: $projectBlue;
            border-color: $projectYellow;
        }

        &:active {
            &:hover, &:focus {
                background-color: $projectYellow;
                color: $projectBlue;
                border-color: $projectYellow;
            }
        }
    }

    .form-control {
        border-radius: 0;
        color: $black;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        height: 4.5rem;
        border-color: $formElementBorder;
        box-shadow: none;

        &:focus {
            border-color: $formElementBorder;
            outline: 0;
            box-shadow: none;
            border-bottom: 0.4rem solid $projectYellow;
        }
    }
}