.grid-filter {
    transform: translateY(-2.5rem);

    ul {
        text-align: right;
        width: 100%;

        li {
            display: inline-block;
            margin-left: 1.5rem;

            a {
                font-weight: 900;
                font-size: 1.4rem;
                color: $projectBlue;
                text-transform: uppercase;

                &:hover, &:focus, &.active {
                    color: $projectYellow;
                    text-decoration: none;
                }
            }
        }
    }

    select {
        display: none;
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .grid-filter {
        transform: translateY(0);

        ul {
            display: none;
        }

        select {
            display: block;
            color: $projectBlue;
            text-transform: uppercase;
            font-weight: 900;
            border: none;
            position: relative;
            font-size: 1.6rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            width: 100%;
            padding-bottom: 1.7rem;
            background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013.54%208.66%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%231d4789%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-blue-down%3C%2Ftitle%3E%3Cpath%20id%3D%22Arrow_copy_6%22%20data-name%3D%22Arrow%20copy%206%22%20class%3D%22cls-1%22%20d%3D%22M11.08%204.15l-1.77-1.8-5%205-5-5-1.77%201.8L4.36%2011z%22%20transform%3D%22translate%282.46%20-2.35%29%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-size: 1.4rem;
            background-position: 99% 0.3rem;
            background-position: calc(100% - 18px) 0.3rem;

            &:hover, &:focus {
                color: $projectBlue;

                // border-bottom: 0.2rem solid $projectYellow;
           
            }
        }
    }
}