header {
    background: $white;

    .brand-bar {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 8.3rem;
    }

    a {
        outline: 0;

        &:focus {
            outline: 0;
        }
    }

    // TOP NAV
    .logo {
        width: 23.4rem;
        padding-bottom: 0;

        @include transition(0.25s);

        &:after {
            display: none;
        }

        img {
            width: 100%;
        }

        &:hover,
        &:focus {
            opacity: 0.75;
            outline: 0;
        }
    }

    .top-nav-wrap {
        margin-left: auto;

        .top-nav,
        .social-bar {
            display: inline-block;
            margin: 0;

            li {
                display: inline-block;
                font-size: 1.2rem;
                margin: 0 1rem;

                a {
                    color: $projectGrey;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    letter-spacing: 0.05rem;
                    display: inline-block;

                    @include transition(0.25s);

                    img {
                        @include transition(0.25s);
                    }

                    &:hover,
                    &:focus {
                        color: $projectBrown;
                        text-decoration: none;
                        outline: 0;

                        img {
                            opacity: .75;
                        }
                    }
                }
            }
        }

        .social-bar {
            li {
                margin: 0 .5rem;
                vertical-align: middle;

                a {
                    color: $projectBlue;
                    font-size: 1.8rem;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    // BOTTOM NAV
    .navbar {
        margin-bottom: 0;
    }

    .navbar-default {
        border-top: 1px solid $lightGrey;
        border-bottom: 0;
        border-radius: 0;
        background-color: $white;

        .navbar-collapse {
            padding: 0;

            .navbar-nav {
                height: 5.6rem;

                li {
                    // default open menu
                    &.open {
                        > a {
                            color: $projectBlack;
                            background-color: transparent;

                            &:hover,
                            &:focus {
                                color: $projectBrown;
                                background-color: transparent;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                height: 0.4rem;
                                width: 100%;
                                bottom: 0;
                                left: 0;
                                background-color: $projectBrown;
                            }
                        }
                    }

                    //global menu
                    &.smallmenu {
                        .dropdown-menu {
                            background-color: $projectlightGrey;
                            border-radius: 0;
                            border: 0;
                            width: 30rem;
                        }

                        > ul {
                            > li {
                                padding: 0;
                                border-bottom: 1px solid $ultraLightGrey;

                                a {
                                    color: $projectlighterGrey;
                                    text-transform: none;
                                    display: block;
                                    padding: 1.5rem;
                                    font-size: 1.4rem;
                                    color: $projectBlack;

                                    &:hover,
                                    &:focus {
                                        color: $projectBrown;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }

                    // full width menu
                    &.megamenu {
                        position: static;

                        .dropdown-menu {
                            background-color: $projectlightGrey;
                            border-radius: 0;
                            border: 0;
                            width: 1170px;
                            margin: 0 auto;
                            left: 0;
                            right: 0;
                            padding: 5rem 2rem;
                        }

                        > ul {
                            > li {
                                padding: 1.5rem 0;
                                width: 33%;
                                float: left;
                                display: inline-block;
                                padding: 0 2rem;

                                ul {
                                    width: 100%;

                                    li {
                                        a {
                                            color: $projectlighterGrey;
                                            text-transform: none;
                                            display: block;

                                            &:hover,
                                            &:focus {
                                                color: $projectBrown;
                                                text-decoration: none;
                                            }
                                        }

                                        &:first-child {
                                            a {
                                                font-size: 1.6rem;
                                                color: $projectBlack;

                                                &:hover,
                                                &:focus {
                                                    color: $projectBrown;
                                                }
                                            }

                                            border-bottom: 1px solid $ultraLightGrey;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    a {
                        color: $projectBlack;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 1.4rem;
                        padding: 1.7rem 0 1.9rem;

                        &:hover,
                        &:focus {
                            color: $projectBrown;
                        }
                    }
                }

                &:first-of-type {
                    width: calc(100% - 27rem);
                    display: flex;
                    justify-content: space-between;

                    li {
                        margin-right: auto;
                    }
                }

                &:last-of-type {
                    background-position: left;
                    padding-left: 5rem;
                    width: 100%;
                    max-width: 27rem;
                    background: $projectBlack url("../img/search-left.jpg") no-repeat;
                    background-position: top left;
                }

                .search-box {
                    float: right;

                    input {
                        font-size: 1.3rem;
                        color: $white;
                        background: transparent;
                        border: 0;
                        height: 5.6rem;
                        outline: 0;
                        max-width: 100%;
                    }

                    ::-ms-clear {
                        display: none;
                    }

                    ::-webkit-input-placeholder {
                        color: $white;
                        font-weight: 200;
                        opacity: 0.87;
                    }

                    ::-moz-placeholder {
                        color: $white;
                        font-weight: 200;
                        opacity: 0.87;
                    }

                    :-ms-input-placeholder {
                        color: $white;
                        font-weight: 200;
                        opacity: 0.87;
                    }

                    :-moz-placeholder {
                        color: $white;
                        font-weight: 200;
                        opacity: 0.87;
                    }

                    button {
                        background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20451%20451%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20d%3D%22M447.05%20428l-109.6-109.6c29.4-33.8%2047.2-77.9%2047.2-126.1C384.65%2086.2%20298.35%200%20192.35%200%2086.25%200%20.05%2086.3.05%20192.3s86.3%20192.3%20192.3%20192.3c48.2%200%2092.3-17.8%20126.1-47.2L428.05%20447c2.6%202.6%206.1%204%209.5%204s6.9-1.3%209.5-4c5.2-5.2%205.2-13.8%200-19zM26.95%20192.3c0-91.2%2074.2-165.3%20165.3-165.3%2091.2%200%20165.3%2074.2%20165.3%20165.3s-74.1%20165.4-165.3%20165.4c-91.1%200-165.3-74.2-165.3-165.4z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E");
                        background-repeat: no-repeat;
                        background-color: transparent;
                        box-shadow: none;
                        height: 5.8rem;
                        background-size: 2.1rem;
                        outline: 0;
                        border: 0;
                        width: 5.7rem;
                        vertical-align: middle;
                        background-position: center;
                        padding: 0;
                        opacity: 0.87;

                        &:hover,
                        &:focus {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .navbar-toggle {
            overflow: hidden;
            border: none;

            &:hover,
            &:focus {
                background-color: transparent;
            }

            .icon-bar {
                transition: opacity, transform;
                transition-duration: $speed;
                transition-timing-function: $easing;
                background-color: $white;
            }

            &:not(.collapsed) {
                .icon-bar {
                    &:nth-child(1) {
                        transform: translateY(6px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        transform: translateX(-100%);
                    }

                    &:nth-child(3) {
                        transform: translateY(-6px) rotate(-45deg);
                    }
                }
            }
        }
    }

    .call-btn,
    .search-btn,
    .global-btn {
        display: none;
    }
}

@media (max-width: $mediumDesktop) {
    header {
        .navbar-default {
            .navbar-collapse {
                .navbar-nav {
                    li {
                        &.open {
                            .dropdown-menu {
                                width: 970px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */

@media (max-width: $tablet) {
    header {
        // TOP NAV
        .logo {
            width: 15rem;
        }

        .top-nav-wrap {
            .top-nav,
            .social-bar {
                li {
                    font-size: 1.1rem;
                    margin: 0 0.5rem;

                    a {
                        font-size: 1.1rem;

                        img {
                            max-width: 16rem;
                        }
                    }
                }
            }

            .social-bar {
                li {
                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .navbar-default {
            .navbar-collapse {
                .navbar-nav {
                    li {
                        a {
                            font-size: 1.1rem;
                        }

                        &.open {
                            .dropdown-menu {
                                width: 750px;
                            }
                        }
                    }

                    &:first-of-type {
                        width: 68%;
                    }

                    &:last-of-type {
                        width: 32%;
                    }

                    .search-box {
                        display: flex;

                        input {
                            width: 12.2rem;
                            font-size: 1.1rem;
                        }

                        button {
                            background-size: 1.9rem;
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */

@media (max-width: $mobile) {
    header {
        .brand-bar {
            height: 5rem;
        }

        .top-nav-wrap {
            .top-nav {
                display: none;
            }

            .social-bar {
                li {
                    font-size: 1.8rem;

                    a {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        .nav {
            margin-left: 0;
        }

        .navbar {
            min-height: 4rem;
        }

        .navbar-default {
            background-color: $projectBlack;
            border: 0;
            border-radius: 0;

            .navbar-collapse {
                padding: 0;

                .navbar-nav {
                    height: inherit;

                    li {
                        a {
                            padding: 1.3rem 1.5rem 1.5rem;
                            color: $white;
                            font-size: 1.4rem;

                            &:hover,
                            &:focus {
                                color: $white;
                            }
                        }

                        &.open {
                            position: relative;

                            a {
                                color: $projectBlack;
                                background-color: $white;

                                &:hover,
                                &:focus {
                                    color: $projectBlack;
                                    background-color: $white;
                                }
                            }

                            .dropdown-menu {
                                width: 100%;
                                display: block;
                                padding: 0;

                                li {
                                    padding: 0;
                                    width: 100%;

                                    > ul {
                                        li {
                                            padding: 0;

                                            a {
                                                width: 100%;
                                                display: block;
                                            }

                                            &:first-child {
                                                a {
                                                    font-size: 1.4rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:first-of-type {
                        width: 100%;
                        display: block;

                        li {
                            margin-right: auto;
                        }
                    }

                    &:last-of-type {
                        display: none;
                    }
                }
            }
        }

        .navbar-header {
            display: flex;
            justify-content: space-between;

            a {
                padding: 0;

                &:after {
                    display: none;
                }

                &.search-btn {
                    display: block;
                    width: 4rem;
                    height: 4rem;

                    img {
                        position: absolute;

                        @include transform(translate(15px, 50%));
                    }
                }

                &.global-btn {
                    display: block;
                    margin: auto;
                }
            }
        }

        .navbar-toggle {
            margin: 0 0.5rem 0 0;
        }
    }
}