header {
    background: $white;

    .brand-bar {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 8.3rem;
    }

    // TOP NAV
    .logo {
        width: 23.4rem;
        padding-bottom: 0;

        @include transition(0.25s);

        &:after {
            display: none;
        }

        img {
            width: 100%;
        }

        &:hover,
        &:focus,
        &:active {
            opacity: 0.75;
            outline: 0;
        }
    }

    .top-nav-wrap {
        margin-left: auto;

        .top-nav,
        .social-bar {
            display: inline-block;
            margin: 0;

            li {
                display: inline-block;
                font-size: 1.3rem;
                margin: 0 1rem;

                a {
                    color: $projectGrey;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    letter-spacing: 0.05rem;
                    display: inline-block;

                    @include transition(0.25s);

                    img {
                        @include transition(0.25s);
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        color: $projectBrown;
                        text-decoration: none;
                        outline: 0;

                        img {
                            opacity: .75;
                        }
                    }

                    &.global-logo {
                        background: url("../img/member-psa-logo.png") no-repeat;
                        width: 20rem;
                        height: 3rem;
                        overflow: hidden;
                        background-position: top;
                        text-indent: -624rem;
                    }
                }
            }
        }

        .social-bar {
            li {
                margin: 0 .5rem;
                vertical-align: middle;

                a {
                    color: $projectBlue;
                    font-size: 1.8rem;
                }
            }
        }
    }

    // BOTTOM NAV
    .navbar {
        margin-bottom: 0;
    }

    .navbar-default {
        border-top: 1px solid $lightGrey;
        border-bottom: 0;
        border-radius: 0;
        background-color: $white;

        .navbar-collapse {
            padding: 0;

            .navbar-nav {
                height: 5.6rem;

                li {
                    &.active {
                        a {
                            color: $projectblack;
                            background-color: transparent;

                            &:hover,
                            &:focus,
                            &:active {
                                color: $projectBrown;
                                background-color: transparent;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                height: 0.4rem;
                                width: 100%;
                                bottom: 0;
                                left: 0;
                                background-color: $projectBrown;
                            }
                        }
                    }

                    a {
                        color: $projectblack;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 1.4rem;
                        padding: 1.7rem 0 1.9rem;

                        &:hover,
                        &:focus,
                        &:active {
                            color: $projectBrown;
                        }
                    }
                }

                &:first-of-type {
                    width: 74%;
                    display: flex;
                    justify-content: space-between;

                    li {
                        margin-right: auto;
                    }
                }

                &:last-of-type {
                    width: 26%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-right: auto;
                    background: $projectblack url("../img/search-left.jpg") no-repeat;
                    background-position: top left;
                }

                .search-box {
                    input {
                        font-size: 1.3rem;
                        color: $white;
                        background: transparent;
                        border: 0;
                        height: 5.6rem;
                        outline: 0;
                        max-width: 100%;
                    }

                    ::-ms-clear {
                        display: none;
                    }

                    ::-webkit-input-placeholder {
                        color: $white;
                        font-weight: 200;
                        opacity: 0.87;
                    }

                    ::-moz-placeholder {
                        color: $white;
                        font-weight: 200;
                        opacity: 0.87;
                    }

                    :-ms-input-placeholder {
                        color: $white;
                        font-weight: 200;
                        opacity: 0.87;
                    }

                    :-moz-placeholder {
                        color: $white;
                        font-weight: 200;
                        opacity: 0.87;
                    }

                    button {
                        background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20451%20451%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20d%3D%22M447.05%20428l-109.6-109.6c29.4-33.8%2047.2-77.9%2047.2-126.1C384.65%2086.2%20298.35%200%20192.35%200%2086.25%200%20.05%2086.3.05%20192.3s86.3%20192.3%20192.3%20192.3c48.2%200%2092.3-17.8%20126.1-47.2L428.05%20447c2.6%202.6%206.1%204%209.5%204s6.9-1.3%209.5-4c5.2-5.2%205.2-13.8%200-19zM26.95%20192.3c0-91.2%2074.2-165.3%20165.3-165.3%2091.2%200%20165.3%2074.2%20165.3%20165.3s-74.1%20165.4-165.3%20165.4c-91.1%200-165.3-74.2-165.3-165.4z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E");
                        background-repeat: no-repeat;
                        background-color: transparent;
                        box-shadow: none;
                        height: 5.8rem;
                        background-size: 2.1rem;
                        outline: 0;
                        border: 0;
                        width: 5.7rem;
                        vertical-align: middle;
                        background-position: center;
                        padding: 0;
                        opacity: 0.87;

                        &:hover,
                        &:focus,
                        &:active {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .navbar-toggle {
            overflow: hidden;
            border: none;

            &:hover,
            &:focus {
                background-color: transparent;
            }

            .icon-bar {
                transition: opacity, transform;
                transition-duration: $speed;
                transition-timing-function: $easing;
                background-color: $white;
            }

            &:not(.collapsed) {
                .icon-bar {
                    &:nth-child(1) {
                        transform: translateY(6px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        transform: translateX(-100%);
                    }

                    &:nth-child(3) {
                        transform: translateY(-6px) rotate(-45deg);
                    }
                }
            }
        }
    }

    .call-btn,
    .search-btn {
        display: none;
    }
}

/* Tablet */

@media (max-width: $tablet) {
    header {}
}

/* Mobile */

@media (max-width: $mobile) {
    header {
        .brand-bar {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .logo {
            text-align: center;
            width: 100%;

            img {
                width: 14rem;
            }
        }

        form {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            top: 11rem;

            &.show {
                display: block;
            }
        }

        .call-us {
            display: none;
        }

        .nav {
            margin-left: 0;
        }

        .navbar {
            min-height: 4rem;
        }

        .navbar-default {
            background-color: $projectBlue;
            border: 0;
            border-radius: 0;

            .navbar-collapse {
                padding: 0;
            }

            .navbar-nav {
                li {
                    a {
                        padding-left: 1.5rem;
                    }
                }
            }
        }

        .navbar-header {
            display: flex;
            justify-content: flex-end;

            a {
                padding: 0;

                &:after {
                    display: none;
                }

                &.search-btn {
                    display: block;
                    position: absolute;
                    top: 0rem;
                    left: 0rem;
                    width: 4rem;
                    height: 4rem;

                    img {
                        position: absolute;
                        transform: translate(50%, 50%);
                    }
                }

                &.call-btn {
                    display: block;
                    text-align: center;
                    flex-basis: calc(100% - 100px);
                    color: white;
                    display: block;
                    padding: 1.2rem;
                    font-size: 1.6rem;
                    font-weight: 900;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }

        .navbar-toggle {
            margin: 0 1rem 0 0;
        }
    }
}