.quick-link {
    display: flex;
    flex-flow: row;

    .tile {
        flex: 1;
        font-size: 0;
        display: flex;
        margin-bottom: 0;

        &.x2 {
            flex: 2;
            display: flex;
            flex-flow: column;

            .image-thumb {
                flex-flow: row;
                flex: 1;

                a {
                    display: inline-block;
                    width: 50%;
                    padding-top: 49.5%;

                    .quick-link {
                        display: flex;
                        flex-flow: row;
                        position: relative;

                        .tile {
                            flex: 1;
                            font-size: 0;
                            display: flex;
                            margin-bottom: 0;
                            position: relative;

                            &.x2 {
                                flex: 2;
                                display: flex;
                                flex-flow: column;

                                .image-thumb {
                                    flex-flow: row;
                                    flex: 1;

                                    a {
                                        display: inline-block;

                                        // width: 50%;
                                        // padding-top: 49.5%;
                                   
                                    }
                                }
                            }

                            .image-thumb {
                                display: flex;
                                flex-flow: column;
                                font-size: 0;
                                flex: 1;
                                position: relative;

                                a {
                                    display: block;

                                    // width: 100%;
                                    // padding-top: 100%;
                               
                                }
                            }

                            // .search-nearby {
                            //     .search-area {
                            //         // background-image: url(../img/search-tile-background.jpg);
                            //         background-repeat: no-repeat;
                            //         background-position: top right;
                            //         background-size: cover;
                            //         position: relative;
                            //         padding-top: 50%;

                            //         form {
                            //             position: absolute;
                            //             font-size: 1.6rem;
                            //             bottom: 3rem;
                            //             width: 90%;
                            //             left: 5%;

                            //             label {
                            //                 font-family: $fontFamily;
                            //                 font-weight: 900;
                            //                 font-size: 1.4rem;
                            //                 color: $white;
                            //                 text-transform: uppercase;

                            //                 strong {
                            //                     font-weight: 900;
                            //                     font-size: 2.4rem;
                            //                     display: block;
                            //                 }
                            //             }

                            //             .search-box {
                            //                 position: relative;
                            //                 margin-top: 2rem;

                            //                 input[type='text'] {
                            //                     width: 100%;
                            //                     height: 4.2rem;
                            //                     font-size: 1.4rem;
                            //                     color: $projectBlue;
                            //                     padding-left: 2rem;
                            //                     padding-right: 4rem;
                            //                     font-weight: 500;
                            //                     background-color: $white;
                            //                 }

                            //                 ::-webkit-input-placeholder {
                            //                     // /* Chrome/Opera/Safari
                            //                     color: $projectBlue;
                            //                     text-transform: uppercase;
                            //                 }

                            //                 ::-moz-placeholder {
                            //                     // /* Firefox 19+
                            //                     color: $projectBlue;
                            //                     text-transform: uppercase;
                            //                 }

                            //                 :-ms-input-placeholder {
                            //                     // /* IE 10+
                            //                     color: $projectBlue;
                            //                     text-transform: uppercase;
                            //                 }

                            //                 :-moz-placeholder {
                            //                     // /* Firefox 18-
                            //                     color: $projectBlue;
                            //                     text-transform: uppercase;
                            //                 }

                            //                 .search-button {
                            //                     display: block;
                            //                     position: absolute;
                            //                     right: 0;
                            //                     top: 0;
                            //                     height: 4.2rem;
                            //                     width: 4rem;
                            //                     border: none;

                            //                     // background: none;

                            //                     img {
                            //                         width: 52%;
                            //                         top: 50%;
                            //                         transform: translateY(-50%);
                            //                         position: absolute;
                            //                         left: 0.4rem;
                            //                     }
                            //                 }
                            //             }
                            //         }
                            //     }
                            // }
                       
                        }

                        a {
                            padding-bottom: 0;
                            display: block;

                            // padding-top: 100%;
                            position: relative;

                            img {
                                width: 100%;

                                // position: absolute;
                                top: 0;
                                left: 0;
                            }

                            p {
                                text-transform: uppercase;
                                position: absolute;
                                bottom: 2.5rem;
                                left: 0;
                                color: $white;
                                padding: 0 4rem 0 3rem;
                                font-size: 1.4rem;
                                font-family: $fontFamily;
                                width: 100%;
                                font-weight: 900;
                                z-index: 1;
                                line-height: 1.1;

                                strong {
                                    font-weight: 900;
                                    font-size: 2.4rem;
                                    display: block;
                                }

                                &:after {
                                    content: '';
                                    background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%208.6%2013.4%22%20style%3D%22enable-background%3Anew%200%200%208.6%2013.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%3E%20%3Cg%20id%3D%22Layer_1-2%22%3E%20%20%3Cpath%20id%3D%22Arrow_copy_6%22%20class%3D%22st0%22%20d%3D%22M1.8%2C0L0%2C1.8l5%2C5l-5%2C5l1.8%2C1.7l6.8-6.7L1.8%2C0z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                                    background-repeat: no-repeat;
                                    right: 1rem;
                                    bottom: 0;
                                    background-size: 80% 80%;
                                    height: 2rem;
                                    width: 2rem;
                                    position: absolute;
                                }
                            }

                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .image-thumb {
            // display: flex;
            flex-flow: column;
            font-size: 0;
            flex: 1;

            a {
                display: block;
                width: 100%;
                padding-top: 100%;
            }
        }

        // .search-area {
        //     background-image: url(../img/search-tile-background.jpg);
        //     background-repeat: no-repeat;
        //     background-position: top right;
        //     background-size: cover;
        //     position: relative;
        //     padding-top: 50%;

        //     form {
        //         position: absolute;
        //         font-size: 1.6rem;
        //         bottom: 3rem;
        //         width: 90%;
        //         left: 5%;

        //         label {
        //             font-family: $fontFamily;
        //             font-weight: 900;
        //             font-size: 1.4rem;
        //             color: $white;
        //             text-transform: uppercase;

        //             strong {
        //                 font-weight: 900;
        //                 font-size: 2.4rem;
        //                 display: block;
        //             }
        //         }

        //         .search-box {
        //             position: relative;
        //             margin-top: 2rem;

        //             input[type='text'] {
        //                 width: 100%;
        //                 height: 4.2rem;
        //                 font-size: 1.4rem;
        //                 color: $projectBlue;
        //                 padding-left: 2rem;
        //                 padding-right: 4rem;
        //                 font-weight: 500;
        //             }

        //             ::-webkit-input-placeholder {
        //                 /* Chrome/Opera/Safari
        //                 color: $projectBlue;
        //                 text-transform: uppercase;
        //             }

        //             ::-moz-placeholder {
        //                 /* Firefox 19+
        //                 color: $projectBlue;
        //                 text-transform: uppercase;
        //             }

        //             :-ms-input-placeholder {
        //                 /* IE 10+
        //                 color: $projectBlue;
        //                 text-transform: uppercase;
        //             }

        //             :-moz-placeholder {
        //                 /* Firefox 18-
        //                 color: $projectBlue;
        //                 text-transform: uppercase;
        //             }

        //             .search-button {
        //                 display: block;
        //                 position: absolute;
        //                 right: 0;
        //                 top: 0;
        //                 height: 4.2rem;
        //                 width: 4rem;
        //                 border: none;
        //                 background: none;

        //                 img {
        //                     width: 52%;
        //                     top: 50%;
        //                     transform: translateY(-50%);
        //                     position: absolute;
        //                     left: 0.4rem;
        //                 }
        //             }
        //         }
        //     }
        // }
   
    }

    a {
        padding-bottom: 0;
        display: block;

        // background-color: yellowgreen;
        padding-top: 100%;
        position: relative;

        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        p {
            text-transform: uppercase;
            position: absolute;
            bottom: 2.5rem;
            left: 0;
            color: $white;
            padding: 0 4rem 0 3rem;
            font-size: 1.4rem;
            font-family: $fontFamily;
            width: 100%;
            font-weight: 900;
            z-index: 1;

            strong {
                font-weight: 900;
                font-size: 2.4rem;
                display: block;
                word-wrap: break-word;
                line-height: 1;
            }

            &:after {
                content: '';
                background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%208.6%2013.4%22%20style%3D%22enable-background%3Anew%200%200%208.6%2013.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%3E%20%3Cg%20id%3D%22Layer_1-2%22%3E%20%20%3Cpath%20id%3D%22Arrow_copy_6%22%20class%3D%22st0%22%20d%3D%22M1.8%2C0L0%2C1.8l5%2C5l-5%2C5l1.8%2C1.7l6.8-6.7L1.8%2C0z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                background-repeat: no-repeat;
                right: 1rem;
                bottom: 0;
                background-size: 80% 80%;
                height: 2rem;
                width: 2rem;
                position: absolute;
            }
        }

        &:after {
            display: none;
        }
    }
}

/* Tablet */

@media (max-width: $tablet) {
    .quick-link {
        .tile {}

        a {
            p {
                font-size: 1.4rem;
                background-image: none;
                padding: 0 $gutter-width;

                strong {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .quick-link {
        padding: 0;
        flex-flow: column;

        .tile {
            margin-bottom: 0;
            display: block;

            &.x2 {
                display: block;

                a {
                    p {
                        strong {
                            font-size: 2.4rem;
                        }
                    }
                }
            }

            // .search-area {
            //     padding-top: 4rem;
            //     padding-bottom: 2rem;

            //     form {
            //         position: relative;
            //         bottom: auto;
            //     }
            // }

            .image-thumb {
                flex-flow: row;

                a {
                    padding-top: 50%;
                    display: inline-block;
                    width: 50%;

                    p {
                        strong {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        // .quick-link .tile .image-thumb a

        a {
            p {
                font-size: 1.4rem;
                background-image: none;
                padding: 0 $gutter-width;

                strong {
                    font-size: 1.4rem;
                }
            }
        }
    }
}