.quick-link {
    position: relative;
    overflow: hidden;

    h3 {
        display: none;
    }

    &.with-heading {
        h3 {
            display: block;
        }
    }

    [class*=col-] {
        padding: 0;
        overflow: hidden;

        p {
            color: $white;
        }
    }

    .singapore-container {
        .singapore-container-value {
            margin: 1% 1% 1% 0;
            width: 53%;
            float: right;

            .singapore-container-items {
                background-color: $white;
                position: relative;
                display: flex;
                justify-content: space-around;
                padding: 1rem 2rem;

                .img-sec {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem 1rem;
                    align-items: baseline;

                    figure {
                        width: 100%;
                        position: relative;
                        text-align: center;

                        .year-to-date {
                            position: absolute;
                            font-size: 2.6rem;
                            font-weight: 700;
                            top: 4.6rem;
                            text-align: center;
                            left: 0;
                            right: 0;
                            margin: auto;
                            line-height: 1.2;
                            color: $black;

                            span {
                                font-weight: 300;
                                display: block;
                                clear: both;
                            }
                        }

                        figcaption {
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: $lightblack;
                        }

                        img {
                            width: 100%;
                            max-width: 15rem;
                            opacity: 0.6;
                            margin-bottom: 1.5rem;
                        }
                    }
                }

                .core-business {
                    width: 33.333%;
                    flex-basis: 33.333%;
                    border: 1px solid yellow;
                }
            }
        }

        > a,
        .top-container {
            display: inline-block;
            overflow: hidden;

            img {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;

                @include transform(translateY(-50%));
            }

            p {
                text-transform: uppercase;
                position: absolute;
                color: $white;
                padding: 0;
                font-size: 2.8rem;
                font-weight: 600;
                z-index: 1;
                top: 34.5%;
                left: 8.7%;
                line-height: 1.3;
                margin-bottom: 0;
                max-width: 35rem;

                span {
                    display: block;
                    clear: both;
                    font-size: 1.6rem;
                    margin-top: 0.4rem;
                    color: $lightGrey;
                }
            }
        }
    }

    .quick-link-bottom {
        [class*=col-] {
            .quick-anchor {
                position: absolute;
                top: 8.6%;
                left: 2.7rem;

                p {
                    font-size: 2.2rem;
                    text-transform: uppercase;
                    line-height: 1.2;
                    margin-bottom: 0;
                    font-weight: 600;

                    strong {
                        font-weight: 900;
                        font-size: 2.7rem;
                        clear: both;
                        letter-spacing: 0.2rem;
                    }
                }
            }

            .psa-carreer {
                .quick-anchor {
                    left: 2.7rem;
                    top: auto;
                    bottom: 23.6%;
                }
            }

            .corporate {
                .quick-anchor {
                    top: auto;
                    left: 46.5%;
                    bottom: 21%;
                }
            }

            img {
                width: 100%;
            }

            a {
                display: block;
            }

            .row {
                margin: 0;
            }
        }
    }

    a {
        p {
            @include transition(0.25s);
        }

        &:hover,
        &:focus {
            outline: 0;

            p {
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: $mediumDesktop) {
    .quick-link {
        .singapore-container {
            .singapore-container-value {
                .singapore-container-items {
                    .img-sec {
                        figure {
                            .year-to-date {
                                font-size: 2rem;
                                top: 3.1rem;

                                span {
                                    font-weight: 300;
                                }
                            }

                            figcaption {
                                font-size: 1.4rem;
                            }

                            img {
                                width: 100%;
                                width: 11.1rem;
                            }
                        }
                    }
                }
            }

            > a {
                p {
                    padding: 0 0 0 1rem;
                    font-size: 2.2rem;

                    span {
                        font-size: 1.4rem;
                    }
                }
            }

            > a,
            .top-container {
                p {
                    left: 2.7rem;
                    width: 31rem;
                }
            }
        }

        .quick-link-bottom {
            [class*=col-] {
                .quick-anchor {
                    p {
                        font-size: 1.6rem;

                        strong {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */
@media (max-width: $tablet) {
    .quick-link {
        .singapore-container {
            > a,
            .top-container {
                p {
                    font-size: 2.2rem;
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .quick-link {
        .singapore-container {
            .singapore-container-value {
                margin: 1%;
                width: 98%;
                float: none;

                .singapore-container-items {
                    padding: 1rem 0.5rem;

                    .img-sec {
                        padding: 0 1rem;

                        figure {
                            .year-to-date {
                                font-size: 1.8rem;
                                top: 2.8rem;

                                span {
                                    font-weight: 300;
                                }
                            }

                            figcaption {
                                font-size: 1.2rem;
                            }

                            img {
                                max-width: 9.3rem;
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }

            > a,
            .top-container {
                p {
                    padding: 4rem 1rem 0 1rem;
                    font-size: 1.8rem;
                    position: relative;
                    left: 0;
                    top: 0;
                    max-width: 100%;

                    br {
                        display: none;
                    }

                    span {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .quick-link-bottom {
            [class*=col-] {
                .quick-anchor {
                    top: 50%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    text-align: center;

                    @include transform(translateY(-50%));

                    p {
                        font-size: 1.6rem;

                        strong {
                            font-size: 2rem;
                        }
                    }
                }

                .psa-carreer,
                .corporate {
                    .quick-anchor {
                        left: 1.5rem;
                        top: auto;
                        bottom: 1.5rem;
                        text-align: left;

                        @include transform(translateY(0));
                    }
                }
            }
        }
    }
}