.quick-link {
    position: relative;
    overflow: hidden;

    .tile {
        display: flex;
        flex-flow: wrap row;

        [class*=col-] {
            padding: 0;
            overflow: hidden;
        }

        .singapore-container-value {
            display: flex;
            justify-content: space-around;

            .img-sec {
                display: flex;
                justify-content: center;
                align-items: center;

                figure {
                    width: 100%;
                    position: relative;
                    text-align: center;

                    .year-to-date {
                        position: absolute;
                        font-size: 2.6rem;
                        font-weight: 700;
                        top: 4.6rem;
                        text-align: center;
                        left: 0;
                        right: 0;
                        margin: auto;
                        line-height: 1.2;

                        span {
                            font-weight: 300;
                            display: block;
                            clear: both;
                        }
                    }

                    figcaption {
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: $lightblack;
                    }

                    svg {
                        width: 100%;
                        max-width: 15.3rem;
                        height: 15.3rem;
                        opacity: 0.6;

                        path {
                            stroke: $skyBlue;
                            circle: $skyBlue;
                        }
                    }
                }

                &:first-child {
                    figure {
                        svg {
                            path {
                                stroke: $blue;
                                circle: $blue;
                            }
                        }
                    }
                }

                &:last-child {
                    figure {
                        svg {
                            path {
                                stroke: $projectBrown;
                                circle: $projectBrown;
                            }
                        }
                    }
                }
            }
        }

        .core-business {
            width: 33.333%;
            flex-basis: 33.333%;
            border: 1px solid yellow;
        }

        a {
            padding-bottom: 0;
            display: block;
            padding-top: 50%;
            position: relative;

            img {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            p {
                text-transform: uppercase;
                position: absolute;
                bottom: 2.5rem;
                left: 0;
                color: $white;
                padding: 0 4rem 0 3rem;
                font-size: 1.4rem;
                font-family: $fontFamily;
                width: 100%;
                font-weight: 900;
                z-index: 1;
                line-height: 1.1;

                //     strong {
                //         font-weight: 900;
                //         font-size: 2.4rem;
                //         display: block;
                //     }

                //     &:after {
                //         content: '';
                //         background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%208.6%2013.4%22%20style%3D%22enable-background%3Anew%200%200%208.6%2013.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%3E%20%3Cg%20id%3D%22Layer_1-2%22%3E%20%20%3Cpath%20id%3D%22Arrow_copy_6%22%20class%3D%22st0%22%20d%3D%22M1.8%2C0L0%2C1.8l5%2C5l-5%2C5l1.8%2C1.7l6.8-6.7L1.8%2C0z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                //         background-repeat: no-repeat;
                //         right: 1rem;
                //         bottom: 0;
                //         background-size: 80% 80%;
                //         height: 2rem;
                //         width: 2rem;
                //         position: absolute;
                //     }
           
            }

            // &:after {
            //     display: none;
            // }
       
        }
    }

    .quick-link-bottom {
        [class*=col-] {
            padding: 0;
            overflow: hidden;

            p {
                position: absolute;
            }

            img {
                width: 100%;
            }

            a {
                display: block;
            }

            .row {
                margin: 0;
            }
        }
    }
}

/* Tablet */

@media (max-width: $tablet) {
    .quick-link {
        .tile {
            // .search-nearby {
            // .search-area {
            //     form {
            //         bottom: 1rem;
            //     }
            // }

            // }
       
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    /*    .quick-link {
        padding: 0;
        flex-flow: column;
    
        .tile {
            &.x2 {
                a {
                    p {
                        strong {
                            font-size: 2.4rem;
                        }
                    }
                }
            }
    
            // .search-nearby {
            .search-area {
                padding-top: 4rem;
                padding-bottom: 2rem;
    
                form {
                    position: relative;
                    bottom: auto;
                }
            }
    
            // }
    
            .image-thumb {
                flex-flow: row;
    
                a {
                    padding-top: 50%;
    
                    p {
                        strong {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    
        // .quick-link .tile .image-thumb a
    
        a {
            p {
                font-size: 1.4rem;
                background-image: none;
                padding: 0 $gutter-width;
    
                strong {
                    font-size: 1.4rem;
                }
            }
        }
    } */
}