.right-panel {
    background-color: $rightPanel;
    padding: 5rem 4rem;

    section {
        margin-bottom: 4rem;
    }

    .tag, .share, .date {
        font-size: 2.1rem;
        font-weight: 500;

        strong {
            display: block;
            font-size: 2.1rem;
            font-weight: 500;
        }

        span {
            font-size: 1.6rem;
            font-weight: 300;

            &:after {
                content: ',';
            }

            &:last-of-type {
                &:after {
                    content: '';
                    display: none;
                }
            }
        }
    }

    table {
        font-size: 1.6rem;
        font-weight: 500;
        width: 100%;

        strong {
            font-weight: 900;
        }

        tr {
            td {
                line-height: 1.5;
                font-size: 1.6rem;

                img {
                    vertical-align: top;
                }
            }
        }

        margin-bottom: 4.5rem;
    }

    h5 {
        + button {
            margin-top: 3.5rem;
            margin-bottom: 7.5rem;
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .right-panel {
        padding: 4rem 1.5rem;
    }
}