.right-panel {
    background-color: $rightPanel;
    padding: 5rem 4rem;

    section {
        margin-bottom: 4rem;
    }

    .tag, .share, .date {
        font-size: 2.1rem;
        font-weight: 500;

        strong {
            display: block;
            font-size: 2.1rem;
            font-weight: 500;
        }

        span {
            font-size: 1.6rem;
            font-weight: 300;

            &:after {
                content: ',';
            }

            &:last-of-type {
                &:after {
                    content: '';
                    display: none;
                }
            }
        }
    }

    .apply-job, .apply-direct {
        h5 {
            margin-bottom: 3.5rem;
        }

        button {
            margin-bottom: 7.5rem;
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .right-panel {
        padding: 4rem 1.5rem;
    }
}