.items {
    margin-bottom: 3rem;
    padding: 4rem 2rem;

    h6 {
        margin-bottom: 0;

        a {
            color: $blue;
            outline: 0;

            &:hover,
            &:focus,
            &:active {
                color: $projectBrown;
                text-decoration: none;
            }
        }
    }

    .result-category {
        margin-bottom: 0.2rem;
    }

    &:first-child {
        margin-top: 2rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .result-text {
        margin-bottom: 0;
    }

    &:nth-child(odd) {
        background-color: $ultraLightGrey;
    }
}

.form-search {
    display: flex;
    margin: 10rem 0px 2rem;

    .input-search {
        height: 5.6rem;
        width: 80%;
        padding: 1rem 2rem;
        color: $projectBlack;
        margin: 0;
        margin-right: 2%;

        @include border-radius(0px);

        vertical-align: top;
        border: 0.1rem solid $projectlightGrey;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        outline: 0;

        @include transition(0.25s);

        &:focus {
            border-color: $projectlightGrey;
            outline: 0;
            box-shadow: none;
            border-bottom: 0.4rem solid $projectBrown;
        }
    }

    .btn {
        width: 20%;
        margin: 0;

        i {
            display: none;
        }
    }
}

.pagination {
    margin: 4rem 0 10rem;

    > li {
        > a {
            color: $blue;
            outline: 0;

            &:hover,
            &:focus,
            &:active {
                background-color: $ultraLightGrey;
            }
        }
    }

    > .active {
        > a {
            color: $white;
            background-color: $projectBrown;
            border-color: $projectBrown;
        }
    }
}

@media (max-width: $tablet) {}

/* Mobile */
@media (max-width: $mobile) {
    .form-search {
        margin: 4rem 0px 2rem;

        .input-search {
            height: 4rem;
            width: 80%;
        }

        .btn {
            min-width: 20%;
            height: 4rem;
            padding: 0;

            i {
                display: block;
            }

            > span {
                display: none;
            }
        }
    }

    .items {
        margin-bottom: 2rem;
        padding: 3rem 2rem;

        &:first-child {
            margin-top: 1rem;
        }
    }

    .pagination {
        margin: 2rem 0 4rem;

        > li {
            display: none;

            &:first-child,
            &:last-child {
                display: inline-block;
            }
        }
    }
}