.search-nearby {
    .search-area {
        .quick-link & {
            background-image: url(../img/search-tile-background.jpg);
            background-repeat: no-repeat;
            background-position: top right;
            background-size: cover;
            position: relative;
            padding-top: 50%;

            form {
                position: absolute;
                font-size: 1.6rem;
                bottom: 3rem;
                width: 90%;
                left: 5%;

                label {
                    font-family: $fontFamily;
                    font-weight: 900;
                    font-size: 1.4rem;
                    color: $white;
                    text-transform: uppercase;

                    strong {
                        font-weight: 900;
                        font-size: 2.4rem;
                        display: block;
                    }
                }

                .search-box {
                    position: relative;
                    margin-top: 2rem;

                    input[type='text'] {
                        width: 100%;
                        height: 4.2rem;
                        font-size: 1.4rem;
                        color: $projectBlue;
                        padding-left: 2rem;
                        padding-right: 4rem;
                        font-weight: 500;
                        background-color: $white;
                    }

                    ::-webkit-input-placeholder {
                        // /* Chrome/Opera/Safari
                        color: $projectBlue;
                        text-transform: uppercase;
                    }

                    ::-moz-placeholder {
                        // /* Firefox 19+
                        color: $projectBlue;
                        text-transform: uppercase;
                    }

                    :-ms-input-placeholder {
                        // /* IE 10+
                        color: $projectBlue;
                        text-transform: uppercase;
                    }

                    :-moz-placeholder {
                        // /* Firefox 18-
                        color: $projectBlue;
                        text-transform: uppercase;
                    }

                    .search-button {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 4.2rem;
                        width: 4rem;
                        border: none;

                        // background: none;

                        img {
                            width: 52%;
                            top: 50%;
                            transform: translateY(-50%);
                            position: absolute;
                            left: 0.4rem;
                        }
                    }
                }
            }
        }

        // background-repeat: no-repeat;
        // background-position: top right;
        // background-size: cover;
        position: relative;

        // padding-top: 50%;

        form {
            position: relative;
            font-size: 1.6rem;
            width: 100%;

            label {
                font-family: $fontFamily;
                font-weight: 900;
                font-size: 2.4rem;
                color: $projectBlue;
                text-transform: uppercase;
                line-height: 1.2;
                margin-bottom: 0;

                strong {
                    font-weight: 900;
                    font-size: 2.4rem;
                    display: block;
                }
            }

            .search-box {
                position: relative;
                margin-top: 3rem;

                input[type='text'] {
                    width: 100%;

                    // height: 4.2rem;
                    height: 5rem;
                    font-size: 1.4rem;
                    color: $white;
                    background-color: $projectBlue;
                    padding-left: 2rem;
                    padding-right: 6rem;
                    font-weight: 500;
                    border: none;
                }

                ::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: $white;
                    text-transform: uppercase;
                }

                ::-moz-placeholder {
                    /* Firefox 19+ */
                    color: $white;
                    text-transform: uppercase;
                }

                :-ms-input-placeholder {
                    /* IE 10+ */
                    color: $white;
                    text-transform: uppercase;
                }

                :-moz-placeholder {
                    /* Firefox 18- */
                    color: $white;
                    text-transform: uppercase;
                }

                .search-button {
                    .quick-link & {
                        background-image: url(../img/search.png);
                    }

                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;

                    // height: 4.2rem;

                    height: 5rem;
                    width: 5.9rem;
                    border: none;
                    background: none;
                    background-image: url(../img/search-white.png);
                    background-repeat: no-repeat;
                    background-size: 2rem;
                    background-position: center;

                    // img {
                    //     width: 52%;
                    //     top: 50%;
                    //     transform: translateY(-50%);
                    //     position: absolute;
                    //     left: 0.4rem;
                    // }
               
                }
            }
        }
    }
}

/* Tablet */

@media (max-width: $tablet) {
    .search-nearby {
        .search-area {
            .quick-link & {
                form {
                    bottom: 1rem;

                    .search-box {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .search-nearby {
        .search-area {
            .quick-link & {
                padding-top: 4rem;
                padding-bottom: 2rem;

                form {
                    position: relative;
                    bottom: auto;
                }
            }
        }

        //.search-nearby.tile .image-thumb a
   
    }
}