.side-nav {
    max-width: 25rem;

    .panel-group {
        .panel {
            border-radius: 0;
            box-shadow: none;

            &:first-of-type {
                .panel-title {
                    > a {
                        padding-top: 0;
                    }
                }
            }

            + .panel {
                margin-top: 0;
            }
        }

        .panel-heading {
            border-radius: 0;
            padding: 0;

            + .panel-collapse > .panel-body {
                border: 0;
                padding: 0;
            }
        }
    }

    .panel-title {
        > a {
            display: block;
            color: $projectGrey;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: 900;
            position: relative;
            padding: 1.4rem 0 1.7rem;

            &:hover, &:focus {
                text-decoration: none;
                color: $projectYellow;
            }

            &[aria-expanded="true"] {
                color: $projectBlue;
                text-decoration: none;

                &:after {
                    background-color: $projectYellow;
                    width: 100%;
                }
            }

            &:after {
                content: '';
                background-color: $sideNavBorder;
                position: absolute;
                height: .2rem;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    .sort-box {
        label {
            position: absolute;
            left: 999rem;
            top: auto;
        }

        select {
            color: $projectGrey;
            text-transform: uppercase;
            font-weight: 900;
            border: none;
            position: relative;
            font-size: 1.6rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            width: 100%;
            padding-bottom: 1.7rem;
            background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2257%22%20height%3D%2236%22%20viewBox%3D%220%200%2057%2036%22%3E%3Cimage%20width%3D%2257%22%20height%3D%2236%22%20xlink%3Ahref%3D%22data%3Aimg%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAADkAAAAkBAMAAADBfo%2FzAAAABGdBTUEAALGPC%2FxhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAJFBMVEUAAAAdR4kdR4kdR4kdR4kdR4kdR4kdR4kdR4kdR4kdR4kAAADHBZvCAAAACnRSTlMAMN%2FvUGBAnxDPzrp%2FzgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfhCRkROQrCeLUAAAAAxElEQVQ4y33SvQ3DIBAF4GcpkVxGyQKp0yGl8hTUHsUbZIA0aSOnuCkDRoe5H0PHe3xC4gCA6wV2cThMwZY1vNHXYg6Hieipy1MKQzmVVlTtnLKMMyVaZXnOWcYb1XjesoQfpV0tJbqzFbjQbMu9AjMNgIN3CotbanFLDZZUY0kV1lRiTQVm%2BhPTZDw7T1cxUzkzxotDd%2BzSHXtUYU0ljqZtsKUtjk5bsUfh%2FjCDfco4HrQbPqLAq0OB8dOhGcdOO77l%2Fg%2Bw%2BfTr9faC9gAAAABJRU5ErkJggg%3D%3D%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: 95% 0.5rem;

            &:hover, &:focus {
                color: $projectBlue;
                border-bottom: 0.2rem solid $projectYellow;
            }
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .side-nav {}
}