.side-nav {
    max-width: 25rem;

    .active-panel {
        background-color: $projectBlue;
        color: $white;
        font-size: 2.4rem;
        position: relative;
        text-transform: uppercase;
        padding: 1.5rem 4rem 1.3rem 1.5rem;
        font-weight: 900;
        display: none;

        &:after {
            content: '';
            height: 1rem;
            width: 2rem;
            position: absolute;
            right: 1.5rem;
            top: 2.3rem;
            background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013.44%208.64%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-white-down%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201-2%22%3E%3Cpath%20id%3D%22Arrow_copy_6%22%20data-name%3D%22Arrow%20copy%206%22%20class%3D%22cls-1%22%20d%3D%22M11%204.2L9.27%202.4l-5%205-5-5-1.67%201.8L4.32%2011z%22%20transform%3D%22translate%282.4%20-2.4%29%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
        }
    }

    .panel-group {
        margin-bottom: 4.5rem;

        .panel {
            border-radius: 0;
            box-shadow: none;

            &:first-of-type {
                .panel-title {
                    > a {
                        padding-top: 0;
                    }
                }
            }

            + .panel {
                margin-top: 0;
            }
        }

        .panel-heading {
            border-radius: 0;
            padding: 0;

            + .panel-collapse {
                > .panel-body {
                    border: 0;
                    padding: 0;
                }

                &.in {
                    .panel-body {
                        padding-bottom: 1.8rem;
                        border-bottom: 0.2rem solid $sideNavBorder;

                        &:empty {
                            padding-bottom: 0;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    .panel-title {
        > a {
            display: block;
            color: $projectGrey;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: 900;
            position: relative;
            padding: 1.4rem 0 1.7rem;

            &:hover, &:focus {
                text-decoration: none;
                color: $projectBlue;
            }

            &[aria-expanded="true"] {
                color: $projectBlue;
                text-decoration: none;

                &:after {
                    background-color: $projectYellow;
                    width: 100%;
                }
            }

            &:after {
                content: '';
                background-color: $sideNavBorder;
                position: absolute;
                height: .2rem;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    .panel-body {
        .sub-heading {
            margin-bottom: 1.8rem;
        }

        a {
            display: inline-block;
            color: $projectGrey;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: 500;
            position: relative;
            padding: 1.6rem 0 0rem;

            &:hover, &:focus, &.active {
                text-decoration: none;
                color: $projectYellow;

                &:after {
                    content: '';
                    position: absolute;
                    height: .2rem;
                    bottom: -.6rem;
                    left: 0;
                    background-color: $projectYellow;
                    width: 100%;
                }
            }

            &:focus, &.active {
                color: $projectBlue;
            }
        }

        ul {
            li {
                a {
                    text-transform: none;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .sort-box {
        select {
            color: $projectBlue;
            text-transform: uppercase;
            font-weight: 900;
            border: none;
            position: relative;
            font-size: 1.6rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            width: 100%;
            padding-bottom: 1.7rem;
            background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013.54%208.66%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%231d4789%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-blue-down%3C%2Ftitle%3E%3Cpath%20id%3D%22Arrow_copy_6%22%20data-name%3D%22Arrow%20copy%206%22%20class%3D%22cls-1%22%20d%3D%22M11.08%204.15l-1.77-1.8-5%205-5-5-1.77%201.8L4.36%2011z%22%20transform%3D%22translate%282.46%20-2.35%29%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-size: 1.6rem;
            background-position: 99% 0.3rem;

            &:hover, &:focus {
                color: $projectBlue;
                border-bottom: 0.2rem solid $projectYellow;
            }
        }
    }
}

/* Mobile */
@media (max-width: $mobile) {
    .side-nav {
        max-width: none;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-bottom: 3rem;

        .active-panel {
            display: block;
        }

        .panel-group {
            display: none;
            border-top: 1px solid $white;

            .panel {
                background-color: $projectBlue;

                &:first-of-type {
                    .panel-title {
                        > a {
                            padding-top: 1.4rem;
                        }
                    }
                }

                &:last-of-type {
                    .panel-title > a {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            .panel-title > a {
                padding-left: 1.6rem;
                padding-right: 1.6rem;
                color: $white;
                background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20viewBox%3D%220%200%208.6%2013.4%22%20style%3D%22enable-background%3Anew%200%200%208.6%2013.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%3E%20%3Cg%20id%3D%22Layer_1-2%22%3E%20%20%3Cpath%20id%3D%22Arrow_copy_6%22%20class%3D%22st0%22%20d%3D%22M1.8%2C0L0%2C1.8l5%2C5l-5%2C5l1.8%2C1.7l6.8-6.7L1.8%2C0z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                background-repeat: no-repeat;
                background-size: 1rem 1.7rem;
                background-position: calc(100% - 1.5rem) center;

                &:hover {
                    color: $projectYellow;
                }

                &[aria-expanded="true"] {
                    color: $projectYellow;
                    background-image: url("data:image/svg+xml;charset%3DUS-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208.6%2013.4%22%3E%3Cstyle%3E.st0%7Bfill%3A%23f3c828%7D%3C%2Fstyle%3E%3Ctitle%3EArrow%20copy%206%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%3E%3Cg%20id%3D%22Layer_1-2%22%3E%3Cpath%20id%3D%22Arrow_copy_6%22%20class%3D%22st0%22%20d%3D%22M1.8%200L0%201.8l5%205-5%205%201.8%201.7%206.8-6.7L1.8%200z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
                    background-repeat: no-repeat;

                    &:after {
                        background-color: $white;
                        width: 100%;
                    }
                }
            }

            .panel-body {
                .sub-heading {
                    margin-bottom: 1.8rem;
                }

                a {
                    color: $white;
                    display: block;
                    padding-left: 1.6rem;
                    padding-right: 1.6rem;

                    &:hover, &:focus, &.active {
                        color: $projectYellow;
                    }
                }
            }
        }

        .sort-box {
            margin-top: 1.8rem;

            select {
                background-position: calc(100% - 18px) 0.3rem;
            }
        }
    }
}