.tender-header {
    p {
        font-size: 1.4rem;

        &.tender-ref {
            position: relative;
            padding-left: 4rem;

            &::before {
                content: '';
                width: 2.5rem;
                height: 2.5rem;

                @include border-radius(10rem);

                display: block;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $projectBrown;
            }
        }
    }
}

/* Tablet */
@media (max-width: $tablet) {}

/* Mobile */
@media (max-width: $mobile) {
    .tender-header {}
}