// font family
$fontFamily: "Montserrat", sans-serif;

$iconFont: "fontAwesome";

// speed
$easing: cubic-bezier(0.7, 0, 0, 0.7);
$speed: 2ms;

// max page width;
$wrapper-width: 140rem;
$gutter-width: 1.5rem;

$mobile: 767px;
$mobileSmall: 374px;
$tablet: 991px;
$mediumDesktop: 1199px;
$Desktop: 1300px;

// PSA project colors
$projectGrey: #727272;
$projectSkyBlue: #5c8d9f;
$projectBlue: #343f55;
$projectBrown: #c42227;
$projectLightBrown: #b8b3aa;
$projectBlack: #1f1f1f;
$projectlightGrey: #ebebeb;
$projectlighterGrey: #8f8f8f;
$projectMediumBlack: #1a1a1a;
$projectDarkBlack: #111111;
$projectSemiGrey: #696866;

$lightGrey: #ccc;
$ultraLightGrey: #e1e1e1;
$ultraGrey: #f9f9fa;
$black: #000;
$white: #fff;
$lighterGrey: #949494;
$greyDark: #323232;
$greyStrip: #252525;
$mediumblack: #616161;
$lightbrown: #b26c3e;
$lightseagreen: #032f3e;
$darkseagreen: #0f2931;
$lightblack: #363636;
$silver: #c7cdd0;
$blue: #014181;
$skyBlue: #00b0ec;
$lightergray: #caccce;
$lightBlue: #dae4e6;
$semiGray: #f6f6f6;

// background
$listingBg: #e6eef0;

///////////////////////////////////////////////DUMMY COLOR

$projectNavyBlue: #103771;
$projectYellow: #f3c828;

///////////////////////////////////////////////////DUMMY COLOR