// speed
$easing: cubic-bezier(0.7, 0, 0, 0.7);
$speed: 200ms;

// max page width;
$wrapper-width: 140rem;
$gutter-width: 1.5rem;

// device
$mobile: 767px;

// color
$black: #000;
$white: #fff;

// project colors
$projectBlue: #1d4789;
$projectYellow: #f3c828;
$projectGrey: #6d6e71;
$projectLightGrey: #707070;