// font family
$fontFamily: "Montserrat", sans-serif;

$iconFont: "fontAwesome";

// speed
$easing: cubic-bezier(0.7, 0, 0, 0.7);
$speed: 2ms;

// max page width;
$wrapper-width: 140rem;
$gutter-width: 1.5rem;

$mobile: 767px;
$tablet: 991px;
$mediumDesktop: 1199px;

// PSA project colors
$projectGrey: #727272;
$projectSkyBlue: #5c8d9f;
$projectBlue: #343f55;
$projectBrown: #bb5241;
$projectLightBrown: #b8b3aa;
$projectBlack: #1f1f1f;
$projectlightGrey: #ebebeb;
$projectlighterGrey: #8f8f8f;
$projectMediumBlack: #1a1a1a;
$projectDarkBlack: #111111;
$projectSemiGrey: #696866;

$lightGrey: #ccc;
$ultraLightGrey: #e1e1e1;
$ultraGrey: #f9f9fa;
$black: #000;
$white: #fff;
$lighterGrey: #949494;
$greyDark: #323232;
$greyStrip: #252525;
$mediumblack: #616161;
$lightbrown: #b26c3e;
$lightseagreen: #032f3e;
$darkseagreen: #0f2931;
$lightblack: #363636;

///////////////////////////////////////////////DUMMY COLOR

$projectNavyBlue: #103771;
$projectYellow: #f3c828;

// $projectGrey: #6d6e71;
$projectLightGrey: #707070;
$borderPurple: #373e74;
$borderGrey: #a3a5a3;

$sideNavBorder: #dcddde;
$rightPanel: #ebebed;

$formElementText: #707070;
$formElementBorder: #e6e7e6;

///////////////////////////////////////////////////DUMMY COLOR