.icon-arrow-blue { background-image: url('png/arrow-blue.png'); background-repeat: no-repeat; }

.icon-arrow-white-right { background-image: url('png/arrow-white-right.png'); background-repeat: no-repeat; }

.icon-arrow-white { background-image: url('png/arrow-white.png'); background-repeat: no-repeat; }

.icon-arrow-yellow-right { background-image: url('png/arrow-yellow-right.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

