.icon-arrow-blue-down { background-image: url('png/arrow-blue-down.png'); background-repeat: no-repeat; }

.icon-arrow-blue { background-image: url('png/arrow-blue.png'); background-repeat: no-repeat; }

.icon-arrow-white-down { background-image: url('png/arrow-white-down.png'); background-repeat: no-repeat; }

.icon-arrow-white-right { background-image: url('png/arrow-white-right.png'); background-repeat: no-repeat; }

.icon-arrow-white { background-image: url('png/arrow-white.png'); background-repeat: no-repeat; }

.icon-arrow-yellow-right { background-image: url('png/arrow-yellow-right.png'); background-repeat: no-repeat; }

.icon-download { background-image: url('png/download.png'); background-repeat: no-repeat; }

.icon-facebook-yellow { background-image: url('png/facebook-yellow.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-instagram-yellow { background-image: url('png/instagram-yellow.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-linkedin-yellow { background-image: url('png/linkedin-yellow.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-print { background-image: url('png/print.png'); background-repeat: no-repeat; }

.icon-twitter-yellow { background-image: url('png/twitter-yellow.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-youtube-yellow { background-image: url('png/youtube-yellow.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

