<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="container well">
        <div class="row">
            <h3>Component: 505 Component</h3>
            <p>Description: 505
                <br> Default class: .not-found
            </p>
        </div>
    </div>

    <!-- For backend -->
    <div class="not-found">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2>500</h2>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="../img/crying-face.png" alt="icon-sad">
                    <h4>Oh no !!</h4>
                    <p>Sorry, we are currently experiencing an internal server issue. Fortunately we’re pretty handy so please try again later. </p>
                    <a href="#!" class="btn btn-primary">Back to home page</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>