<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend team -->
    <div class="container well">
        <h3>Component: Accordion</h3>
        <p>Description: Accordion
            <br> Default class: .accordion

        </p>
    </div>
    <!-- Visit FAQ component start-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="accordion">
                    <div class="panel-body">
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" role="button" aria-expanded="false" href="#collapse0">
                                <span class="badge">0</span>general questions
                            </a>
                        </h6>
                        <div id="collapse0" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" role="button" aria-expanded="false" href="#collapse1">
                                <span class="badge">0</span>psa licence
                            </a>
                        </h6>
                        <div id="collapse1" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" role="button" aria-expanded="true" href="#collapse2">
                                <span class="badge">0</span>psa passes
                            </a>
                        </h6>
                        <div id="collapse2" class="panel-collapse collapse in">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" role="button" aria-expanded="false" href="#collapse3">
                                <span class="badge">0</span>psa temporary pass (tp)
                            </a>
                        </h6>
                        <div id="collapse3" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" role="button" aria-expanded="false" href="#collapse4">
                                <span class="badge">0</span>psa vehicle permit
                            </a>
                        </h6>
                        <div id="collapse4" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" role="button" aria-expanded="false" href="#collapse5">
                                <span class="badge">0</span>safety matters
                            </a>
                        </h6>
                        <div id="collapse5" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" role="button" aria-expanded="false" href="#collapse6">
                                <span class="badge">0</span>using psa pass and psa tp at pedestrian gate access
                            </a>
                        </h6>
                        <div id="collapse6" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ab fuga! Ex reiciendis officia rerum dolor, pariatur mollitia suscipit officiis voluptates esse cupiditate commodi incidunt laborum placeat dolore eveniet delectus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Visit FAQ component end-->
    <script src="../js/app.min.js"></script>
</body>

</html>