<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
        <!-- IMAGE MATRIX -->
    <div class="container hidden-xs page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-muted">Component: Quick link</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <table class="table table">
                    <tbody>
                        <tr>
                            <th>Viewport</th><th>Retina</th><th>Standard</th>
                        </tr>
                        <tr>
                            <td><strong>dw</strong></td><td>-</td><td>-</td>
                        </tr>
                        <tr>
                            <td><strong>dc</strong></td><td>-</td><td>-</td>
                        </tr>
                        <tr>
                            <td><strong>tp</strong></td><td>3400x710</td><td>1700x355</td>
                        </tr>
                        <tr>
                            <td><strong>m</strong></td><td>750x274</td><td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   

    <section class="breadcrum">
            <div class="caption-text">
            	<div class="page-title">
                    <a href="#!" title="about us">about us</a>  
                </div>
                <h1>module page</h1>
            </div>
            <picture>
    	        <source srcset="../img/component/breadcrum/breadcrum-3400x710.jpg" media="(min-width:768px) and (min-resolution: 144dpi)">
    	        <!-- T2x -->
    	        <source srcset="../img/component/breadcrum/breadcrum-1700x355.jpg" media="(min-width:768px)">
    	        <!-- T -->
    	        <source srcset="../img/component/breadcrum/breadcrum-750x274.jpg" media="(min-width:320px)">
    	        <!-- M -->
    	        <!--[if IE 9]></video><![endif]-->
    	        <img srcset="../img/component/breadcrum/breadcrum-1700x355.jpg" alt="Sample Image">
    	        <!-- Fallback -->
    	    </picture>
    </section>
    <script src="../js/app.min.js"></script>
</body>

</html>