<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/app.css">

</head>

<body>
<div id="vue-holder"></div>

<section class="breadcrum">
    
<div class="container">

<div class="page-title">Catalogues</div>
<h1>HYDRAULIC</h1>


<div class="button-area ">
	<a href="mailto:someone@example.com" class="mail"><i class="fa fa-envelope" aria-hidden="true"></i> </a>
	<a href="" class="print" onclick="javascript:window.print();"> </a>


</div>
</div>

</section> <br><br><br><br><br><br><br>

<p>
	<b><em>.mobile-hide</em></b> for category detail pages with SIDE NAV

</p>
<br><br>



<section class="breadcrum mobile-hide">
    
<div class="container">

<div class="page-title">Catalogues</div>
<h1>HYDRAULIC</h1>


<div class="button-area ">
	<a href="mailto:someone@example.com" class="mail"><i class="fa fa-envelope" aria-hidden="true"></i> </a>
	<a href="" class="print" onclick="javascript:window.print();"> </a>


</div>
</div>

</section>
    
    <script src="../js/app.min.js"></script>
</body>

</html>