<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    asd
    <section class="breadcrum">
        <div class="container">
            <div class="caption-text">
            	<div class="page-title">about us</div>
            <h1>module page</h1>
            </div>
        </div>

        <picture>
	        <source srcset="https://placehold.it/2340x800/bf503d/000000" media="(min-width:768px) and (min-resolution: 144dpi)">
	        <!-- T2x -->
	        <source srcset="https://placehold.it/1700x355/ada51d/000000" media="(min-width:768px)">
	        <!-- T -->
	        <source srcset="https://placehold.it/750x260/1d31ad/000000" media="(min-width:320px)">
	        <!-- M -->
	        <!--[if IE 9]></video><![endif]-->
	        <img srcset="https://placehold.it/1700x355/70dd5e/000000" alt="Sample Image">
	        <!-- Fallback -->
	    </picture>

    </section>
    asdf
    <script src="../js/app.min.js"></script>
</body>

</html>