<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend -->
    <section class="career-benefits">
        <div class="container">
            <h3>Benefits</h3>
            <p class="subheading">Let us share our success with you!</p>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="http://placehold.it/706x438/0054A6/fff/&amp;text=706x438" alt="benefits-1">
                            <div class="caption">
                                <h4>Lorem Ipsum dorem suite</h4>
                                <p>You can choose from a suite of leave options in recognition of your personal needs and family commitments.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/career-benefits/benefits-1.jpg" alt="benefits-2">
                            <div class="caption">
                                <h4>Lorem Ipsum dorem suite</h4>
                                <p>You can choose from a suite of leave options in recognition of your personal needs and family commitments.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/career-benefits/benefits-1.jpg" alt="benefits-3">
                            <div class="caption">
                                <h4>Lorem Ipsum dorem suite</h4>
                                <p>You can choose from a suite of leave options in recognition of your personal needs and family commitments.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- FOR TEMPLATE AND TESTING USE -->
    <br><br><br><br><br><br><br><hr><br><br><br><br><br><br><br>

    <!-- For backend team -->
    <div class="container well">
        <div class="row">
            <h3>Component: Career Benefits Component</h3>
            <p>Description: Career Benefits Component thumbnail
                <br> Default class: .career-benefits
            </p>
        </div>
    </div>

   
    <script src="../js/app.min.js"></script>
</body>

</html>