<!DOCTYPE html>
<html>

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>

<div id="vue-holder"></div>


    <section class="category-grid">
        <ul>
            <li> <a href="">
                <div class="thumbnail download">
                   
                   <figure>
                        <img src="http://via.placeholder.com/240x182" alt="Lights" >
                   </figure>
                    <div class="caption">
                       <p class="date">oct 16</p>
                      <p>Hose Tails.</p>
                    </div>
                 
                </div> </a>
            </li>
            <li> <a href="">
                <div class="thumbnail download">
                   
                   <figure>
                        <img src="http://via.placeholder.com/240x182" alt="Lights" >
                   </figure>
                    <div class="caption">
                       <p class="date">oct 16</p>
                      <p>Hose Tails.</p>
                    </div>
                 
                </div> </a>
            </li>
            <li> <a href="">
                <div class="thumbnail download">
                   
                   <figure>
                        <img src="http://via.placeholder.com/240x182" alt="Lights" >
                   </figure>
                    <div class="caption">
                       <p class="date">oct 16</p>
                      <p>Hose Tails.</p>
                    </div>
                 
                </div> </a>
            </li>
            <li> <a href="">
                <div class="thumbnail download">
                   
                   <figure>
                        <img src="http://via.placeholder.com/240x182" alt="Lights" >
                   </figure>
                    <div class="caption">
                       <p class="date">oct 16</p>
                      <p>Hose Tails.</p>
                    </div>
                 
                </div> </a>
            </li>
            <li> <a href="">
                <div class="thumbnail download">
                   
                   <figure>
                        <img src="http://via.placeholder.com/240x182" alt="Lights" >
                   </figure>
                    <div class="caption">
                       <p class="date">oct 16</p>
                      <p>Hose Tails.</p>
                    </div>
                 
                </div> </a>
            </li>
            <li> <a href="">
                <div class="thumbnail download">
                   
                   <figure>
                        <img src="http://via.placeholder.com/240x182" alt="Lights" >
                   </figure>
                    <div class="caption">
                       <p class="date">oct 16</p>
                      <p>Hose Tails.</p>
                    </div>
                 
                </div> </a>
            </li>
        </ul>
    </section>
    <script src="../js/app.min.js"></script>

</body>

</html>