<!DOCTYPE html>
<html>

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div id="vue-holder"></div>
    <div class="container">
        <section class="content-area">
            <h3>TEKNO DUO TAKE PIRTEK ENDURO CUP LEAD AFTER BATHURST WIN</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a tortor erat. Duis lacus magna, auctor quis orci quis, fermentum vehicula tellus. Aenean at lectus ipsum. Fusce quis maximus nisl.v</h4>
            <h4>Will Davison and Jonathon Webb have swept to a six point lead in the 2016 Supercars PIRTEK Enduro Cup after a dramatic Supercheap Auto Bathurst 1000.</h4>
            <img src="http://via.placeholder.com/840x340/505505" alt="sample image">
            <p>Suspendisse eget lectus at ipsum fringilla cursus. In ullamcorper, lectus quis scelerisque sollicitudin, magna velit volutpat lectus, quis sagittis enim sem vel libero. Nunc laoreet feugiat pretium. Duis id ipsum nec velit vestibulum molestie ac id nulla. In sed lectus eu lectus vulputate vehicula ut quis diam. Sed ac orci elit. Vivamus maximus ultricies placerat.</p>
            <p>Vivamus ut augue sollicitudin, tincidunt ante non, tristique neque. Sed viverra sed orci volutpat eleifend. Pellentesque quis orci elementum, vehicula nulla quis, ultricies dolor. Suspendisse malesuada accumsan orci in luctus. Pellentesque semper justo in lacinia molestie. Proin condimentum, magna a pharetra hendrerit, leo libero efficitur tortor, quis lacinia dui ex id nisi. Integer leo libero, auctor eget pretium. </p>
            <img src="http://via.placeholder.com/840x340/505505" alt="sample image">
         <p>  Due to continued positive growth and a philosophy based on service excellence, we seek to employ a sales orientated person for the position of “Business Development Manager” to be based in our Mount Isa Service and Supply Centre.</p>

<p><strong>Strong consideration will be given to applicants who show evidence of the following;</strong></p>
<ul>
  <li>Background with previous experience in Hydraulic and related industries is an advantage but not essential</li>
  <li>Track record in successful selling</li>
  <li>Responsibility for the sales performance of the business</li>
  <li>Team player with strong people, leadership and communication skills to ensure optimum performance from both sales and service departments</li>
  <li>Play an active role with management on budget setting and future business planning.</li>
  <li>Ability to plan and manage sales territories geographically and to develop further business from selected target accounts.</li>
  <li>Prioritise to meet deadlines</li>
  <li>Ability to problem solving</li>
  <li>Good numeracy, verbal and written skills</li>
  <li>Possess a current driver’s licence</li>
  <li>Ability to pass mine induction and medical processes.</li>

</ul>

            <p>Suspendisse eget lectus at ipsum fringilla cursus. In ullamcorper, lectus quis scelerisque sollicitudin, magna velit volutpat lectus, quis sagittis enim sem vel libero. Nunc laoreet feugiat pretium. Duis id ipsum nec velit vestibulum molestie ac id nulla. In sed lectus eu lectus vulputate vehicula ut quis diam. Sed ac orci elit. Vivamus maximus ultricies placerat.</p>
            <p>Vivamus ut augue sollicitudin, tincidunt ante non, tristique neque. Sed viverra sed orci volutpat eleifend. Pellentesque quis orci elementum, vehicula nulla quis, ultricies dolor. Suspendisse malesuada accumsan orci in luctus. Pellentesque semper justo in lacinia molestie. Proin condimentum, magna a pharetra hendrerit, leo libero efficitur tortor, quis lacinia dui ex id nisi. Integer leo libero, auctor eget pretium. </p>
            <img src="http://via.placeholder.com/840x340/505505" alt="sample image">
            <p>Suspendisse eget lectus at ipsum fringilla cursus. In ullamcorper, lectus quis scelerisque sollicitudin, magna velit volutpat lectus, quis sagittis enim sem vel libero. Nunc laoreet feugiat pretium. Duis id ipsum nec velit vestibulum molestie ac id nulla. In sed lectus eu lectus vulputate vehicula ut quis diam. Sed ac orci elit. Vivamus maximus ultricies placerat.</p>
            <p>Vivamus ut augue sollicitudin, tincidunt ante non, tristique neque. Sed viverra sed orci volutpat eleifend. Pellentesque quis orci elementum, vehicula nulla quis, ultricies dolor. Suspendisse malesuada accumsan orci in luctus. Pellentesque semper justo in lacinia molestie. Proin condimentum, magna a pharetra hendrerit, leo libero efficitur tortor, quis lacinia dui ex id nisi. Integer leo libero, auctor eget pretium. </p>
            
        </section>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>