<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/app.css">

</head>

<body>
<div id="vue-holder"></div>

<div class="container">

<section class="cta-list">
    <ul>
    	<li>
    		<div class="logo"><img src="https://placehold.it/190x80/D796FF/000000" alt=""></div>
    		<div class="text-holder">
    			<div class="title">NITTO CUPLAS</div>
    			<div class="link"><a href="#" class="cta"> VIEW CATALOGUE</a></div>
    		</div>

    	</li><li>
    		<div class="logo"><img src="https://placehold.it/190x80/D796FF/000000" alt=""></div>
    		<div class="text-holder">
    			<div class="title">NITTO CUPLAS</div>
    			<div class="link"><a href="#" class="cta"> VIEW CATALOGUE</a></div>
    		</div>

    	</li><li>
    		<div class="logo"><img src="https://placehold.it/190x80/D796FF/000000" alt=""></div>
    		<div class="text-holder">
    			<div class="title">NITTO CUPLAS</div>
    			<div class="link"><a href="#" class="cta"> VIEW CATALOGUE</a></div>
    		</div>

    	</li>
    </ul>

</section>
    
</div>

    <script src="../js/app.min.js"></script>
</body>

</html>