<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/app.css">

</head>

<body>
<div id="vue-holder"></div>

<div class="container">

<section class="download-brochure">
    
<a href="#" class="cta">
<p class="text-uppercase">
Download brochure <br>
<strong>civil engineering SOLUTIONS </strong></p>
<div class="download-icon"></div>
</a>




</section>

 </div>   
    <script src="../js/app.min.js"></script>
</body>

</html>