<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend team -->
    <div class="container well">
        <h3>Component: Tender Notices</h3>
        <p>Description: Tender Notices
            <br> Default class: .tender-notice
        </p>
    </div>
    <!-- Visit FAQ component start-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="faq">
                    <div class="panel-body">
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" href="#collapse0">
                                <span class="badge">0</span>general questions
                            </a>
                        </h6>
                        <div id="collapse0" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" href="#collapse1">
                                <span class="badge">0</span>psa licence
                            </a>
                        </h6>
                        <div id="collapse1" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" href="#collapse2">
                                <span class="badge">0</span>psa passes
                            </a>
                        </h6>
                        <div id="collapse2" class="panel-collapse collapse in">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" href="#collapse3">
                                <span class="badge">0</span>psa temporary pass (tp)
                            </a>
                        </h6>
                        <div id="collapse3" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" href="#collapse4">
                                <span class="badge">0</span>psa vehicle permit
                            </a>
                        </h6>
                        <div id="collapse4" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" href="#collapse5">
                                <span class="badge">0</span>safety matters
                            </a>
                        </h6>
                        <div id="collapse5" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                        </div>
                        <!-- column -->
                        <h6>
                            <a data-toggle="collapse" href="#collapse6">
                                <span class="badge">0</span>using psa pass and psa tp at pedestrian gate access
                            </a>
                        </h6>
                        <div id="collapse6" class="panel-collapse collapse">
                            <!-- question 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.1</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                            <!-- question 2 -->
                            <div class="media">
                                <div class="media-left">
                                    <p><strong>Q3.2</strong></p>
                                </div>
                                <div class="media-body">
                                    <p><strong>What if I lost my NRIC?</strong></p>
                                    <p> Please obtain a replacement NRIC before submitting your PSA Pass / TP application. For PSA Pass renewal / replacement, submit a declaration stating the loss and provide a photograph identification with your NRIC No. printed on it.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Visit FAQ component end-->
    <script src="../js/app.min.js"></script>
</body>

</html>