<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/app.css">

</head>

<body>
<div id="vue-holder"></div>

<section class="grid-filter">
<label for="sort-by"></label>
 <select name="sort-by" id="sort-by">
 	<option>All regions</option>
    	<option>NSw</option>
    	<option>act</option>
    	<option>vic</option>
    	<option>wa</option>
    	<option>qld</option>
    	<option>tas</option>
    	<option>nt</option>
    	<option>nz</option>
 </select>

   <ul>
    	<li><a href="#" class="active">All regions</a></li>
    	<li><a href="#">NSw</a></li>
    	<li><a href="#">act</a></li>
    	<li><a href="#">vic</a></li>
    	<li><a href="#">wa</a></li>
    	<li><a href="#">qld</a></li>
    	<li><a href="#">tas</a></li>
    	<li><a href="#">nt</a></li>
    	<li><a href="#">nz</a></li>
    </ul>


</section>
    
    <script src="../js/app.min.js"></script>
</body>

</html>