<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <header>
        <div class="container brand-bar">
            <a href="" class="logo">
                <img src="../img/logo.png" alt="PSA Singapore">
            </a>
            <div class="top-nav-wrap">
                <ul class="top-nav">
                    <li><a href="#!">News &amp; Media</a></li>
                    <li><a href="#!">Faq</a></li>
                    <li><a href="#!">Contact Us</a></li>
                    <li><a href="#!" target="_blank"><img src="../img/member-psa-logo.png" alt="a member of Global PSA"></a></li>
                </ul>
                <ul class="social-bar">
                    <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="search-btn"> <img src="../img/search-white.png" alt=""></a>
                    <a href="#!" target="_blank" class="global-btn"><img src="../img/member-psa-logo-mobile.png" alt="a member of Global PSA"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Tenders</a></li>
                        <li class="dropdown menu-lg">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our business</a>
                            <ul class="dropdown-menu " role="menu">
                                <li>
                                    <ul>
                                        <li><a href="#">Terminals</a></li>
                                        <li><a href="#">Joint-Venture Terminals</a></li>
                                        <li><a href="#">Multi-Purpose Terminals</a></li>
                                        <li><a href="#">Future Terminals</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="#">Container Services</a></li>
                                        <li><a href="#">ReeferCare</a></li>
                                        <li><a href="#">ChemCare</a></li>
                                        <li><a href="#">BoxCare</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="#">Shippers' Services</a></li>
                                        <li><a href="#">Keppel Distripark (KD)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown menu-sm">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Port users</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Passes, Permits And Licenses</a>
                                </li>
                                <li>
                                    <a href="#">Application Forms & Permits</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Safety Pointers</a>
                                </li>
                                <li>
                                    <a href="#">Terminal Bus Guide</a>
                                </li>
                                <li>
                                    <a href="#">Tender Information</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown menu-sm">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our commitment</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Health And Safety</a>
                                </li>
                                <li>
                                    <a href="#">Security</a>
                                </li>
                                <li>
                                    <a href="#">Innovation</a>
                                </li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Corporate Social Responsibility<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Community</a></li>
                                        <li><a href="#">Education</a></li>
                                        <li><a href="#">Environment</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown menu-sm">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Careers</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Why Join PSA</a>
                                </li>
                                <li>
                                    <a href="#">Our PSA Family</a>
                                </li>
                                <li class="dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Young Aspirations <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Scholarships</a></li>
                                        <li><a href="#">Internships</a></li>
                                        <li><a href="#">Management Associate Programme</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Benefits</a>
                                </li>
                                <li>
                                    <a href="#">Career Brochures</a>
                                </li>
                                <li>
                                    <a href="#">Apply Now</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown menu-sm">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Mission And Values</a>
                                </li>
                                <li>
                                    <a href="#">Milestones</a>
                                </li>
                                <li>
                                    <a href="#">Management Structure</a>
                                </li>
                                <li>
                                    <a href="#">Core Business</a>
                                </li>
                                <li>
                                    <a href="#">Awards And Accolades</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="search-box">
                                <label for="search">Search</label>
                                <input type="text" id="search" placeholder="Enter your search here ...">
                                <button type="submit" class="search-button"></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <script src="../js/app.min.js"></script>
</body>

</html>