<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <header>
        <div class="container brand-bar">
            <a href='' class="logo">
                <img src="../img/logo.png" alt="PSA Singapore">
            </a>
            <div class="top-nav-wrap">
                <ul class="top-nav">
                    <li><a href="#!">News &amp; Media</a></li>
                    <li><a href="#!">Faq</a></li>
                    <li><a href="#!">Contact Us</a></li>
                    <li><a href="#!" target="_blank"><img src="../img/member-psa-logo.png" alt="a member of Global PSA"></a></li>
                </ul>
                <ul class="social-bar">
                    <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-default " role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="search-btn"> <img src="../img/search-white.png" alt=""></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Tenders</a></li>
                        <li class="active"><a href="#">Our business</a></li>
                        <li><a href="#">Port users</a></li>
                        <li><a href="#">Our commitment</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <form action="">
                            <div class="search-box">
                                <label for="search">Search</label>
                                <input type="text" id="search" placeholder="Enter your search here ...">
                                <button type="submit" class="search-button"></button>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <script src="../js/app.min.js"></script>
</body>

</html>