<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend team -->
    <div class="latest-news">
        <h2>Latest <strong>News</strong></h2>
        <div class="latest-news-top">
            <a href="#!">   
            <span class="date stack"><i class="fa fa-calendar" aria-hidden="true"></i>15 Aug</span>
            <span class="date">15 August 2017</span>
            <strong>PIL, PSA And IBM Collaborate To Envision And Trial Blockchain-Based Supply Chain Business Network Innovations</strong>
            <p>Pacific International Lines (Pte) Ltd (“PIL”), PSA International Pte Ltd (“PSA”) and IBM Singapore Pte Ltd (“IBM”), signed a Memorandum of Understanding (MOU) today to explore ...</p>
            </a>
        </div>
    </div>
    <div class="latest-news headline">
        <a href="" class="btn btn-primary pull-right">View All</a>
        <div class="latest-news-item">
            <a href="#!">   
                <span class="date stack"><i class="fa fa-calendar" aria-hidden="true"></i>15 Aug</span>
                <span class="date">15 August 2017</span>
                <strong>PIL, PSA And IBM Collaborate To Envision And Trial Blockchain-Based Supply Chain Business Network Innovations
                </strong>
                <p>Pacific International Lines (Pte) Ltd (“PIL”), PSA International Pte Ltd (“PSA”) and IBM Singapore Pte Ltd (“IBM”), signed a Memorandum of Understanding (MOU) today to explore ...</p>
            </a>
        </div>
        <div class="latest-news-item">
            <a href="#!">   
                <span class="date stack"><i class="fa fa-calendar" aria-hidden="true"></i>15 Aug</span>
                <span class="date">15 August 2017</span>
                <strong>PIL, PSA And IBM Collaborate To Envision And Trial Blockchain-Based Supply Chain Business Network Innovations
                </strong>
                <p>Pacific International Lines (Pte) Ltd (“PIL”), PSA International Pte Ltd (“PSA”) and IBM Singapore Pte Ltd (“IBM”), signed a Memorandum of Understanding (MOU) today to explore ...</p>
            </a>
        </div>
        <div class="latest-news-item">
            <a href="#!">   
                <span class="date stack"><i class="fa fa-calendar" aria-hidden="true"></i>15 Aug</span>
                <span class="date">15 August 2017</span>
                <strong>PIL, PSA And IBM Collaborate To Envision And Trial Blockchain-Based Supply Chain Business Network Innovations
                </strong>
                <p>Pacific International Lines (Pte) Ltd (“PIL”), PSA International Pte Ltd (“PSA”) and IBM Singapore Pte Ltd (“IBM”), signed a Memorandum of Understanding (MOU) today to explore ...</p>
            </a>
        </div>
    </div>
    
    <!-- FOR TEMPLATE AND TESTING USE -->

    <br><br><br><br><br><br><br><hr><br><br><br><br><br><br><br>

    <!-- COMPONENT NAME -->

    <div class="container well">
        <h3>Component: Latest News Component</h3>
        <p>Description: Latest News
            <br> Left side class: .latest-news
            <br> Right side class .latest-news.headline.hidden-xs
        </p>
    </div>
    <br><br><br>

    <!-- TEMPLATE -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="latest-news">
                    <h2>Latest <strong>News</strong></h2>
                    <div class="latest-news-top">
                        <a href="#!">   
                        <span class="date stack"><i class="fa fa-calendar" aria-hidden="true"></i>15 Aug</span>
                        <span class="date">15 August 2017</span>
                        <strong>PIL, PSA And IBM Collaborate To Envision And Trial Blockchain-Based Supply Chain Business Network Innovations</strong>
                        <p>Pacific International Lines (Pte) Ltd (“PIL”), PSA International Pte Ltd (“PSA”) and IBM Singapore Pte Ltd (“IBM”), signed a Memorandum of Understanding (MOU) today to explore ...</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="latest-news headline">
                    <a href="" class="btn btn-primary pull-right">View All</a>
                    <div class="latest-news-item">
                        <a href="#!">   
                            <span class="date stack"><i class="fa fa-calendar" aria-hidden="true"></i>15 Aug</span>
                            <span class="date">15 August 2017</span>
                            <strong>PIL, PSA And IBM Collaborate To Envision And Trial Blockchain-Based Supply Chain Business Network Innovations
                            </strong>
                            <p>Pacific International Lines (Pte) Ltd (“PIL”), PSA International Pte Ltd (“PSA”) and IBM Singapore Pte Ltd (“IBM”), signed a Memorandum of Understanding (MOU) today to explore ...</p>
                        </a>
                    </div>
                    <div class="latest-news-item">
                        <a href="#!">   
                            <span class="date stack"><i class="fa fa-calendar" aria-hidden="true"></i>15 Aug</span>
                            <span class="date">15 August 2017</span>
                            <strong>PIL, PSA And IBM Collaborate To Envision And Trial Blockchain-Based Supply Chain Business Network Innovations
                            </strong>
                            <p>Pacific International Lines (Pte) Ltd (“PIL”), PSA International Pte Ltd (“PSA”) and IBM Singapore Pte Ltd (“IBM”), signed a Memorandum of Understanding (MOU) today to explore ...</p>
                        </a>
                    </div>
                    <div class="latest-news-item">
                        <a href="#!">   
                            <span class="date stack"><i class="fa fa-calendar" aria-hidden="true"></i>15 Aug</span>
                            <span class="date">15 August 2017</span>
                            <strong>PIL, PSA And IBM Collaborate To Envision And Trial Blockchain-Based Supply Chain Business Network Innovations
                            </strong>
                            <p>Pacific International Lines (Pte) Ltd (“PIL”), PSA International Pte Ltd (“PSA”) and IBM Singapore Pte Ltd (“IBM”), signed a Memorandum of Understanding (MOU) today to explore ...</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>