<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
   
    
    <div class="container well">
        <h3>Component: Latest on Facebook Component</h3>
        <p>Description: Latest on Facebook
            <br> Default class: .latest-facebook
            <br> Left side class: .latest-news
            <br> Right side class .latest-news.headline.hidden-xs
        </p>
    </div>


     <!-- For backend team -->
    <section class="latest-facebook"> 
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <a href="#!">
                        <h2>Latest on <strong>Facebook</strong></h2>
                    </a>
                    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <nav>
                        <ul class="control-box pager">
                            <li>
                                <a data-slide="prev" href="#latestTrend" class=""><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li>
                                <a data-slide="next" href="#latestTrend" class=""><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <div class="col-xs-12 col-sm-7">
                    <a href="#!" class="Facebook-link">
                        <img src="../img/follow-us.jpg" alt="Follow Us">
                    </a>
                    <div class="clearfix"></div>
                    <div class="carousel slide" id="latestTrend">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-xs-12 col-sm-6">
                                    <a href="#!" class="">
                                        <div class="thumbnail">
                                            <img src="../img/latest-slide1.jpg" alt="sample image">
                                        </div>
                                        <div class="caption">
                                            <p><strong>From Warehouse to Your House: A Parcel’s Delivery Journey</strong></p>
                                            <p>When it comes to online shopping, we have certainly come a long way. Legend has it that the first online purchase was a CD of Sting’s Ten Summoner’s Tales in 1994.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6">
                                    <a href="#!" class="">
                                        <div class="thumbnail">
                                            <img src="../img/latest-slide2.jpg" alt="sample image">
                                        </div>
                                        <div class="caption">
                                            <p><strong>From Warehouse to Your House: A Parcel’s Delivery Journey</strong></p>
                                            <p>When it comes to online shopping, we have certainly come a long way. Legend has it that the first online purchase was a CD of Sting’s Ten Summoner’s Tales in 1994.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-sm-6">
                                    <a href="#!" class="">
                                        <div class="thumbnail">
                                            <img src="../img/latest-slide1.jpg" alt="sample image">
                                        </div>
                                        <div class="caption">
                                            <p><strong>From Warehouse to Your House: A Parcel’s Delivery Journey</strong></p>
                                            <p>When it comes to online shopping, we have certainly come a long way. Legend has it that the first online purchase was a CD of Sting’s Ten Summoner’s Tales in 1994.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="../js/app.min.js"></script>
</body>

</html>