<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div id="vue-holder">
        <div class="container-fluid bg-blue ">
            <!-- component starts -->
            <section class="container latest-news">
                <div class="title">
                    <h4>Latest Pirtek News</h4>
                    <a href="#" class="link desktop cta"> VIEW ALL PIRTEK NEWS </a>
                    <a href="#" class="link non-desktop cta"> VIEW ALL </a>
                </div>
                <ul class="news-item">
                    <li>
                        <a href="#!" class='cta'>
        <img src="https://placehold.it/240x182/D796FF/000000" alt="">
        <div class="date">9th October 2016</div>
        <div class="copy-text">PIRTEK NOW STOCKING GRACO INJECTOR SERIES GL-1 X, XL</div>
        </a>
                    </li>
                    <li>
                        <a href="#!" class='cta'>
        <img src="https://placehold.it/240x182/D796FF/000000" alt="">
        <div class="date">9th October 2016</div>
        <div class="copy-text">PIRTEK NOW STOCKING GRACO INJECTOR SERIES GL-1 X, XL</div>
        </a>
                    </li>
                    <li>
                        <a href="#!" class='cta'>
        <img src="https://placehold.it/240x182/D796FF/000000" alt="">
        <div class="date">9th October 2016</div>
        <div class="copy-text">PIRTEK NOW STOCKING GRACO INJECTOR SERIES GL-1 X, XL</div>
        </a>
                    </li>
                    <li>
                        <a href="#!" class='cta'>
        <img src="https://placehold.it/240x182/D796FF/000000" alt="">
        <div class="date">9th October 2016</div>
        <div class="copy-text">PIRTEK NOW STOCKING GRACO INJECTOR SERIES GL-1 X, XL</div>
        </a>
                    </li>
                    <li>
                        <a href="#!" class='cta'>
        <img src="https://placehold.it/240x182/D796FF/000000" alt="">
        <div class="date">9th October 2016</div>
        <div class="copy-text">PIRTEK NOW STOCKING GRACO INJECTOR SERIES GL-1 X, XL</div>
        </a>
                    </li>
                </ul>
            </section>
            <!-- component ends -->
        </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>