<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
<code>
<em>data-interval="false"</em> To stop default scrolling, place attribute to div.carousel, as example below:
    <br>
    <br>

    &lt; div class="carousel slide " id="myVidCarousel" <strong><em>data-interval="false"</em></strong>  &gt;</code>
  <br>
    <br>  <br>
    <br>
    <div id="vue-holder">
        <section class="container-fluid videosec bg-blue">
            <!-- component starts -->
            <div class="carousel slide " id="myVidCarousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-sm-4 col-xs-12">
                            <div class="video-container">
                                <div class="video-image">
                                    <a href="#" class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></a>
                                    <img src="http://placehold.it/1060x596/CCCCCC">
                                    
                                </div>

                                <div class="video-file">
                                    <div class="video-player-wrapper embed-responsive embed-responsive-16by9">
                                        <iframe src="https://www.youtube.com/embed/oAlyttcLqHg" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <p>This is dummy lorem ipsum.</p>
                        </div>
                        
                    </div>
                    <div class="item">
                        <div class="col-sm-4 col-xs-12">
                            <!-- <div class="video-container">
                                <div class="video-image">
                                    <a href="#" class="video-icon"><i class="fa fa-play" aria-hidden="true"></i></a>
                                    <img src="http://placehold.it/1060x596/CCCCCC">
                                </div>
                                <div class="video-file">
                                    <div class="video-player-wrapper embed-responsive embed-responsive-16by9">
                                        <iframe src="https://www.youtube.com/embed/i54LuLKPtTg" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div> -->
                            <a href="#">
                                <img src="http://placehold.it/1060x596/CCCCCC">
                            </a>
                            <p>This is dummy lorem ipsum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-4 col-xs-12">
                            <a href="#"><img src="http://placehold.it/1060x596/000"></a>
                            <p>This is dummy lorem ipsum.</p>
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" href="#myVidCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myVidCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            
            <!-- component ends -->
        </section>
    </div>
    <script src="../js/app.min.js"></script>
</body>
</html>
