<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!--  <div class="multicarousel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="carousel slide" id="Multicarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-md-2">
                                <a href="#" title="Sample link"><img src="http://placehold.it/1000/0054A6/fff/&amp;text=1" alt=""></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-2">
                                <a href="#" title="Sample link"><img src="http://placehold.it/1000/002d5a/fff/&amp;text=2" alt=""></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-2">
                                <a href="#" title="Sample link"><img src="http://placehold.it/1000/d6d6d6/333&amp;text=3" alt=""></a>
                            </div>
                        </div>          
                        <div class="item">
                            <div class="col-md-2">
                                <a href="#" title="Sample link"><img src="http://placehold.it/1000/002040/eeeeee&amp;text=4" alt=""></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-2">
                                <a href="#" title="Sample link"><img src="http://placehold.it/1000/0054A6/fff/&amp;text=5" alt=""></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-2">
                                <a href="#" title="Sample link"><img src="http://placehold.it/1000/002d5a/fff/&amp;text=6" alt=""></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-2">
                                <a href="#" title="Sample link"><img src="http://placehold.it/1000/eeeeee&amp;text=7" alt=""></a>
                            </div>
                        </div>
                      
                    </div>
                    <a class="left carousel-control" href="#Multicarousel" data-slide="prev" title="Previous"><i class="fa fa-angle-left fa-2x"></i></a>
                    <a class="right carousel-control" href="#Multicarousel" data-slide="next" title="Next"><i class="fa fa-angle-right fa-2x"></i></a>
                  </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <section class="regular slider slick-slider">
                <div>
                    <img src="http://placehold.it/350x300?text=1">
                </div>
                <div>
                    <img src="http://placehold.it/350x300?text=2">
                </div>
                <div>
                    <img src="http://placehold.it/350x300?text=3">
                </div>
                <div>
                    <img src="http://placehold.it/350x300?text=4">
                </div>
                <div>
                    <img src="http://placehold.it/350x300?text=5">
                </div>
                <div>
                    <img src="http://placehold.it/350x300?text=6">
                </div>
            </section>
        </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>