<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <section class="slider variable-width">
                <div>
                    <img src="http://placehold.it/175x100/d84141/000/?text=175x100">
                </div>
                <div>
                    <img src="http://placehold.it/200x100/d84196/000/?text=200x100">
                </div>
                <div>
                    <img src="http://placehold.it/200x100/cf41d8/000/?text=200x100">
                </div>
                <div>
                    <img src="http://placehold.it/150x100/6541d8/000/?text=150x100">
                </div>
                <div>
                    <img src="http://placehold.it/200x100/4165d8/000/?text=200x100">
                </div>
                <div>
                    <img src="http://placehold.it/200x100/41c8d8/000/?text=200x100">
                </div>
                <div>
                    <img src="http://placehold.it/500x100/41d86c/000/?text=500x100">
                </div>
                <div>
                    <img src="http://placehold.it/300x100/9dd841/000/?text=300x100">
                </div>
                <div>
                    <img src="http://placehold.it/150x100/d8b341/000/?text=150x100">
                </div>
            </section>
        </div>
    </div>
    <script src="../js/app.min.js"></script>
    <script type="text/javascript">
    $(document).on('ready', function() {
        $('.variable-width').slick({
            dots: true,
            infinite: true,
            speed: 300,
            autoplay:true,
            slidesToShow: 1,
            // centerMode: true,
            variableWidth: true
        });
    });
    </script>
</body>

</html>