<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend team -->
    <div class="container well">
        <h3>Component: Newslettter</h3>
        <p>Description: Newslettter
            <br> Default class: .tender-notice
        </p>
        <p>Developer note: <em>.active</em>class for year button (ie. 2017/2016) <br>
        <em>.hide</em> class to unactive tables.
        </p>
    </div>
    <!-- Visit FAQ component start-->
    <div class="container">
        <div class="tender-notice news-media">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3>Newsletters</h3>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-filter active" data-target="2017">2017</button>
                        <button type="button" class="btn btn-filter" data-target="2016">2016</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-container">
                        <hr>
                        <table class="table table-filter" data-status="2017">
                            <thead class="cf">
                                <tr>
                                    <td class="quarter">Quarter</td>
                                    <td class="newsletter">Newsletter</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="type">15 AUG</td>
                                    <td data-title="tender description"><a href="/port-users/tender-notices/14-port-services/812-171006-a1" target="_blank">In our first issue for 2017, PSA Singapore shares its continuous commitment towards ensuring that its processes are environmentally sustainable and providing a safe, secure and healthy workplace for their people.</a></td>
                                </tr>
                                <tr>
                                    <td data-title="type">20 AUG</td>
                                    <td data-title="tender description"><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">Mr Bronson Hsieh, Chairman and CEO of Yang Ming Transport Corporation shares his vision of Yang Ming and the current shipping outlook.</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-filter hide" data-status="2016">
                            <thead class="cf">
                                <tr>
                                    <td class="quarter">Quarter</td>
                                    <td class="newsletter">Newsletter</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="type">15 May</td>
                                    <td data-title="tender description"><a href="/port-users/tender-notices/14-port-services/812-171006-a1" target="_blank">In our first issue for 2017, PSA Singapore shares its continuous commitment towards ensuring that its processes are environmentally sustainable and providing a safe, secure and healthy workplace for their people.</a></td>
                                </tr>
                                <tr>
                                    <td data-title="type">12 Jun</td>
                                    <td data-title="tender description"><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">Mr Bronson Hsieh, Chairman and CEO of Yang Ming Transport Corporation shares his vision of Yang Ming and the current shipping outlook.</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="tender-notice news-media">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3>Newsletters 2</h3>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-filter active" data-target="2019">2019</button>
                        <button type="button" class="btn btn-filter" data-target="2020">2020</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-container">
                        <hr>
                        <table class="table table-filter" data-status="2019">
                            <thead class="cf">
                                <tr>
                                    <td class="quarter">Quarter</td>
                                    <td class="newsletter">Newsletter</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="type">15 AUG</td>
                                    <td data-title="tender description"><a href="/port-users/tender-notices/14-port-services/812-171006-a1" target="_blank">In our first issue for 2017, PSA Singapore shares its continuous commitment towards ensuring that its processes are environmentally sustainable and providing a safe, secure and healthy workplace for their people.</a></td>
                                </tr>
                                <tr>
                                    <td data-title="type">20 AUG</td>
                                    <td data-title="tender description"><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">Mr Bronson Hsieh, Chairman and CEO of Yang Ming Transport Corporation shares his vision of Yang Ming and the current shipping outlook.</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-filter hide" data-status="2020">
                            <thead class="cf">
                                <tr>
                                    <td class="quarter">Quarter</td>
                                    <td class="newsletter">Newsletter</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="type">15 May</td>
                                    <td data-title="tender description"><a href="/port-users/tender-notices/14-port-services/812-171006-a1" target="_blank">In our first issue for 2017, PSA Singapore shares its continuous commitment towards ensuring that its processes are environmentally sustainable and providing a safe, secure and healthy workplace for their people.</a></td>
                                </tr>
                                <tr>
                                    <td data-title="type">12 Jun</td>
                                    <td data-title="tender description"><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">Mr Bronson Hsieh, Chairman and CEO of Yang Ming Transport Corporation shares his vision of Yang Ming and the current shipping outlook.</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Visit FAQ component end-->
    <script src="../js/app.min.js"></script>
</body>

</html>