<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- Component Information -->
    <div class="container well">
        <h6>Component: Operations Highlights</h3>
        <p>Description: Operations Highlights
            <br> Default class: .operations-highlights
        </p>
    </div>

    <div class="container well">
        <h6>Operation header</h3>
    </div>

    <!-- operation header start-->
    <div class="operations-highlights">
        <h6><span>Operations</span> Highlights</h6>
        <p>Daily Sailings to:</p>
    </div>
    <!-- operation header end-->

    <div class="container well">
        <h6>Operation highlights</h3>
    </div>


    <!-- Opration Highlighting Start-->
    <div class="operations-highlights">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="operation-left">USA</div>
                <div class="operation-right">2</div>
            </li>
            <li class="list-group-item">
                <div class="operation-left">Japan</div>
                <div class="operation-right">3</div>
            </li>
            <li class="list-group-item">
                <div class="operation-left">Europe</div>
                <div class="operation-right">3</div>
            </li>
        </ul>
    </div>
    <!-- Opration Highlighting End-->

    
    <div class="container well">
        <h6>Template</h6>
    </div>

    <!-- Template -->
    <div class="container">
        <div class='row'>
            <div class="col-xs-12">
                <div class="operations-highlights">
                    <h6><span>Operations</span> Highlights</h6>
                    <p>Daily Sailings to:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="operations-highlights">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="operation-left">USA</div>
                            <div class="operation-right">2</div>
                        </li>
                        <li class="list-group-item">
                            <div class="operation-left">Japan</div>
                            <div class="operation-right">3</div>
                        </li>
                        <li class="list-group-item">
                            <div class="operation-left">Europe</div>
                            <div class="operation-right">3</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="operations-highlights">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="operation-left">USA</div>
                            <div class="operation-right">2</div>
                        </li>
                        <li class="list-group-item">
                            <div class="operation-left">Japan</div>
                            <div class="operation-right">3</div>
                        </li>
                        <li class="list-group-item">
                            <div class="operation-left">Europe</div>
                            <div class="operation-right">3</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/app.min.js"></script>
</body>

</html>