<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend -->
    <section class="other-offices">
        <div class="container">
            <h6>Other Offices</h6>
            <ul>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>psa singapore</h4>
                                <p>460 Alexandra Road Singapore 119963</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>psa singapore</h4>
                                <p>No.7B Keppel Road #01-28 Tanjong Pagar Singapore 089055 Complex</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>Container Services Department </h4>
                                <p>460 Alexandra Road Singapore 119963</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>psa singapore</h4>
                                <p>460 Alexandra Road Singapore 119963</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>psa singapore</h4>
                                <p>460 Alexandra Road Singapore 119963</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>psa singapore</h4>
                                <p>460 Alexandra Road Singapore 119963</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>psa singapore</h4>
                                <p>No.7B Keppel Road #01-28 Tanjong Pagar Singapore 089055 Complex</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>Container Services Department </h4>
                                <p>460 Alexandra Road Singapore 119963</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>psa singapore</h4>
                                <p>460 Alexandra Road Singapore 119963</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <div class="thumbnail">
                            <img src="../img/component/offices/office-1.jpg" alt="benefits-1">
                            <div class="caption">
                                <h4>psa singapore</h4>
                                <p>460 Alexandra Road Singapore 119963</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>


    <!-- FOR TEMPLATE AND TESTING USE -->
    <br><br><br><br><br><br><br><hr><br><br><br><br><br><br><br>

    <!-- For backend team -->
    <div class="container well">
        <div class="row">
            <h3>Component: Career Benefits Component</h3>
            <p>Description: Career Benefits Component thumbnail
                <br> Default class: .career-benefits
            </p>
        </div>
    </div>

   
    <script src="../js/app.min.js"></script>
</body>

</html>