 
 <picture>
        <source srcset="https://placehold.it/1600x710/D796FF/000000" media="(min-width:1141px)">
        <!-- DW -->
        <source srcset="https://placehold.it/2280x1240/F78000/000000" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)">
        <!-- T2x -->
        <!-- <source srcset="https://placehold.it/2280x1240/F78000/000000" media="(min-width:768px) and (min-resolution: 144dpi)"> -->
        <!-- T2x -->
        <!-- <source srcset="https://placehold.it/1140x620/F8E5D1/000000" media="(min-width:768px)"> -->
        <!-- T -->
        <source srcset="https://placehold.it/1280x1600/00E880/000000" media="(min-width:320px)">
        <!-- M -->
        <!--[if IE 9]></video><![endif]-->
        <img srcset="https://placehold.it/1366x643/D796FF/000000" alt="Sample Image">
        <!-- Fallback -->
</picture>