<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="container">
        <section class="psa-commitments">
            <div class="psa-commits">
                <!-- circle -->
                <a href="#!">
                    <figure>
                        <img src="../img/psa-commitments.jpg" alt="">
                        <figcaption>
                            <h3>psa <span>Commitments</span></h3>
                        </figcaption>
                    </figure>
                </a>
                <!-- childs -->
                <ul class="psa-commit-childs">
                    <li class="psa-reverse">
                        <a href="#!">
                            <figure>
                                <span>
                                <img src="../img/icon-security.png" alt="Security">
                                <img class="icon-hrv" src="../img/icon-security-hrv.png" alt="Security">
                            </span>
                                <figcaption>
                                    <p class="heading">security</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <figure>
                                <span>
                                <img src="../img/icon-health.png" alt="Health and safety">
                                <img class="icon-hrv" src="../img/icon-health-hrv.png" alt="Health and safety">
                            </span>
                                <figcaption>
                                    <p class="heading">Health and safety</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li class="psa-reverse">
                        <a href="#!">
                            <figure>
                                <span>
                                <img src="../img/icon-innovation.png" alt="Innovation">
                                <img class="icon-hrv" src="../img/icon-innovation-hrv.png" alt="Innovation">
                            </span>
                                <figcaption>
                                    <p class="heading">innovation</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <figure>
                                <span>
                                <img src="../img/icon-environment.png" alt="Environment">
                                <img class="icon-hrv" src="../img/icon-environment-hrv.png" alt="Environment">
                            </span>
                                <figcaption>
                                    <p class="heading">Environment</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li class="psa-reverse">
                        <a href="#!">
                            <figure>
                                <span>
                                <img src="../img/icon-community.png" alt="Community">
                                <img class="icon-hrv" src="../img/icon-community-hrv.png" alt="Community">
                            </span>
                                <figcaption>
                                    <p class="heading">Community</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <figure>
                                <span>
                                <img src="../img/icon-education.png" alt="Education">
                                <img class="icon-hrv" src="../img/icon-education-hrv.png" alt="Education">
                            </span>
                                <figcaption>
                                    <p class="heading">Education</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>