<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div id="vue-holder">


        <section class="container quick-link">
            <div class="tile x2">
                <div class="searchbox">
                    <form action="">
                        <label for="search">Find Your <strong>Nearest Pirtek centre</strong></label>
                        <div class="search-box">
                            <input type="text" id="search" placeholder="ENTER YOUR SUBURB OR POSTCODE">
                            <button type="submit" class="search-button"><img src="../img/search.png" alt=""></button>
                        </div>
                    </form>
                </div>
                <div class="image-thumb">
                    <a href="#"><img src="http://via.placeholder.com/400x400/101101" alt="First slide">
                                <p>employment<strong>opportunities</strong></p></a>
                    <a href="#"><img src="http://via.placeholder.com/400x400/101101" alt="First slide">
                                <p>employment<strong>opportunities</strong></p></a>
                </div>
            </div>
            <div class="tile x2">
                <a href="#">
                         <img src="http://via.placeholder.com/400x400/202202" alt="First slide">
                    <p>employment<strong>opportunities</strong></p>
                </a>
            </div>
            <div class="tile">
                <div class="image-thumb">
                    <a href="#"><img src="http://via.placeholder.com/400x400/101101" alt="First slide">
                                <p>employment<strong>opportunities</strong></p></a>
                    <a href="#"><img src="http://via.placeholder.com/400x400/101101" alt="First slide">
                                <p>employment<strong>opportunities</strong></p></a>
                </div>
            </div>
            
        </section>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>