<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
<p>Description: Search-nearby.html to include to achive <span class="text-uppercase">nearest pertek form</span><br>
 <code> &lt; section class="search-nearby" &gt;</code>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 </p>

    <div id="vue-holder">

        <section class="container quick-link">
            <div class="tile x2">

            <section class="search-nearby">
        
            <div class="search-area">
                <form action="">
                    <label for="search">Find Your <strong>Nearest Pirtek centre</strong></label>
                    <div class="search-box">
                        <input type="text" id="search" placeholder="ENTER YOUR SUBURB OR POSTCODE">
                        <button type="submit" class="search-button"></button>
                    </div>
                </form>
            </div>

    </section>
                <div class="image-thumb">
                    <a href="#"><img src="http://via.placeholder.com/1000x1000/101101" alt="First slide">
                                <p>employment<strong>opportunities</strong></p></a>
                    <a href="#"><img src="http://via.placeholder.com/1000x1000/5afaaa" alt="First slide">
                                <p>feature<strong>products</strong></p></a>
                </div>
            </div>
            <div class="tile x2">
                <a href="#"><img src="http://via.placeholder.com/1000x1000/202202" alt="First slide">
                            <p>oil and gas<strong>global service locally</strong></p>
                </a>
            </div>
            <div class="tile">
                <div class="image-thumb">
                    <a href="#"><img src="http://via.placeholder.com/1000x1000/562401" alt="First slide">
                                <p>latest<strong>pirtek news</strong></p></a>
                    <a href="#"><img src="http://via.placeholder.com/1000x1000/78321" alt="First slide">
                                <p>community<strong>sponsorship</strong></p></a>
                </div>
            </div>
            
        </section>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>