<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <p>Description: Search-nearby.html to include to achive <span class="text-uppercase">nearest pertek form</span>
        <br>
        <code> &lt; section class="s" &gt;</code>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </p>
    <div id="vue-holder">
        <section class="container quick-link">
            <div class="row tile x2">
                <div class="col-sm-6 singapore-container">
                    <a href="#!">
                        <p>Singapore container volume <span>(TEUs Handled)</span></p>
                        <img src="http://via.placeholder.com/1120x562/202202" alt="">
                    </a>
                </div>
                <div class="col-sm-6 singapore-container-value">
                    <div class="img-sec">
                        <figure>
                            <img src="../img/svg/circle.svg" alt="">
                            <p class="year-to-date">21.77 <span>million</span></p>
                            <figcaption>
                                Year to date
                                <br> AUG 2017
                            </figcaption>
                        </figure>
                    </div>
                    <div class="img-sec">
                        <figure>
                            <img src="../img/svg/circle.svg" alt="">
                            <p class="year-to-date">20.23 <span>million</span></p>
                            <figcaption>
                                Year to date
                                <br>2017
                            </figcaption>
                        </figure>
                    </div>
                    <div class="img-sec">
                        <figure>
                            <img src="../img/svg/circle.svg" alt="">
                            <p class="year-to-date">7.6%<span>change</span></p>
                            <figcaption>
                                % Change
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>




            <div class="row quick-link-bottom">
                <div class="col-sm-3">

                    <div class="core-business">
                        <a href="#"><img src="http://via.placeholder.com/602x778/91FBC7" alt="First slide">
                            <p><strong>core </strong>business</p>
                        </a>
                    </div>

                </div>


                <div class="col-sm-6">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="psa-carreer">
                                <a href="#"><img src="http://via.placeholder.com/1204x545/000000" alt="First slide">    
                                    <p><strong>PSA </strong>careers</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="corporate">
                                <a href="#"><img src="http://via.placeholder.com/1204x233/91FBC7" alt="First slide">    
                                    <p><strong>Corporate </strong>Social Responsibility</p>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3">
                    <div class="corporate">
                        <a href="#"><img src="http://via.placeholder.com/602x778/91FBC7" alt="First slide">
                            <p><strong>Tenders</strong></p>
                        </a>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>