<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Start Quote Carousel -->
                <div class="quotecarousel">
                    <section id="quoteCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quoteCarousel" data-slide-to="0" class=""></li>
                            <li data-target="#quoteCarousel" data-slide-to="1" class="active"></li>
                            <li data-target="#quoteCarousel" data-slide-to="2" class=""></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active left">
                                <picture>
                                    <picture>
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-1-1600-X-550.jpg?h=550&amp;la=en&amp;w=1600&amp;hash=D0564C81F1DA206C840652F21BB4924223A8F1F9" media="(min-width:1141px)">
                                        <!-- DW -->
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/Phinehas-2280-X-982.jpg?h=982&amp;la=en&amp;w=2280&amp;hash=366C89E8149D2CD863272598027AFEDC76685AC7">
                                        <!-- T2x -->
                                        <source srcset="../img/component/quote-banner/quote-slide4-960x413.jpg" media="(min-width:320px)">
                                        <!-- M -->
                                        <img srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-1-1600-X-550.jpg?h=550&amp;la=en&amp;w=1600&amp;hash=D0564C81F1DA206C840652F21BB4924223A8F1F9g" alt="Sample Image">
                                        <!-- Fallback -->
                                    </picture>
                                </picture>
                                <div class="container itemleft txtblack">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>As an MA, I was developed through rotations to different departments and equipment. Each rotation presented tough assignments but the coaching and support structure in PSA enabled me to deliver on each count.</p>
                                    <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                                    <h5>Phinehas Tan</h5>
                                    <p class="designation">Assistant Vice President Engineering</p>
                                </div>
                            </div>
                            <div class="item next left">
                                <picture>
                                    <picture>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-4-1600-X-550.jpg?h=550&amp;la=en&amp;w=1600&amp;hash=2A2B20D0F79A716E470E5F58FAA90DF87F58B053" media="(min-width:1141px)">
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-4-2280-X-982.jpg?h=982&amp;la=en&amp;w=2280&amp;hash=BE267498D47A4710B941F2BDC56FEF0F31B9CA0D" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)">
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-4-2280-X-982.jpg?h=982&amp;la=en&amp;w=2280&amp;hash=BE267498D47A4710B941F2BDC56FEF0F31B9CA0D" media="(min-width:768px) and (min-resolution: 144dpi)">
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-4-2280-X-982.jpg?h=413&amp;la=en&amp;w=960&amp;hash=4F007B879634D1AA1C1CF00AC9D49AE6EAEB2C5A" media="(min-width:320px)">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-4-1600-X-550.jpg?h=550&amp;la=en&amp;w=1600&amp;hash=2A2B20D0F79A716E470E5F58FAA90DF87F58B053" alt="MAP 4">
                                    </picture>
                                </picture>
                                <div class="container  ">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>Being an MA under the Infocomm Technology (ICT) track, I gained additional insights into PSA’s busine ss during my rotation stint in Operations. It was impressive to see the unique One PSA synergy coming to life where ICT and other functions collaborate to deliver seamless container terminal operations and leverage on technology to develop innovative solutions for our mega port.</p>
                                    <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                                    <h5>Jay Lim</h5>
                                    <p class="designation">Deputy Manager Info Comm Technology</p>
                                </div>
                            </div>
                            <div class="item">
                                <picture>
                                    <picture>
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-2-1600-X-550.jpg?h=550&amp;la=en&amp;w=1600&amp;hash=4DB07D9546C80ACF7651EEEBF55627CC040E0373" media="(min-width:1141px)">
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-2-2280-X-982.jpg?h=982&amp;la=en&amp;w=2280&amp;hash=C38834EDA2C56EF2CF83A5C4A2268542A2924362" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)">
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-2-2280-X-982.jpg?h=982&amp;la=en&amp;w=2280&amp;hash=C38834EDA2C56EF2CF83A5C4A2268542A2924362" media="(min-width:768px) and (min-resolution: 144dpi)">
                                        <source srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-2-2280-X-982.jpg?h=413&amp;la=en&amp;w=960&amp;hash=FE8D5FFA7A575B3542F36D0E1401E20D60565C44" media="(min-width:320px)">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img srcset="https://stwebsite-prod-272980-cm.azurewebsites.net/-/media/Feature/ModulePage/QuoteCarousel/MAP-2-1600-X-550.jpg?h=550&amp;la=en&amp;w=1600&amp;hash=4DB07D9546C80ACF7651EEEBF55627CC040E0373" alt="MAP 2 ">
                                    </picture>
                                </picture>
                                <div class="container  txtblack">
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    <p>In the past decade, I was exposed to various functions within the organization. I also took on an overseas assignment to head one of our terminals in Laem Chabang, Thailand. It was tough working in a country with different culture, language and issues, but the challenging environment enabled me to sharpen my business and commercial acumen to develop myself professionally.</p>
                                    <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                                    <h5>Andy Tan Kian Tat</h5>
                                    <p class="designation">Assistant Vice President South East Asia Finance &amp; Investments</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Start Quote Carousel -->
            </div>
        </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>