<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="quotecarousel">
        <section id="quoteCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quoteCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#quoteCarousel" data-slide-to="1"></li>
                <li data-target="#quoteCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#">
                        <picture>
                            <source srcset="../img/component/quote-banner/quote-slide1-1600x550.jpg" media="(min-width:1141px)">
                            <!-- DW -->
                            <source srcset="../img/component/quote-banner/quote-slide1-2280x982.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)">
                            <!-- T2x -->
                            <source srcset="../img/component/quote-banner/quote-slide1-960x413.jpg" media="(min-width:320px)">
                            <!-- M -->
                            <img srcset="../img/component/quote-banner/quote-slide1-1600x550.jpg" alt="Sample Image">
                            <!-- Fallback -->
                        </picture>
                        <div class="container">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .</p>
                            <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                            <h5>Full Name</h5>
                            <p class="designation">Designation.</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        
                        <picture>
                            <source srcset="../img/component/quote-banner/quote-slide2-1600x550.jpg" media="(min-width:1141px)">
                            <!-- DW -->
                            <source srcset="../img/component/quote-banner/quote-slide2-2280x982.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)">
                            <!-- T2x -->
                            <source srcset="../img/component/quote-banner/quote-slide2-960x413.jpg" media="(min-width:320px)">
                            <!-- M -->
                            <img srcset="../img/component/quote-banner/quote-slide2-1600x550.jpg" alt="Sample Image">
                            <!-- Fallback -->
                        </picture>
                        <div class="container">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley."</p>
                            <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                            <h5>Full Name</h5>
                            <p class="designation">Designation.</p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        
                        <picture>
                            <source srcset="../img/component/quote-banner/quote-slide3-1600x550.jpg" media="(min-width:1141px)">
                            <!-- DW -->
                            <source srcset="../img/component/quote-banner/quote-slide3-2280x982.jpg" media="(min-width:768px) and (-webkit-min-device-pixel-ratio: 2)">
                            <!-- T2x -->
                            <source srcset="../img/component/quote-banner/quote-slide3-960x413.jpg" media="(min-width:320px)">
                            <!-- M -->
                            <img srcset="../img/component/quote-banner/quote-slide3-1600x550.jpg" alt="Sample Image">
                            <!-- Fallback -->
                        </picture>
                        <div class="container">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .</p>
                            <i class="fa fa-quote-right pull-right" aria-hidden="true"></i>
                            <h5>Full Name</h5>
                            <p class="designation">Designation.</p>
                        </div>
                    </a>
                </div>
                
            </div>
        </section>
    </div>

    <script src="../js/app.min.js"></script>
</body>

</html>