<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend team -->
    <div class="container well">
        <h3>Component: Rich text Component</h3>
        <p>Description: Rich text Component
            <br> Default class: .rich-text
            <br> Padding top and bottom: .padding-large
            <br> Remove top bottom space from image: .img-compact
        </p>
    </div>
    <div class="container">
        <!-- left side image -->
        <div class="row">
            <section class="rich-text img-compact padding-large">
                <div class="col-sm-6">
                    <img src="../img/component/rich-text/car-image.jpg" alt="">
                </div>
                <div class="col-sm-5 col-sm-push-1">
                    <h3>Heading</h3>
                    <p>
                        Transhipment is the transfer of containers from one vessel to another vessel bound for its final destination, whereas in transit. This is essentially the business PSA is in.
                    </p>
                    <p>
                        Singapore’s strategic location in the heart of Southeast Asia and at the nexus of major shipping routes has made it an important logistic hub and conduit for world trade. Being the world’s top transhipment hub, Singapore is connected to 600 ports, with daily sailings to every major port of call in the world.
                    </p>
                    <p>
                        With its unrivalled connectivity, many small feeder vessels bring containers to Singapore. At the Port of Singapore, these containers get loaded onto large vessels which will then carry the shipment to their final destination.
                    </p>
                </div>
            </section>
        </div>

        <hr>

        <!-- Right side image -->
        <div class="row">
            <section class="rich-text img-compact padding-large">
                
                <div class="col-sm-5">
                    <h3>Heading</h3>
                    <p>
                        Transhipment is the transfer of containers from one vessel to another vessel bound for its final destination, whereas in transit. This is essentially the business PSA is in.
                    </p>
                    <p>
                        Singapore’s strategic location in the heart of Southeast Asia and at the nexus of major shipping routes has made it an important logistic hub and conduit for world trade. Being the world’s top transhipment hub, Singapore is connected to 600 ports, with daily sailings to every major port of call in the world.
                    </p>
                    <p>
                        With its unrivalled connectivity, many small feeder vessels bring containers to Singapore. At the Port of Singapore, these containers get loaded onto large vessels which will then carry the shipment to their final destination.
                    </p>
                </div>

                <div class="col-sm-6 col-sm-push-1">
                    <img src="../img/component/rich-text/car-image.jpg" alt="">
                </div>
            </section>
        </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>