<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>

    <!-- For backend team -->
    <div class="container well">
        <h3>Component: Rich text Component</h3>
        <p>Description: Rich text Component
            <br> Default class: .rich-text
            <br> Padding top and bootm: .padding-large
        </p>
    </div>

    <div class="container">
        <section class="rich-text">
            <h3>&lt;h3&gt;Transhipment&lt;/h3&gt;</h3>
            <p>
                Transhipment is the transfer of containers from one vessel to another vessel bound for its final destination, whereas in transit. This is essentially the business PSA is in.
            </p>
            <p>
                Singapore’s strategic location in the heart of Southeast Asia and at the nexus of major shipping routes has made it an important logistic hub and conduit for world trade. Being the world’s top transhipment hub, Singapore is connected to 600 ports, with daily sailings to every major port of call in the world.
            </p>
            <p>
                With its unrivalled connectivity, many small feeder vessels bring containers to Singapore. At the Port of Singapore, these containers get loaded onto large vessels which will then carry the shipment to their final destination.
            </p>
            <p>
                Why tranship? The value of transhipment lies in that it is more cost efficient and time saving than the vessel making a single direct voyage.
                <br>
                <br> If each vessel sails direct to every port, the number of journeys made will look like the
                <br>
                <br> If the vessels tranship via Singapore, the number of journeys is significantly reduced as shown in figure-2. About 85 per cent of the containers that arrive in Singapore are transhipped to another port of call. Shipping lines use PSA for these modes of transhipment:
            </p>

            <!-- for image -->
            <img src="../img/component/rich-text/full-width-img.jpg" alt="">
            
            <!-- For video -->
            <iframe src="https://www.youtube.com/embed/Vpg9yizPP_g" frameborder="0" allowfullscreen="" id=""></iframe>
            
            <!-- For listing -->
            <ul>
                <li>Hub & Spoke (Main Line Operator to Feeder)</li>
                <li><a href="#!">Cross Strings (Main Line Operator to Main Line Operator)</a></li>
            </ul>
            <p>The concept of transhipment truly connects the world and one is able to ship a container from anywhere to everywhere in the world.</p>

            <h4>&lt;h4&gt;Listing with anchor and without anchor&lt;/h4&gt;</h4>

            <!-- For listing -->
            <ul>
                <li>Hub & Spoke (Main Line Operator to Feeder)</li>
                <li><a href="#!">Cross Strings (Main Line Operator to Main Line Operator)</a></li>
                <li>Hub & Spoke (Main Line Operator to Feeder)</li>
                <li><a href="#!">Cross Strings (Main Line Operator to Main Line Operator)</a></li>
                <li>Hub & Spoke (Main Line Operator to Feeder)</li>
                <li><a href="#!">Cross Strings (Main Line Operator to Main Line Operator)</a></li>
            </ul>
        </section>
    </div>
    <script src="../js/app.min.js"></script>
</body>
</html>