<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div id="vue-holder"></div>
    <div class="container">
        <section class="right-panel">
            <section >
                <h5>civil engineering SOLUTIONS </h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                <p>Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.</p>
            </section>
            
            <section class="date">
                2nd October 2016
            </section>
            <section class="tag">
                <strong>Tags</strong>
                <span>Motorsport</span> <span>Enduro Cup</span>
            </section>
            <section class='share'>
                <strong>Share</strong>
                <ul class="social-links">
                    <li class="facebook">
                        <a href="#">
                                       
                                    </a>
                    </li>
                    <li class="twitter">
                        <a href="#">
                                        
                                    </a>
                    </li>
                </ul>
            </section>
           <!-- Career -->
            <section>
                <h5>APPLY ON SEEK</h5>
                <button type="button" class="btn btn-default  btn-block">apply</button>
            </section>
            <section>
                <h5>APPLY DIRECTLY</h5>
                <p>To apply please email <strong>dcampi@pirtek.com.au</strong> or forward all written applications (with references) to:</p>
                <p><strong>The Centre Manager <br>Pirtek Mount Isa<br>P.O.Box 743<br>Mount Isa QLD 4825</strong></p>
            </section>
            <!-- T9 -->
            <section>
                <h5>Address</h5>
                <p>3-7 Garling Road Kings Park NSW 2148</p>
                <h5>Mailing Address</h5>
                <p>P.O. Box 959 Kings Park NSW 2147</p>
                <h5>Contact</h5>
                <table>
                    <tr>
                        <td><strong>24/7 Support</strong></td>
                        <td>134 222</td>
                    </tr>
                    <tr>
                        <td><strong>Phone</strong></td>
                        <td>(02) 8822 9000</td>
                    </tr>
                    <tr>
                        <td><strong>Fax</strong></td>
                        <td> (02) 8822 9039</td>
                    </tr>
                </table>
                <h5>Got a question?</h5>
                <button type="button" class="btn btn-default  btn-block">ENQUIRE NOW</button>
            </section>
        </section>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>