<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="container">
        <div class="row"></div>
        <div class="col-sm-5">
            <section class="right-panel">
            <h6>Address</h6>
            <p>460 Alexandra Road Singapore 119963 </p>
            <h6>Contact</h6>
            <table>
                <tr>
                    <td>Phone</td>
                    <td>Phone 222</td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>(65) 6274 4261</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>psac_corpcomms@globalpsa.com</td>
                </tr>
            </table>
            <h6>Hours</h6>
            <table>
                <tr>
                    <td colspan="2">Mon – Fri   7:30am – 5pm</td>
                </tr>
                <tr>
                    <td>Sat</td>
                    <td>8am – 12pm</td>
                </tr>
                <tr>
                    <td>Sun</td>
                    <td>Closed</td>
                </tr>
            </table>
        </section>
        </div>
        
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>