<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>

    <p>COMPONENT: form-search</p>
    
    <!-- form-search -->
    <form class="form-search">
        <input type="text" class="input-search" placeholder="Search">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <!-- form-search -->

    <p>COMPONENT: item</p>
    <div class="item">
        <h6><a href="/14-port-services/816-171020-a1">171020-A1 – IT SERVICES</a></h6>
        <p class="result-category"><span class="small">(Our Business)</span></p>
        <p class="result-text"><strong>Tender</strong> Reference NumberPO/CC/025/17 Tender Description PROVISION OF AN ENTERPRISE DATA ANALYTICS SOLUTION FOR PSAI Eligibility / Head Reference Open to vendors with...</p>
    </div>

    <!-- Template        -->
    <p>TEMPLATE start</p>

    

    <!-- For searchpage -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form">
                    <form class="form-search">
                        <input type="text" class="input-search" placeholder="Search">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><strong>Total: <span class="badge badge-info">50</span> results found.</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="item">
                    <h6><a href="/14-port-services/816-171020-a1">171020-A1 – IT SERVICES</a></h6>
                    <p class="result-category"><span class="small">(Our Business)</span></p>
                    <p class="result-text"><strong>Tender</strong> Reference NumberPO/CC/025/17 Tender Description PROVISION OF AN ENTERPRISE DATA ANALYTICS SOLUTION FOR PSAI Eligibility / Head Reference Open to vendors with...</p>
                </div>
                <div class="item">
                    <h6><a href="/14-port-services/816-171020-a1">171027-A1 – MOTORISED MOORING CAPSTAN SYSTEM</a></h6>
                    <p class="result-category"><span class="small">(Our Business)</span></p>
                    <p class="result-text"><strong>Tender</strong> Reference NumberPO/TM/118/17 Tender Description SUPPLY, DESIGN AND INSTALLATION OF MOTORISED MOORING CAPSTAN SYSTEM (WINCH) TO BE INSTALLED ON OTTAWA CYT50 PRIME MOVERS AND TRUCKS...</p>
                </div>
                <div class="item">
                    <h6><a href="/14-port-services/816-171020-a1">171006-A1 – IT SERVICES</a></h6>
                    <p class="result-category"><span class="small">(Our Business)</span></p>
                    <p class="result-text"><strong>Tender</strong> Reference NumberPO/CC/024/17 Tender Description PROVISION OF SERVICES FOR CORPORATE APPLICATIONS DEVELOPMENT Eligibility / Head Reference • Vendor must be Outsystems...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- For searchpage -->
    <script src="../js/app.min.js"></script>
</body>

</html>