<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
<div id="vue-holder"></div>


    
<div class="container">

<section class="search-title">
	<h4>Search results for ‘Lorem ipsum’ </h4>
	<div class="result-count">Results <span>1</span>-<span>5</span> of <span>50</span></div>

</section>

	</div>
    
    <script src="../js/app.min.js"></script>
</body>

</html>