<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
<p>Description: Also used a subcomponent for quick-link.html as <span class="text-uppercase">nearest pertek form</span>
<br> 
<br> 
<br> 
<br> 
<br> 
<br> 
</p>


    <div id="vue-holder"> </div>


    <section class="search-nearby">
        
            <div class="search-area">
                <form action="">
                    <label for="search">Find Your <strong>Nearest Pirtek centre</strong></label>
                    <div class="search-box">
                        <input type="text" id="search" placeholder="ENTER YOUR SUBURB OR POSTCODE">
                        <button type="submit" class="search-button"></button>
                    </div>
                </form>
            </div>

    </section>
    <script src="../js/app.min.js"></script>
</body>

</html>