<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div id="vue-holder"></div>

   <div class="container">
        <section class="side-nav">
           <aside>
               <div class="panel-group" id="accordion">
                   <div class="panel ">
                       <div class="panel-heading">
                           <h4 class="panel-title">
           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
            Hydraulic
           </a>
         </h4>
                       </div>
                       <div id="collapseOne" class="panel-collapse collapse  ">
                           <div class="panel-body">
                               <!-- placeholder for product listing future use -->
                           </div>
                       </div>
                   </div>
                   <div class="panel ">
                       <div class="panel-heading">
                           <h4 class="panel-title">
           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Industrial
           </a>
         </h4>
                       </div>
                       <div id="collapseTwo" class="panel-collapse collapse ">
                           <div class="panel-body">
                               <!-- placeholder for product listing future use -->
                           </div>
                       </div>
                   </div>
                   <div class="panel ">
                       <div class="panel-heading">
                           <h4 class="panel-title">
           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            Mining
           </a>
         </h4>
                       </div>
                       <div id="collapseThree" class="panel-collapse collapse">
                           <div class="panel-body">
                               <!-- placeholder for product listing future use -->
                           </div>
                       </div>
                   </div>
               </div>

<div class="sort-box">
<label for="sortby">sortby</label>
    <select name="sortby" id="sort">
        <option value="alpha">sort: Alphabetic</option>
        <option value="date">sort: date</option>
    </select>
</div>

           </aside>
       </section>
   </div>
    <script src="../js/app.min.js"></script>
</body>

</html>