<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>

    <div id="vue-holder"></div>

<p>Description : <em>aria-expanded="true"</em> used to open default accordion dropdown
<br>
<code> 
&lt;a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" <strong>aria-expanded="true"</strong> &gt;
                        Hydraulic
                       &lt;/a&gt;
  </code><br><br><br>
Class : <em> in</em> added to open drop body <br>
<code>
    &lt; div id="collapseOne" class="panel-collapse collapse <strong>in</strong> " &gt;
</code>

 </p>
<br><br><br>

    <div class="container">
        <section class="side-nav">
            <aside>
            <button class="active-panel"> Hydraulic </button>
                <div class="panel-group" id="accordion">
                    <div class="panel ">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                        Hydraulic
                       </a>
                     </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in ">
                            <div class="panel-body">
                                <!-- placeholder for product listing future use -->
                             <div class="sub-heading">
                                 <a href="#" class="active" > Hydraulic </a>    
                                 <ul>
                                    <li><a href="#"  class="active">Braided Hose</a></li>
                                    <li><a href="#">Multispiral Hose</a></li>
                                 </ul>
                             </div>
                             
                             <div class="sub-heading">
                                 <a href="#"> Industrial PVC </a>    
                                 <ul>
                                    <li><a href="#">Pressure Reducing</a></li>
                                    <li><a href="#">Back Pressure</a></li>
                                 </ul>
                             </div>

                             <div class="sub-heading">
                                 <a href="#"> Thermoplastic </a>    
                                 <ul>
                                    <li><a href="#">Ball</a></li>
                                    <li><a href="#">Plug</a></li>
                                    <li><a href="#">Check</a></li>
                                    <li><a href="#">Needle</a></li>
                                    <li><a href="#">Relief</a></li>
                                    <li><a href="#">Filters</a></li>
                                    <li><a href="#">Metering</a></li>
                                 </ul>
                             </div>

                             <div class="sub-heading">
                                 <a href="#"> Specialty </a>    
                                 <ul>
                                    <li><a href="#">Instrument Manifolds</a></li>
                                    <li><a href="#">Flanged Products</a></li>
                                 
                                 </ul>
                             </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel ">
                        <div class="panel-heading">
                            <h4 class="panel-title">
           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Industrial
           </a>
         </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse ">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="panel ">
                        <div class="panel-heading">
                            <h4 class="panel-title">
           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            Mining
           </a>
         </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
                <div class="sort-box">
                    <label for="sortby">sortby</label>
                    <select name="sortby" id="sort">
                        <option value="alpha">sort: Alphabetic</option>
                        <option value="date">sort: date</option>
                    </select>
                </div>
            </aside>
        </section>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="text-center">
    <button type="button" class="btn btn-default">load more</button>
</div>


    <script src="../js/app.js"></script>
</body>

</html>