<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <ul class="tender-listing list-group">
                    <li class="list-group-item">
                        <p class="listing-heading">Tender Description</p>
                        <p>Citrix Silver Solution Advisor or VMWare Solution Provider with Solution Competency in Desktop Virtualisation and minimum bizSAFE Level 3 certification</p>
                    </li>
                    <li class="list-group-item">
                        <p class="listing-heading">Tender Description</p>
                        <p>Citrix Silver Solution Advisor or VMWare Solution Provider with Solution Competency in Desktop Virtualisation and minimum bizSAFE Level 3 certification</p>
                    </li>
                    <li class="list-group-item">
                        <p class="listing-heading">Tender Description</p>
                        <p>Monday to Friday 8.30am - 12.30pm</p>
                        <p>1.30pm - 5.00pm</p>
                    </li>
                    <li class="list-group-item">
                        <p class="listing-heading">Order listing</p>
                        <ol>
                            <li>The charges indicated above are inclusive of Goods &amp; Services Tax at 7%</li>
                            <li>Website address : http://www.singaporepsa.com/port-users/tender-notices</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>