<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend team -->
    <div class="container well">
        <h3>Component: Tender Notices</h3>
        <p>Description: Tender Notices
            <br> Default class: .tender-notice
        </p>
    </div>
    <!-- Visit FAQ component start-->
    <div class="container">
        <div class="tender-notice">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3><span>Tender</span> Notices</h3>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-filter active" data-target="all">All tenders</button>
                        <button type="button" class="btn btn-filter" data-target="october">October</button>
                        <button type="button" class="btn btn-filter" data-target="september">September</button>
                        <button type="button" class="btn btn-filter" data-target="august">August</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-container">
                        <table class="table table-filter" data-status="october">
                            <caption><span class="badge">5</span>Advertisement date: 6 Oct 2017</caption>
                            <thead>
                                <tr>
                                    <td class="no">No.</td>
                                    <td class="type">type</td>
                                    <td class="description">tender description</td>
                                    <td class="status">status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A(1)</td>
                                    <td>IT SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/812-171006-a1" target="_blank">PROVISION OF SERVICES FOR CORPORATE APPLICATIONS DEVELOPMENT</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                                <tr>
                                    <td>A(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">TERM CONTRACT FOR THE PROVISION OF LABOUR AND MATERIALS FOR OVERHAULING OF FUEL INJECTION PUMPS AND INJECTORS FOR 2 YEARS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">PENDING AWARD</a></td>
                                </tr>
                                <tr>
                                    <td>B(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/813-171006-b1" target="_blank">DESIGN, SUPPLY AND INSTALL CHASSIS ANTI LIFT SENSOR, BRACKET AND CABLING AND ANY OTHER ACCESSORY RELATED TO THE SYSTEM INCLUDING TESTING OF CHASSIS ANTI LIFT (CAL) SYSTEM FOR VARIOUS RUBBER TYRE GANTRY MODELS IN KEPPEL AND BRANI TERMINALS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">awarded</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-filter" data-status="october">
                            <caption><span class="badge">5</span>Advertisement date: 16 Oct 2017</caption>
                            <thead>
                                <tr>
                                    <td class="no">No.</td>
                                    <td class="type">type</td>
                                    <td class="description">tender description</td>
                                    <td class="status">status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/815-171013-a1" target="_blank">REPLACEMENT OF MAIN HOIST, TROLLEY AND GANTRY MOTORS, REDUCERS, BRAKES AND COUPLINGS ON QUAY CRANES AT PASIR PANJANG TERMINAL</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-filter" data-status="september">
                            <caption><span class="badge">5</span>Advertisement date: 7 sep 2017</caption>
                            <thead>
                                <tr>
                                    <td class="no">No.</td>
                                    <td class="type">type</td>
                                    <td class="description">tender description</td>
                                    <td class="status">status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">TERM CONTRACT FOR THE PROVISION OF LABOUR AND MATERIALS FOR OVERHAULING OF FUEL INJECTION PUMPS AND INJECTORS FOR 2 YEARS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                                <tr>
                                    <td>A(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">TERM CONTRACT FOR THE PROVISION OF LABOUR AND MATERIALS FOR OVERHAULING OF FUEL INJECTION PUMPS AND INJECTORS FOR 2 YEARS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">PENDING AWARD</a></td>
                                </tr>
                                <tr>
                                    <td>A(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">TERM CONTRACT FOR THE PROVISION OF LABOUR AND MATERIALS FOR OVERHAULING OF FUEL INJECTION PUMPS AND INJECTORS FOR 2 YEARS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">awarded</a></td>
                                </tr>
                                <tr>
                                    <td>A(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">TERM CONTRACT FOR THE PROVISION OF LABOUR AND MATERIALS FOR OVERHAULING OF FUEL INJECTION PUMPS AND INJECTORS FOR 2 YEARS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">open</a></td>
                                </tr>
                                <tr>
                                    <td>A(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">TERM CONTRACT FOR THE PROVISION OF LABOUR AND MATERIALS FOR OVERHAULING OF FUEL INJECTION PUMPS AND INJECTORS FOR 2 YEARS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-filter" data-status="august">
                            <caption><span class="badge">5</span> Advertisement date: 4 Aug 2017</caption>
                            <thead>
                                <tr>
                                    <td class="no">No.</td>
                                    <td class="type">type</td>
                                    <td class="description">tender description</td>
                                    <td class="status">status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A(1)</td>
                                    <td>IT SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/788-170804-a1" target="_blank">DESIGN, SUPPLY, DELIVERY, INSTALLATION, TESTING, COMMISSIONING AND MAINTENANCE OF OPERATIONS VIRTUAL DESKTOP INFRASTRUCTURE (VDI)</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-filter" data-status="august">
                            <caption><span class="badge">5</span>Advertisement date: 18 Aug 2017</caption>
                            <thead>
                                <tr>
                                    <td class="no">No.</td>
                                    <td class="type">type</td>
                                    <td class="description">tender description</td>
                                    <td class="status">status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A(1)</td>
                                    <td>ENGINEERING SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/791-170818-a1" target="_blank">TERM CONTRACT FOR THE PROVISION OF LABOUR AND MATERIALS FOR OVERHAULING OF FUEL INJECTION PUMPS AND INJECTORS FOR 2 YEARS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                                <tr>
                                    <td>B(1)</td>
                                    <td>SPARE PARTS</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/792-170818-b1" target="_blank">FIXED-PRICE TERM CONTRACT FOR THE SUPPLY AND DELIVERY OF VEHICLE SPARE PARTS FOR 2 YEARS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                                <tr>
                                    <td>C(1)</td>
                                    <td>VIDEO &amp; TELEMATICS SOLUTION</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/793-170818-c1" target="_blank">SUPPLY, DELIVERY, TESTING, INSTALLATION AND COMMISSIONING OF A VIDEO &amp; TELEMATICS SOLUTION FOR PSA PRIME MOVERS AND TRAILERS</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                                <tr>
                                    <td>D(1)</td>
                                    <td>IT SERVICES</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/794-170818-d1" target="_blank">SUPPLY, DELIVERY, INSTALLATION, TESTING, COMMISSIONING AND MAINTENANCE OF DATA CENTER INFRASTRUCTURE MANAGEMENT WITH ASSET MANAGEMENT TRACKING VIA RFID SYSTEM</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                                <tr>
                                    <td>E(1)</td>
                                    <td>MECHANICAL AND ELECTRICAL WORKS</td>
                                    <td><a href="/port-users/tender-notices/14-port-services/795-170818-e1" target="_blank">REPLACEMENT OF LOW VOLTAGE SWITCHBOARDS AT KEPPEL DISTRIPARK, PASIR PANJANG TERMINAL AND SEMBAWANG WHARVES</a></td>
                                    <td><a href="" class="btn btn-default btn-xs">Open</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Visit FAQ component end-->
    <script src="../js/app.min.js"></script>
</body>

</html>