<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- Component Information -->
    <div class="container well">
        <h6>Component: Tender listing &amp; Tender status</h3>
        <p>Description: Latest on Facebook
            <br> Tender listing: .tender-listing.list-group
            <br> Tender status: .tender-status
        </p>
    </div>
    

    <div class="container well">
        <h6>Tender listing component markup</h3>
    </div>

    <!-- tender-listing start-->
    <ul class="tender-listing list-group">
        <li class="list-group-item">
            <p class="listing-heading">Tender Description</p>
            <p>Citrix Silver Solution Advisor or VMWare Solution Provider with Solution Competency in Desktop Virtualisation and minimum bizSAFE Level 3 certification</p>
        </li>
        <li class="list-group-item">
            <p class="listing-heading">Tender Description</p>
            <p>Citrix Silver Solution Advisor or VMWare Solution Provider with Solution Competency in Desktop Virtualisation and minimum bizSAFE Level 3 certification</p>
        </li>
        <li class="list-group-item">
            <p class="listing-heading">Tender Description</p>
            <p>Monday to Friday 8.30am - 12.30pm</p>
            <p>1.30pm - 5.00pm</p>
        </li>
        <li class="list-group-item">
            <p class="listing-heading">Order listing</p>
            <ol>
                <li>The charges indicated above are inclusive of Goods &amp; Services Tax at 7%</li>
                <li>Website address : http://www.singaporepsa.com/port-users/tender-notices</li>
            </ol>
        </li>
    </ul>
    <!-- tender-listing End-->

    <div class="container well">
        <h6>Tender status component markup</h3>
    </div>
    
    <!-- tender-status End-->
    <div class="tender-status">
        <ul class="list-group">
            <li class="list-group-item">
                <p>tender</p>
                <p class="status-result">status</p>
            </li>
            <li class="list-group-item">
                <p class="status-result">open</p>
            </li>
            <li class="list-group-item">
                <p>tender</p>
                <p class="status-result">Closing Date / Time</p>
            </li>
            <li class="list-group-item">
                <p>28 Aug 2017 at
                    <br> 4.00pm Sharp</p>
            </li>
            <li class="list-group-item">
                <p>tender</p>
                <p class="status-result">Document Fee</p>
            </li>
            <li class="list-group-item">
                <p class="status-result">S$64.20</p>
            </li>
            <li class="list-group-item">
                <p>tender</p>
                <p class="status-result">Contact Information</p>
            </li>
            <li class="list-group-item">
                <p> Mr Chi Chiew Chuen TEL no- 6321 2316</p>
            </li>
        </ul>
        <div class="reg-btn">
            <a href="" class="btn btn-primary btn-md">register here</a>
        </div>
    </div>
    <!-- tender-status End-->

    <div class="container well">
        <h6>Template</h6>
    </div>
    <!-- For template Start-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <ul class="tender-listing list-group">
                    <li class="list-group-item">
                        <p class="listing-heading">Tender Description</p>
                        <p>Citrix Silver Solution Advisor or VMWare Solution Provider with Solution Competency in Desktop Virtualisation and minimum bizSAFE Level 3 certification</p>
                    </li>
                    <li class="list-group-item">
                        <p class="listing-heading">Tender Description</p>
                        <p>Citrix Silver Solution Advisor or VMWare Solution Provider with Solution Competency in Desktop Virtualisation and minimum bizSAFE Level 3 certification</p>
                    </li>
                    <li class="list-group-item">
                        <p class="listing-heading">Tender Description</p>
                        <p>Monday to Friday 8.30am - 12.30pm</p>
                        <p>1.30pm - 5.00pm</p>
                    </li>
                    <li class="list-group-item">
                        <p class="listing-heading">Order listing</p>
                        <ol>
                            <li>The charges indicated above are inclusive of Goods &amp; Services Tax at 7%</li>
                            <li>Website address : http://www.singaporepsa.com/port-users/tender-notices</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="tender-status">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>tender</p>
                            <p class="status-result">status</p>
                        </li>
                        <li class="list-group-item">
                            <p class="status-result">open</p>
                        </li>
                        <li class="list-group-item">
                            <p>tender</p>
                            <p class="status-result">Closing Date / Time</p>
                        </li>
                        <li class="list-group-item">
                            <p>28 Aug 2017 at
                                <br> 4.00pm Sharp</p>
                        </li>
                        <li class="list-group-item">
                            <p>tender</p>
                            <p class="status-result">Document Fee</p>
                        </li>
                        <li class="list-group-item">
                            <p class="status-result">S$64.20</p>
                        </li>
                        <li class="list-group-item">
                            <p>tender</p>
                            <p class="status-result">Contact Information</p>
                        </li>
                        <li class="list-group-item">
                            <p> Mr Chi Chiew Chuen TEL no- 6321 2316</p>
                        </li>
                    </ul>
                    <div class="reg-btn">
                        <a href="" class="btn btn-primary btn-md">register here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>