<!DOCTYPE html>
<html lang="en">
<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="container">
         <div class="tender-header">
            <h3>170804-A1 – IT SERVICES</h3>
            <p class="subheading">Tender Reference Number  - PO/CC/021/17</p>    
            <p class="tender-ref">PO/CC/021/17</p>         
         </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>