<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend team -->
    <div class="container well">
        <div class="row">
            <div class="col-sm-6">
        <h3>Component: Terminal Component</h3>
        <p>Description: Terminal Component
            <br> Default class: .terminal
            <br> Padding top and bootm: .padding-large
        </p>
    </div></div> </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <section class="terminal">
                    <p class=terminal-heading>Tanjong Pagar Terminal</p>
                    <img src="../img/component/terminal/terminal-1.jpg" alt="">
                    <div class="terminal-container">
                        <button type="button"  class="terminal-heading btn-block">
                            Facilities
                        </button>
                        <ul class="collapse">
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <section class="terminal">
                    <p class=terminal-heading>Tanjong Pagar Terminal</p>
                    <img src="../img/component/terminal/terminal-1.jpg" alt="">
                    <div class="terminal-container">
                        <button type="button"  class="terminal-heading btn-block">
                            Facilities
                        </button>
                        <ul class="collapse">
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <section class="terminal">
                    <p class=terminal-heading>Tanjong Pagar Terminal</p>
                    <img src="../img/component/terminal/terminal-1.jpg" alt="">
                    <div class="terminal-container">
                        <button type="button"  class="terminal-heading btn-block">
                            Facilities
                        </button>
                        <ul class="collapse">
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-6">
                <section class="terminal">
                    <p class=terminal-heading>Tanjong Pagar Terminal</p>
                    <img src="../img/component/terminal/terminal-1.jpg" alt="">
                    <div class="terminal-container">
                        <button type="button"  class="terminal-heading btn-block">
                            Facilities
                        </button>
                        <ul class="collapse">
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                            <li>
                                <div class="col-xs-9 col-sm-10">
                                    <p>dummy text</p>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <p>10</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
    <script src="../js/app.min.js"></script>
</body>

</html>