<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend -->
    <div class="container well">
        <div class="row">
            <h4>Component: Thumbnails</h4>
            <p>Description: Brochures
                <br> Default class: .thumbnails
            </p>
        </div>
    </div>
    <!-- FOR TEMPLATE AND TESTING USE ONLY-->

    <!-- thumbanils component Start -->
    <div class="thumbnails">
        <img src="../img/component/brochures/brochure-1.jpg" alt="brochure">
        <div class="caption-text">
            <h6>PSA Singapore Terminals</h6>
            <a href="../pdf/PSA-Career-Brochure-B_-2016_v2.pdf" target="_blank" class="btn btn-primary btn-sm solid-hrv">Download pdf</a>
        </div>
    </div>
    <!-- thumbanils component End -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- For backend team -->
    <div class="container well">
        <div class="row">
            <h4>Template</h4>
            <p>Description: .col-sm-6(half width) and .col-sm-6(half width)</p>
        </div>
    </div>


    <!-- Template -->
    <div class="container">
        <div class="row remove-padding-xs">
            <div class="col-sm-6">
                <div class="thumbnails">
                    <img src="../img/component/brochures/brochure-1.jpg" alt="brochure">
                    <div class="caption-text">
                        <h6>PSA Singapore Terminals</h6>
                        <a href="../pdf/PSA-Career-Brochure-B_-2016_v2.pdf" target="_blank" class="btn btn-primary btn-sm solid-hrv">Download pdf</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnails">
                    <img src="../img/component/brochures/brochure-2.jpg" alt="brochure">
                    <div class="caption-text">
                        <h6>PSA careers</h6>
                        <a href="../pdf/PSA-Career-Brochure-B_-2016_v2.pdf" target="_blank" class="btn btn-primary btn-sm solid-hrv">Download pdf</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->
    <script src="../js/app.min.js"></script>
</body>

</html>