<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIRTEK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div id="vue-holder"> </div>

<p>Description: default class <br>
creates 4x tile for industry page
</p>

   <div class="container">

        <section class="tile">
              <div class="item">
                       <ul>
                           <li><a href="#"><img src="../img/civil-eng.jpg"  alt="industry type">
                               <p>Civil Engineering</p></a>
                           </li>
                           <li><a href="#"><img src="../img/mine.jpg"  alt="industry type">
                               <p>mining</p></a>
                           </li>
                           <li><a href="#"><img src="../img/eng.jpg"  alt="industry type">
                               <p>engineering</p></a>
                           </li>
                           <li><a href="#"><img src="../img/earth-move.jpg"  alt="industry type">
                               <p>earthmoving</p></a>
                           </li>
                           <li><a href="#"><img src="../img/auto.jpg"  alt="industry type">
                               <p>automotive</p></a>
                           </li> <li><a href="#"><img src="../img/oil-gas.jpg" alt="industry type">
                               <p>oil & gas</p></a>
                           </li>
                           <li><a href="#"><img src="../img/construction.jpg"  alt="industry type">
                               <p>construction</p></a>
                           </li>
                           <li><a href="#"><img src="../img/transport.jpg" alt="industry type">
                               <p>transport</p></a>
                           </li>
                           <li><a href="#"><img src="../img/manufacture.jpg"alt="industry type">
                               <p>manufacturing</p></a>
                           </li>
                           <li><a href="#"><img src="../img/material.jpg" alt="industry type">
                               <p>material handling</p></a>
                           </li> <li><a href="#"><img src="../img/marine.jpg" alt="industry type">
                               <p>marine</p></a>
                           </li>
                           <li><a href="#"><img src="../img/defence.jpg" alt="industry type">
                               <p>defence</p></a>
                           </li>
                           
                       </ul>
                   </div>
           
       </section>


<br><br><br><br><br>
<p>Description: Class name <em>product</em>  <br>
creates 3x tile for product page
</p>
<br><br><br><br>


     <section class="tile product">
      <div class="title">
                <a href="/Products/ProductCategory" class="link desktop cta">View all Product Category</a>
                <a href="/Products/ProductCategory" class="link non-desktop cta">View all</a>
      </div>

              <div class="item">
                       <ul>
                           <li><a href="#"><img src="../img/hose-tube.jpg"  alt="industry type">
                               <p>Hose & tubing</p></a>
                           </li>
                           <li><a href="#"><img src="../img/fitting.jpg"  alt="industry type">
                               <p>fitting</p></a>
                           </li>
                           <li><a href="#"><img src="../img/equipment.jpg"  alt="industry type">
                               <p>equipment</p></a>
                           </li>
                           <li><a href="#"><img src="../img/accesories.jpg"  alt="industry type">
                               <p>accessories</p></a>
                           </li>
                           <li><a href="#"><img src="../img/quick-couple.jpg"  alt="industry type">
                               <p>quick coupling</p></a>
                           </li> <li><a href="#"><img src="../img/instrument.jpg" alt="industry type">
                               <p>instrument</p></a>
                           </li>
                           
                           
                       </ul>
                   </div>
           
       </section>


          </div>


    <script src="../js/app.min.js"></script>


</body>

</html>