<!DOCTYPE html>
<html lang="en">

<head>
    <title>PSA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <!-- For backend team -->
    <div class="container well">
        <h3>Component: Visit FAQ Component</h3>
        <p>Description: Visit FAQ
            <br> Default class: .visit-faq
        </p>
    </div>

    <!-- Visit FAQ component start-->
    <div class="visit-faq">
        <div class="container">
            <div class="row ">
                <div class="col-md-9 col-xs-12">
                    <p>want to know more about our tender process</p>
                    <h6>visit our faq page</h6>
                </div>
                <div class="col-md-3 col-xs-12">
                    <a href="" class="btn btn-primary btn-sm">faq</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Visit FAQ component end-->

    <script src="../js/app.min.js"></script>
</body>

</html>